[2021-06-17 11:14] avelino opened #558 "Report for `F` ... is for lots of things to Fix!"
[![Go Report Card](https://goreportcard.com/badge/github.com/prest/prest)](https://goreportcard.com/report/github.com/prest/prest)

https://goreportcard.com/report/github.com/prest/prest

related #510

[2021-06-22 11:14] avelino opened #561 "PREST_SSL_MODE is PostgreSQL config not http ssl - and other ssl variables"
We are using the `PREST_SSL_MODE` variable for ssl configuration of the postgres not http server.

The variable name refers to prest's ssl configuration (api rest, i.e. http) not postgres

We need to change it to: `PREST_PG_SSL_MODE`

We can't break compatibility with whoever is using this variable, we need to give a ⚠️  **warning** to whoever is using

**Vars:**
- `PREST_SSL_MODE ` -> `PREST_PG_S

[2021-06-22 17:04] fabriziomello commented on #561
+1

I'm just wondering if we should maintain it in sync with [libpq environment variables](https://www.postgresql.org/docs/current/libpq-envars.html) just adding `PREST_` prefix.

[2021-07-03 21:29] avelino opened #565 "Measuring Security Risks - Scorecard"
ref: https://github.com/ossf/scorecard/blob/main/.github/workflows/integration.yml

[2021-07-06 08:29] avelino commented on #545
@tiaguinho I like new things, describe what is the difference between goreleaser (used today) and bazel, what bazel does best and especially worst

I saw that you have to create one bazel file per package, is that bad

Update the description with this information

[2021-07-09 16:33] OlegZharkov opened #568 "docker-compose.yml doesn't work"
https://github.com/prest/prest/blob/main/docker-compose.yml
[code]

[2021-07-09 20:43] avelino commented on #568
what version are you using of `docker compose`?

I just tested it and it worked with the version:
[code]

**log:**
[code]

[2021-07-12 17:28] OlegZharkov commented on #568
thanks for answering @avelino!

My docker-compose:
[code]

Is it out of date already?

[2021-07-13 17:19] OlegZharkov commented on #568
worked after update, thanks @avelino

[2021-07-13 17:19] #568 closed

[2021-07-13 19:20] OlegZharkov opened #569 "_distinct=true doesn't work"
please help, I was following official docs https://docs.prestd.com/query-statements/ and I couldn't make distinct work.
first of all it says ```"?distinct=true"```, so I tried
?_select=sample&_page_size=10&_page=1&distinct=true
and it says:
[code]
if I run it with:
?_select=sample&_page_size=10&_page=1&_distinct=true
the result is:
[code]

which doesn't look really distinct, what is the appropriat

[2021-07-13 22:15] avelino commented on #569
@OlegZharkov **distinct** must start with prefix `_` (example: `_distinct=true`), in your query you are using without `_`

how I want it:
[code]

as it should be:
[code]

[2021-07-13 22:22] OlegZharkov commented on #569
Thanks a lot for answering @avelino! could you please fix it in the docs? https://docs.prestd.com/query-statements/#filters-parameters-query-string---get

Anyway, I tried it with `_distinct=true` and it still doesn't work. Here's an example:
http://coviddbtest.gq/app_db/api/isolates?_select=sample&_page_size=10&_page=1&_distinct=true

[2021-07-13 23:34] avelino commented on #569
updated documentation, I will understand the possible problem, keep the issue updated

[2021-07-14 12:45] OlegZharkov commented on #569
thanks for working on it! @avelino

[2021-07-14 17:35] #425 closed

[2021-07-25 00:25] fabio-smu commented on #477
It will be nice to use this feature. Any plans to implement?

[2021-08-11 17:07] arxdsilva opened #578 "querying a non existent db breaks new requests"
**Describe the bug**
Running the server with default configs and querying a db that isnt configured makes the server misbehaviour and use as the default DB one that doesnt exist. This makes all subsequent requests (that dont use the db in path) to fail, also is valid when having a high amount of requests in multiple DBs, as they may fail due to how the server is being setted right now.

**To Repro

[2021-08-11 20:19] avelino opened #579 "unit testing without postgres dependency (mock)"
### Discussed in https://github.com/prest/prest/discussions/562

<div type='discussions-op-text'>

<sup>Originally posted by **avelino** June 23, 2021</sup>
The `postgres` adapter depends on the postgreSQL (database) server to run (`go test`), i.e. it was developed with integration testing.

Integration testing is necessary, but it raises the barrier for new members to contribute, i.e. for a perso

[2021-08-12 17:37] avelino commented on #569
@OlegZharkov problem fixed by @louis77 (my eternal gratitude), generated a new version

## docker
- `prest/prest:latest`
- `prest/prest:v1.0.9`
- `prest/prest:v1`

https://github.com/prest/prest/releases/tag/v1.0.9

[2021-08-12 17:37] #569 closed

[2021-08-13 09:11] avelino commented on #578
#497

[2021-08-13 09:11] #578 closed

[2021-08-18 07:00] wuzhen1228 commented on #542
I think better documentation should be done first!  lol

[2021-08-18 08:57] avelino commented on #542
@wuzhen1228 I agree, we are waiting for your contribution, the project only gets better when we have other people contributing

[2021-08-23 01:39] arxdsilva commented on #497
Hi @inv2004, we might add #584 as a small fix for this. Wont solve the problem but we want to give more flexibility over the multiple DB setup, so you wont need to share the same host/username/password on multiple databases in the same API. I'm not sure how It'll be done since its still to be discussed, but might get a rework on config files and a new middleware that helps the query swap between d

[2021-08-23 07:02] wuzhen1228 opened #585 "How to insert json into postgre?"
my json

[code]

In the body, `pub_props` is nested json
prest prompt `"sql: converting argument $7 type: unsupported type map[string]interface {}, a map"`

How to solve it?

[2021-08-23 11:19] felipeweb commented on #585
@wuzhen1228  Could you share your table structure?

[2021-08-23 18:46] avelino commented on #585
@wuzhen1228
in your json has a typo, was it a typo `,` or are you using it this way in the request?

`"pub_props" : {"age":"22","sex",0}`

from: `"sex",0`
to: `"sex":0`

[2021-08-24 02:14] wuzhen1228 commented on #585
yes，but it still prompts an error

[2021-08-24 02:15] wuzhen1228 commented on #585
The type of the field is jsonb

[2021-08-24 02:16] wuzhen1228 commented on #585
The type of the field is jsonb

[2021-08-29 10:39] #510 closed

[2021-08-29 10:39] #555 closed

[2021-08-29 10:41] avelino commented on #555
I tried to simplify as much as possible the way to run the tests locally using docker (to not keep the dependency on having local postgres)

we haven't done a mock migration of postgres yet, but I believe it is the best way forward
https://github.com/prest/prest#running-local-unit-tests-integratione2e

[2021-08-29 11:07] #558 closed

[2021-08-29 11:09] #497 closed

[2021-08-29 13:09] timuckun opened #590 "Getting a "database not registered" issue even though I can connect to the database"
I have set up a docker compose entry for prest and connected to the database using the  PGREST_PG_URL environment variable with ssl disabled.

I then followed the instructions to set up a user and log in as that user.  When do http://localhost:3000/tables I see that the view I want to serve is there.

}
schema: "api",
name: "company_announcements",
type: "view",
owner: "postgres"
}

When I go to s

[2021-08-29 15:52] avelino opened #591 "write documentation `?_returning` filter parameter (query string)"
we have the `_returning` filter (parameter) implemented, but it is not documented

- [markdown file](https://github.com/prest/prest/blob/main/docs/query-statements/_index.en.md)
- [documentation topic](https://docs.prestd.com/query-statements/#filters-parameters-query-string---get)
- [implementation code](https://github.com/prest/prest/blob/3bcad8231f0e9a6c352db5009ba1490cf033f938/adapters/postgre

[2021-08-30 10:45] avelino opened #593 "github actions: send coveralls"
recently we changed travisci to github action, the coveralls step was not working (the sending), I decided to disable this step to proceed with the replacement, but I needed to enable the step

https://github.com/prest/prest/blob/3bcad8231f0e9a6c352db5009ba1490cf033f938/.github/workflows/build.yml#L97-L103

is giving the error (_is giving the error without returning the problem_)
[code]

[2021-08-30 18:50] avelino commented on #472
fixed on #560

[2021-08-30 18:50] #472 closed

[2021-08-31 08:49] #593 closed

[2021-08-31 14:39] avelino opened #595 "auth0 support"
**Is your feature request related to a problem? Please describe.**
_pREST Authentication System_ (we generate jwt) with @auth0 support

**Describe the solution you'd like**
I don't have a defined architecture, need to think about how to keep the support for authentication and existing more auth0 (not to replace but to add), parameterizable via configuration file.

auth0 package for go: https://aut

[2021-09-01 22:14] avelino commented on #590
Share here you create table and how the local prest is running, via docker, binary and which environment variables or toml

[2021-09-05 16:43] avelino opened #601 "database not registered: /{DATABASE}/{SCHEMA}/{TABLE}"
**Describe the bug**
Is not locating the database when accessing the table read endepoint

endpoint: GET `/prest/public/XXX`

[code]

**To Reproduce**
using the existing docker-compose (`docker-compose.yml`) and creating a:
1.`docker-compose up`
2. create this tables in Postgres
[code]
2. access this endpoint **GET** `/prest/public/untitled_table_196`

**Expected behavior**
A clear and concise des

[2021-09-05 19:42] arxdsilva commented on #601
shouldnt the binary also load the postgres adapter? This should fix it easily

[2021-09-08 12:32] #590 closed

[2021-09-08 12:32] #601 closed

[2021-09-08 16:52] #341 closed

[2021-09-10 13:12] avelino opened #609 "page with database listing"
pREST has endpoint for database listing (`/databases`), before listing tables we need to list the database, only after selecting the database we can list the tables

[2021-09-10 13:18] avelino opened #610 "table edit/create not working"
URI: `/name/edit`

[code]

[2021-09-15 07:10] moziie opened #605 "EXECUTING SQL SCRIPTS,error"
Deploy using Docker
when I test the 'EXECUTING SQL SCRIPTS'
 sh curl -X POST "http://localhost:3000/_QUERIES/data/update" -d '{"name":"test"}'
{
        "error": "could not get script data/update, could not load /home/fanwu/queries/data/update.write.sql"
}

##the sql file I wrote is here:
ll /home/fanwu/queries/data/update.write.sql
-rw-r--r--. 1 root root 131 9月  15 14:50 /home/fanwu/queries/data

[2021-09-15 08:25] avelino commented on #605
Which version are you using?

binary/docker or branch main

[2021-09-15 08:35] moziie commented on #605
Docker used，and the command is :
docker run -d -p 3000:3000 --network=host -e PREST_PG_URL=postgres://postgres:75hne63@127.0.0.1:5432/fanwu?sslmode=disable -e PREST_DEBUG=true prest/prest:v1

[2021-09-15 20:27] avelino opened #606 "health check endpoint"
**Is your feature request related to a problem? Please describe.**
A health check is a special REST API implementation that you can use to validate the status of pREST and its dependencies.

**Describe the solution you'd like**
endpoint: `/_health`

The API endpoint handler performs various checks, such as:
- the status of the connections to the infrastructure services used by the service instance

[2021-09-15 20:32] arxdsilva commented on #606
we can solve the raised problem with a `/liveness` endpoint, this will be only related to the api itself being up and able to respond, while the `/_health` can check for dbs connections. What do you mean by diskspace?

[2021-09-15 20:33] avelino commented on #605
This problem has been corrected in this contribution, but a version with the correction of this problem has not yet been generated #602

I will release it in the next few days - sorry

[2021-09-30 08:11] avelino opened #608 "dynamic database/schema name"
today it is defined in hardcode the name of the database and schema, we need to list this dynamically

https://github.com/prest/prest.admin/blob/2d3e258342ec6ec64bf4065ff73dc4c24572ad45/src/pages/index.tsx#L31

pREST Server endpoint: `/databases`

[code]

schema comes from the table endpoint `/tables`

[2021-09-30 08:18] guidiego opened #611 "Create .view method"
## Motivation
We have a `/DATABASE/SCHEMA/TABLE/VIEW` endpoint inside _p_**Rest** API, that endpoint has the same anatomy of the query endpoint. Today our TableConnector object only supports [.query](https://github.com/prest/prest-node/blob/master/src/entity/TableConnector.ts#L11) and we want that it be able to receive **.view()** too.

We have some problems, the core is with the abstraction, but

[2021-09-30 08:20] guidiego opened #612 "Create batch api"
## Motivation
We have a batch endpoint inside _p_**Rest** (https://docs.postgres.rest/batch-operations/), but we don’t have an client method the reflect it yet.

## Interface Sample
[code]

## Approach
We need to change the behavior of [Api.call](https://github.com/prest/prest-node/blob/master/src/entity/Request.ts#L10) to be able to receive adapt new parameters. Something like:

_Feel free to thi

[2021-09-30 08:21] guidiego opened #613 "PRestQuery implementation"
## Motivation
Today we have a `.query()` method inside [TableConnector](https://github.com/prest/prest-node/blob/master/src/entity/TableConnector.ts#L11). This method didn't receive any parameter and will reflect the `/DATABASE/SCHEMA/TABLE` _p_**Rest** endpoint without any kind of query parameters. We should be able to use query parameters to filter, change the render flag, use pagination helpers

[2021-10-03 22:45] ezradiniz opened #614 "dockerfile: package `netcat=1.10-41.1` was not found"
**Describe the bug**
Impossible to build prest using dockerfile

**To Reproduce**
[code]

**Desktop (please complete the following information):**
 - Ref:  https://github.com/prest/prest/blob/main/Dockerfile#L6
 - Docker version: `20.10.8`

[2021-10-03 23:58] #614 closed

[2021-10-10 16:23] #262 closed

[2021-10-10 16:27] avelino opened #616 "memory leak postgresql close connection"
related: #126

![captura_de_tela_2017-03-16_a__s_19 32 42](https://cloud.githubusercontent.com/assets/31996/24021694/ec5e79c2-0a80-11e7-8ae5-681c726fdb42.jpg)

[2021-10-26 13:11] ecerichter opened #620 "Custom query - permissions"
**Is your feature request related to a problem? Please describe.**
In documentation, there is a clear description of how to implement security for acessing tables.
How to do that for custom queries?

**Describe the solution you'd like**
Implement security settings for custom queries, e document how to do that.

**Describe alternatives you've considered**
Add server side filters in Apache Http or H

[2021-10-27 15:07] NKid opened #621 "CORS set multiple domains"
**Describe the bug**
prest.toml
[code]
Frontend using js fetch call pREST in domain1's webpage, it failed.
Firefox show these messages.
- `Reason: CORS header ‘Access-Control-Allow-Origin’ does not match ‘https://www.domain1.com,https://www.domain2.com’`
- `Reason: CORS request did not succeed`

But when I using this setting, it works.
[code]

**To Reproduce**
js fetch
[code]
**Expected behavior**

[2021-11-03 08:37] gesaleh opened #622 "heroku deployement crash"
**Problem**
used one-click deployment but app is crashing
**issue**
The app crashes with error `[91m2021/11/03 08:31:38 [error] File ./prest.toml not found. Aborting.`

is there a missing step in Docs ?

[2021-11-05 20:16] murilofurquim opened #623 "Error pq: function row_to_json(text) does not exist"
I'm trying to use prest and have encountered the following error when trying to insert data:
`{
  "error": "pq: function row_to_json(text) does not exist"
}`
The **GET** request works fine, returning data correctly.

I'm using docker for both postgres and prest, both their latest tags.

Here is the prest docker log:
`2021/11/05 20:14:02 [msg] tables.go:225 pq: function row_to_json(text) does not e

[2021-11-08 20:20] gesaleh commented on #622
is there a WA at least I need to provide API for testing

[2021-11-13 15:58] gnpkrish commented on #246
Hey, it is planned?

[2021-11-16 20:46] avelino commented on #246
@gnpkrish we need support from new people to assist in the evolution of pREST, we don't have an expected date for this issue yet, but it will be done at some point

[2021-11-24 01:04] avelino commented on #511
@fabriziomello were you able to look at that integration (docs)?

[2021-11-25 13:15] ecerichter opened #627 "Does prest answer "OPTIONS" requests required for CORS support in current browsers?"
Hi!
I'm using PREST on a web server, with a Agular 12 front end.
Whenever I issue a request to my server, a OPTIONS request is issued by Chrome to check CORS support.
I think would be necessary to add a response HTTP 200 for OPTIONS requests that have been originated from CORS allowed sites.

Regards,

ER

[2021-11-25 13:39] ecerichter commented on #627
Please, disregard - it's already implemented.

[2021-11-25 13:39] #627 closed

[2021-11-25 17:16] avelino commented on #616
closing the database connection is no longer an existing problem, I will close this issue and better understand the actual problem

[2021-11-25 17:16] #616 closed

[2021-11-25 17:37] avelino commented on #545
@tiaguinho can you defend why change the goreleaser for bazel? this way we can involve our technical team to discuss the best solution for prest.

are you still interested in continuing to contribute to this (#546) implementation?

[2021-12-03 12:11] #621 closed

[2021-12-03 17:00] #517 closed

[2021-12-06 04:42] chenrui333 commented on #412
Over the past year, it looks much better. Thus, closing this issue.

@avelino what I was looking for is to make sure there is no re-tagged release (then the release artifact would not be changed), let me know if that makes sense.

[2021-12-06 04:42] #412 closed

[2021-12-06 04:43] chenrui333 opened #632 "About the latest release"
👋  it looks like `1.0.11` was not marked as the latest release, just to raise an issue in here to confirm whether it was intended. Thanks!

cc @avelino

relates to Homebrew/homebrew-core#90440

[2021-12-06 17:31] avelino commented on #632
@chenrui333 we had a problem with the generation of version 1.0.11, I fixed it and we generated version 1.0.12

do i need to do anything in homebrew?

[2021-12-06 17:31] #632 closed

[2021-12-06 18:10] chenrui333 commented on #632
Yeah, I can help with the homebrew sire, thanks for the fix!

[2021-12-07 11:42] avelino commented on #623
@murilofurquim can you describe your environment?

- postgresql version
- prest version

with this we can simulate your environment here

[2021-12-08 15:12] arxdsilva opened #635 "change jwt library to unarchived"
v2 release: https://github.com/auth0/go-jwt-middleware/releases/tag/v2.0.0-beta

migrating: https://github.com/auth0/go-jwt-middleware/blob/v2.0.0-beta/MIGRATION_GUIDE.md

[2021-12-08 17:21] #622 closed

[2021-12-16 17:33] george-silva commented on #595
Hello all! First: Great product! Running smoothly on AWS ECS, deployed with AWS Copilot!

Chiming in here as I'm starting a new project with pREST *and* auth0. The integration would be very beneficial. Not only auth0 can support users with JWT tokens, but also machine-to-machine authentication (which is what I'm interested in).

[2021-12-16 17:52] george-silva commented on #606
Again! Great product!

Chiming in: I've deployed pREST in ECS, using AWS Copilot. Smooth deploy, but it requires a health check endpoint in order for AWS to consider the "pod" live.

I've been using a common endpoint (databases) for AWS to detect if the app is up, but a `health` endpoint would be glorious.

[2021-12-16 18:02] avelino commented on #595
@george-silva would you have interest and time to contribute to this auth0 implementation?

[2021-12-16 18:08] avelino opened #640 "Documentation Amazon ECS using AWS Copilot"
write documentation page on how to deploy prestd in [Amazon ECS using AWS Copilot](https://docs.aws.amazon.com/AmazonECS/latest/developerguide/getting-started-aws-copilot-cli.html)

example: https://github.com/prest/prest/blob/main/docs/deployment/docker.en.md

[2021-12-16 18:09] avelino commented on #640
@george-silva as you have experience can you help us by writing this page?

[2021-12-16 20:01] george-silva commented on #640
Yes I can write it! I'll check where the docs are and I'll do a PR.

[2021-12-16 20:02] george-silva commented on #595
@avelino interest to contribute yes! But I hardly read/write go. As much as I'd like to step in and help, I think it will take me a long time to do it. I can help in testing, validating and documenting it.

[2021-12-20 19:41] #605 closed

[2021-12-20 19:44] avelino commented on #605
@george-silva I usually use the official prest image in docker-compose, the example below is a project in production

[code]

[2021-12-20 19:53] george-silva commented on #605
Gotcha! Thanks!

You skip the build part because you can deploy the entire composer. In my case I had to recreate the build step, using `FROM` from docker in order to copy the data I needed (namely scripts).

But it's working for me now! Thanks!

[2021-12-20 21:28] avelino commented on #605
@george-silva congrats, can we improve our documentation to make it easier for other users to use?
do you recommend any text to complement the docker deploy page? https://docs.prestd.com/deployment/docker/

[2021-12-20 21:54] george-silva commented on #605
I think I can make some improvements, together with the "how to AWS copilot".

[2021-12-20 22:07] avelino commented on #605
@george-silva ok, super thanks

[2021-12-22 14:10] trensetim opened #647 "allow count() as group function"
Currently there are several aggregate (here called "group") functions implemented:
https://docs.prestd.com/query-statements/#groupselect-functions-support
https://www.postgresql.org/docs/13/functions-aggregate.html

However that is not the complete list of aggregate functions natively supported by postgres.

I would like to add count(columnName|*) here.

maybe one can explore whether some of the o

[2021-12-22 14:11] trensetim commented on #647
Prest == Lovely work btw. ❤️

[2021-12-22 16:49] avelino commented on #647
@trensetim to `count` there is the query string parameter with the name `?_count={field name}`
[read more here](https://docs.prestd.com/query-statements/#filters-parameters-query-string---get)

[2021-12-22 23:26] #635 closed

[2021-12-23 06:37] trensetim commented on #647
Thanks. I have just tried this on my test database.

Using http://localhost:3010/test/public/person
Results in
[{"id":1,"name":"a","birthday":"1998-05-21","favorite_number":3},
 {"id":2,"name":"b","birthday":"1999-11-09","favorite_number":3.1415},
 {"id":3,"name":"c","birthday":null,"favorite_number":1},
 {"id":4,"name":"c","birthday":null,"favorite_number":2}]

Using http://localhost:3010/test/pu

[2021-12-23 06:48] trensetim opened #648 "Documentation duplicate "page_size" vs "_page_size""
**Describe the bug**
The documentation https://docs.prestd.com/query-statements/#filters-parameters-query-string---get states that there are the parameters "page_size" and "_page_size"; and "page" and "_page".
However this seems to be a duplicate because "page" and "page_size" do not work on prest/prest:v1.0.12

**To Reproduce**
Query http://localhost:3011/database/schema/table?_page_size=2&_page=

[2021-12-23 09:01] avelino commented on #648
thank you for reporting this error

contextualizing: the documentation was born before the code and when we started developing prestd (in 2016) we set the default to use prefix underline `_` in the query string parameters

[2021-12-23 09:01] #648 closed

[2021-12-23 21:53] #112 closed

[2021-12-24 18:28] #113 closed

[2021-12-31 11:17] #542 closed

[2022-01-04 17:31] avelino opened #660 "error when caching system is active"
**Describe the bug**
activating the cache is generating the following error:
[code]

is breaking the filename pattern:
[code]

should be (**without the slash `/`**):
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Active prestd `cache`
2. make a request to any endpoint

**Expected behavior**
A clear and concise description of what you expected to happen.

**Desktop (please complete th

[2022-01-04 18:13] #660 closed

[2022-01-05 09:20] avelino opened #662 "grpc endpoint plugin system"
ref: #659

@avelino go server can run webassembly file using something like https://github.com/wasmerio/wasmer-go.
but I'm in favor of https://github.com/hashicorp/go-plugin.

### Why?

With go-plugin we can use the power of GRPC to provide an extension. [here](https://github.com/hashicorp/go-plugin/blob/master/docs/guide-plugin-write-non-go.md) we have a docs about how to use without Go.

### How

[2022-01-05 15:35] #239 closed

[2022-01-05 15:36] #94 closed

[2022-01-05 15:47] avelino commented on #263
It's been 5 years and we still haven't needed to think about documentation versioning, so I'm closing this issue.

When we get to that point, we'll open a new issue.

[2022-01-05 15:47] #263 closed

[2022-01-05 15:47] #362 closed

[2022-01-07 11:07] avelino opened #665 "Onboarding of new contributor: devcontainer setup"
The entry of a new contributor generates a lot of friction, he has to know how prestd works (configuration variables), configure the development environment with postgres and so on.

We need to decrease the learning curve for those who want to get to know and test prestd and possibly contribute to the project.

We will support the online code editor platform:
- [Github Codespaces](https://github.c

[2022-01-07 14:11] #665 closed

[2022-01-07 15:36] avelino commented on #665
documentation page: https://docs.prestd.com/prestd/docs/setup/development-guide/#dev-container

[2022-01-08 18:22] avelino opened #669 "plugins loading control"
Don't we need to cache it? Because every single call to the plugin endpoint will need to load plugin shared library and then call the internal function... for a WIP is fine but for production environments it can hurt us.

For caching we'll need to split the `loadFunc` into two separated functions, one for load and another to call the desired method (this is obvious of course).

_Originally posted

[2022-01-08 18:35] #669 closed

[2022-01-15 03:28] dariocf1 opened #671 "How can I filter using timestamp or a range of timestamps?"
I need to get a group of rows from a specific date range (stored as timestamp), I don't want to use custom query, I want to achive this using parameters.

The documentation doesn't show any example, please, Any already did it?

[2022-01-15 18:13] avelino commented on #671
@dariocf1 to filter by time range should be like this:

I apologize for not having this documented in our documentation before you opened the issue.

Here's a unit test where we do it with time range:
https://github.com/prest/prest/blob/6375325d0e5a4b531090392014ebe6dc63f0a7d3/adapters/postgres/postgres_test.go#L176

[2022-01-15 18:13] #671 closed

[2022-01-15 18:15] avelino commented on #647
I'm marking this issue as a bug, but I need to do some testing and understand how we are going to resolve this issue

@trensetim do you have a proposal to do this fix?

[2022-01-16 21:57] dariocf1 commented on #671
Great, Thank you @avelino!

[2022-01-18 16:55] avelino commented on #647
accessing the endpoint with the mentioned parameters we execute this sql query:
[code]

## follows my example
**dataset:**
[code]

**request URI:**
[code]
**response:**
[code]
**query sql _(executed internment by prestd)_:**
[code]

**the correct is to return:**
[code]

had a condition to return the first record as an object (not the object list)
https://github.com/prest/prest/blob/39cd7ca287f6abb

[2022-01-18 21:31] #647 closed

[2022-01-21 10:38] avelino commented on #610
I couldn't reproduce this behavior where requests appear with "undefined" in the call

[2022-01-21 10:38] #610 closed

[2022-01-25 12:07] arxdsilva commented on #623
`row_to_json` usage: https://github.com/prest/prest/blob/9a14c8131fe369f27029b144e601839a0f67f23d/adapters/postgres/postgres.go#L814

[2022-01-25 12:28] crisclacerda opened #674 "net::ERR_CONNECTION_REFUSED from fetch"
Just followed the documentation, cloned the repo and used go run to started prest.
I can make the example request 'first call to api':

`curl -i -X GET http://127.0.0.1:3000/databases -H "Content-Type: application/json"
`

But when trying to do the same from the browser using fetch

` fetch('http://127.0.0.1:3010/databases', {
    method: 'GET',
    headers: new Headers({
    'Content-Type': 'appl

[2022-01-25 13:27] arxdsilva commented on #674
@crisclacerda on the first curl you're using port `3000` and in the second you're using `3010`, which is not where the db is running, that is why you get this error.

[2022-01-25 14:32] crisclacerda commented on #674
dam lmao;
sorry for bothering with this. but thanks for the catch!

[2022-01-25 14:35] crisclacerda commented on #674
That's not really issue thought. It was just typo as I copied the example.
prest is in fact running on 3010.

`curl -i -X GET http://127.0.0.1:3010/databases -H "Content-Type: application/json"
HTTP/1.1 200 OK
...`

[2022-01-26 17:38] avelino opened #675 "CORS: implementation problem (confusion)"
[code]

prestd config:
[code]

## problem

there is a misunderstanding in the implementation of cors, we are using headers as methods, see an example of a valid request

[code]

[learning more](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Access-Control-Allow-Headers)

## solution

The cors permission configuration must contain 3 variables:
- `origin`
- `header` - today we are passing

[2022-01-26 18:24] #675 closed

[2022-01-26 21:32] avelino commented on #674
test using the latest beta version of prestd and it worked, in this version we fixed a bug in the CORS support (read more here #675).

this is the beta version docker image, version v1.0.15 will be generated soon
[code]

**request:**
[code]
**response:**
[code]
**toml:**
[code]

**docker compose:**
[code]

[2022-01-26 21:45] avelino commented on #623
@murilofurquim what version of postgres are you using?

the `row_to_json ` function that prestd uses is from postgres itself

[2022-01-27 12:08] avelino opened #678 "table/delete event: TypeError: Cannot read properties of undefined (reading 'length')"
[code]
https://github.com/prest/prestd-buildui/blob/c39b5a1b31d1c16f5b4f10baf233f7d9269d350d/src/pages/%5Bentity%5D/index.tsx#L97-L103

[2022-01-27 12:18] avelino opened #679 "database and scheme this in hardcode"
It will not always be the `prest` database and `public` scheme, this name **must be dynamic**

in the first moment we should use an environment variable, in the future we will make the navigation fluid between all Postgres objects

[2022-01-27 19:28] avelino opened #680 "Improve screen navigation: database > scheme > table"
**Is your feature request related to a problem? Please describe.**
The navigation is table-only, with the possibility to enter a table and edit

I have to declare via an environment variable the database and schema — this is dynamic on prestd (server)

**Describe the solution you'd like**
1. on the first page: list the databases
1. second page: list schemas of the selected database
1. third page:

[2022-01-27 19:28] #679 closed

[2022-01-27 21:49] avelino opened #681 "breadcrumbs component: browsing history"
ref: https://mui.com/components/breadcrumbs/

If I am inside the table page, it should show all the links I have passed through to get there, for example:

`databases > schemes > current table`

[2022-01-28 17:57] #680 closed

[2022-01-28 23:03] murilofurquim commented on #623
I have used the python library as a small web server on a script. But I
can't find the source code on my PC. And can't find the example on the
prest site. Can you point me to it? I can only find the documentation on
the docker image.

Em qua., 26 de jan. de 2022 18:46, Avelino ***@***.***>
escreveu:

[2022-02-22 16:51] trensetim commented on #647
This is awesome. To answer my own question according to your new version: I have to call
[code]
Which gives me exactly what I expected:
[code]

[2022-02-22 20:29] ecerichter opened #682 "Be able to execute two update commands in one transaction using custom queries"
I would like to be able to execute two update commands (separted by semicolon) in one transaction by using custom queries.
For instance,

update account set balance = balance + 100;
update account set cashflow = cashflow - 100;

I've tried, but I'm always getting an error caused by prepated statements...
Would be possible to completly disable prepared statements? Would Prestd be able to (or need t

[2022-02-23 00:22] avelino commented on #647
@trensetim yep, did it behave differently?

[2022-02-23 08:16] trensetim commented on #647
Well it behaves as I expect it now. So huge thanks and this issue is solved for me 👍

[2022-03-03 11:15] #545 closed

[2022-03-26 00:07] dariocf1 opened #687 "Plugin custom status code"
Hi,

I'm using plugin functionality and I want to return a different status code (such as 401 or 404) with specific message. The only response allowed is a string. I tried to create and throw an error, but it does not worked I got an 500 status code.

Is there any way to change the status code from the response in the plugin?

Thanks in advance!

[2022-03-29 01:37] toplinuxsir opened #688 "$ilike, $like not working"
**Describe the bug**

$ilike and $like not working,
The query url:

I have a table: t_product_type
and query for it :
http://127.0.0.1:8081/smart_erp3/public/t_product_type?prd_barcode='$ilike.B%25'
return nothing
The debug generated sql is
[code]

But i  run the sql above in db console ,
It returns data.

[2022-03-29 11:14] avelino commented on #688
you are using `'` in the wrong place, your URI should be

`/smart_erp3/public/t_product_type?prd_barcode=$ilike.B%25`

this query should return all records that `prd_barcode` starts with `B` or `b`

[2022-03-29 23:39] avelino commented on #687
Great point @dariocf1 , no thought was given to other types of status codes

Let's plan the implementation, can you propose an implementation?

[2022-03-29 23:54] toplinuxsir commented on #688
@avelino Thanks it woks!

[2022-04-01 17:27] anupam-absa opened #690 "Contribution guide link needs to be updated"
**Contribution guide link needs to be updated**
The link to the contribution guide returns 404 error. The current route is **/contribute** which seems to be old. The new contribute guide link is **/contribution**

**To Reproduce**
Steps to reproduce the behavior:
1. Go to the repository home page - https://github.com/prest/prest
2. Scroll down to the section where it says "Want to contribute to th

[2022-04-01 18:54] #690 closed

[2022-04-01 18:55] avelino commented on #690
@anupam-absa thank you very much for reporting the error in the contribution guide link

[2022-04-02 02:11] anupam-absa commented on #690
You're welcome @avelino !

[2022-04-06 15:27] leopku opened #692 "Can not update array field(jsonb based)."
**Describe the bug**
Cannot update an array field(jsonb based).

**To Reproduce**
Steps to reproduce the behavior:
1. PUT Request to endpoint '/{database}/{schema}/{table}/'
[code]

3. Response Error
[code]

**Expected behavior**
`fieldA` should be updated with value ["a", "b"]
The `fieldA` can be updated by program wrote by golang

**Desktop (please complete the following information):**
 - pREST

[2022-04-15 20:08] avelino opened #695 "CORS error when creating a record (POST)"
**Describe the bug**
Next cannot make a request to the prestd server (api), the request does not arrive at the prestd

We have some problem inside next that won't let the POST out to the prestd API

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Access `http://127.0.0.1:3000/prest/public/example_table` - if you are not using the example database contained in the prestd-buildui projec

[2022-04-20 15:51] benoitdm-oslandia opened #697 "add schema variable for prest_users table"
It would be nice to have a parameter to specify a schema name to use when creating or accessing to the `prest_users` table.

By default, the schema is `public` and in some case it is not specified (so `public` is used as default).

Thanks!

[2022-04-20 20:34] avelino commented on #697
your suggestion is extremely important
can you implement your suggestion?

https://github.com/prest/prest/blob/e46c8128446a4024636d056fb235a05edf2e11a9/cmd/auth.go#L12-L33

[2022-04-21 11:28] #697 closed

[2022-06-10 04:09] zenz opened #702 "arm64 docker image needed"
Hi,

I'm trying to install pREST for test with my RaspberryPI 4 with docker.

But I found that it doesn't have arm64 support at this moment in docker image.

Can you teams consider to provide it?

Best regards

[2022-06-13 10:09] arxdsilva commented on #702
Hi @zenz, I dont think we have any limitation not to provide arm64 support, but for now the best we can do is a beta so everyone can test and later if it is stable provide it properly, what do you think?

[2022-06-14 02:32] zenz commented on #702
@arxdsilva Yes, you are right. So where can I select the beta image? is it ready yet?

[2022-07-01 10:44] error0x001 opened #707 "buildui doesn't work"
**Describe the bug**
buildui doesn't work, I get an error with import 'theme'

**To Reproduce**
1. pull https://github.com/prest/prestd-buildui
2. Uncomment docker compose with build admin UI https://github.com/prest/prestd-buildui/blob/main/docker-compose.yml
3. docker-compose up -d
4. Go to localhost:3001
5. Catch the error

**Expected behavior**
The web part of this project works

**Desktop (pl

[2022-08-10 18:51] letushka commented on #561
Guys, I just added this thread https://github.com/prest/prest/discussions/712 asking about possibility of running prest HTTPS? I wonder if prest with https is possible?
How can one use JSON calls to prest from HTTPS sites?

[2022-08-12 14:06] avelino opened #714 "how to use ssl certificate in prestd on web protocol - write documentation"
document how to set up a prestd environment using ssl certificate on web protocol (port 443)

### Discussed in https://github.com/prest/prest/discussions/712

<div type='discussions-op-text'>

<sup>Originally posted by **letushka** August 10, 2022</sup>
Hi Guys

Wanted to thank you for the very cool prest library. I like it a lot. Works well over http
I have a question..

I’m using it internally a

[2022-09-12 11:47] manhofer opened #718 "JOIN query only works for some table combinations"
**Describe the bug**
When I try to create a JOIN get request, it works for some combinations of database tables and for some I get this error:

`"could not perform JoinByRequest: Invalid identifier"`

I am using Postman to send the query. Credentials and URL are all okay.

(1) Here is a query that does work:
`<db_url>/public/bodyfat?_join=inner:model_fitting_results:bodyfat.fitting_id:$eq:bodyfat.

[2022-10-16 19:47] arxdsilva commented on #702
@zenz I've created an image so you can test with the latest version: docker pull `arxdsilva/prest-linux-arm64:v1.1.0`

[2022-10-16 19:47] #702 closed

[2022-10-19 20:03] #695 closed

[2022-10-21 13:46] #358 closed

[2022-10-25 14:25] arxdsilva opened #725 "invalid identifier"
However, there is a limitation in the aggregation query through prestd, that is, it must be included in the query parameters _groupby, otherwise it will report an error saying that the column cannot be found. For example, if you want to query the oldest age of five people, you will get the following error. ,

[code]
Hopefully prestd will add support for this kind of query statement soon.

https://

[2022-10-27 19:58] vmesel commented on #725
@arxdsilva so we should add a way for validating the select statement to see if we are using an aggregate function without a group by?

[2022-10-28 13:42] vmesel opened #727 "Port 6000 shouldn't be the default port for the settings, as it may lead to errors"
Port 6000 is restricted by both Chrome and Firefox as a non-web port, making users prone to thinking that the application doesn't work on their device or settings. Maybe we could change the default port to 8080 or something like that.

<img width="1212" alt="image" src="https://user-images.githubusercontent.com/4984147/198616185-c50e31b1-a718-44ed-8834-3b11590585db.png">
<img width="1087" alt="ima

[2022-10-28 13:44] arxdsilva commented on #727
Hi @vmesel , this happens because the docker-compose is exporting port 3000 and you're requesting prest to change it to 6000, so internally docker will have the port open but not exposed by the container

[2022-10-28 13:55] vmesel commented on #727
In our docs, we have some references to port 6000, as shown below:

<img width="1282" alt="image" src="https://user-images.githubusercontent.com/4984147/198626231-b0e9c5ec-fbf1-441c-8d76-3e4cbf78d643.png">

[2022-10-28 16:19] vmesel commented on #718
@manhofer can you provide us the table schemas, so we can replicate the error?

[2022-10-31 17:32] vmesel opened #730 "Transform json_agg to a pREST native function"
Hey guys,

I'm using pREST on my development environment and I was getting out of memory error due to our `SELECT json_agg(s) FROM (<query here>) s`. This transformation is very costly for the bank (at least for the size of table I'm working with), and I'm migrating the implementation of QueryCtx (postgres.go:605) to a neutral approach.

Here is the code that is working partially:

[code]

[2022-10-31 18:26] avelino commented on #730
@vmesel [this discussion is worth reading](https://github.com/prest/prest/discussions/387#discussioncomment-108952).

The premise of prestd is to be specialized on postgres databases and `json_agg` has existed since [postgres version **9.3**](https://www.postgresql.org/docs/9.3/release-9-3-6.html), I don't know if it makes sense to bring this processing into prestd, instead of outsourcing the resp

[2022-10-31 18:40] vmesel commented on #730
@avelino I don't think the discussion of the name of the tool must include its own features. I might be misjudging the matter, but the problem is: we are sending one new operation to the database, that depending on the size of the query, lacks memory of the database.

If I run the query as it is, the database system works just fine, but if I put it inside `SELECT json_agg(s) FROM (<MY AWESOME QUER

[2022-10-31 18:40] fabriziomello commented on #730
@vmesel @avelino the problem is that the `json_agg` function rely on `stringinfo.c` implementation that have some memory limitation: https://github.com/postgres/postgres/blob/master/src/common/stringinfo.c#L28.

@vmesel did u tried to just change the `json_agg` to `jsonb_agg` in the pREST source code???

[2022-10-31 18:41] vmesel commented on #730
@fabriziomello no, I'm going to try it out.

[2022-10-31 18:44] vmesel commented on #730
@fabriziomello tested it out: It doesn't explode the memory usage, **but** it changes the error to: `context deadline exceeded`.

<img width="444" alt="image" src="https://user-images.githubusercontent.com/4984147/199085288-e0314118-e80d-45ec-9f26-eacc2617bbc4.png">

[2022-10-31 18:55] avelino commented on #730
@vmesel the question is: will this use be a real case for prestd?

We will probably have a similar problem with the `Go` implementation, remembering that we are running over an http protocol that has a timeout.

[2022-10-31 19:03] fabriziomello commented on #730
And the @avelino points are good... change where the aggregation occurs doesn't means that this problem is solved.

[2022-10-31 19:03] vmesel commented on #730
22 GB.

[2022-10-31 19:05] fabriziomello commented on #730
Wow... do u really need such a big json document???

[2022-10-31 19:05] vmesel commented on #730
Maybe I'm too crazy and might be pushing an unnecessary issue, if this is the case, I'm sorry guys.

[2022-10-31 19:05] vmesel commented on #730
@fabriziomello the thing is, the json_agg is from pREST not from my query.

[2022-10-31 19:08] fabriziomello commented on #730
@vmesel Yep... I understood it... what about trying the  `SELECT jsonb_agg(s) FROM (<your query>) s` connected direct to the Postgres database using `psql` client tool (not GUI tools that can do crazy things to get data from server to client)

[2022-10-31 19:09] fabriziomello commented on #730
@vmesel before run the query execute this command in `psql` to get some more detailed information `\set VERBOSITY verbose`

[2022-10-31 19:41] fabriziomello commented on #730
@vmesel seems the `jsonb_agg` test lead to OOM Killer take an action. Does your Postgres instance (and Operating System) properly tuned to deal with so large amount of data???

[2022-10-31 19:44] fabriziomello commented on #730
We can improve the way that we build the JSON document, but to me it should be something like:
1. instead of execute the query in one shoot create a cursor
2. fetch data in batches (configurable size?)
3. append the batched to a local `jsonData` variable in pREST

[2022-10-31 20:12] vmesel commented on #730
@fabriziomello when we batch, it works, but it uses more memory than necessary. I'm newbie to Golang, so I don't know how to set up a cursor, I'll try to find it and come back here if we all agree this is the viable way of making progress.

[2022-11-01 00:31] arxdsilva commented on #730
@vmesel getting all info at once or too big will either one rate your DB or prestd app.

The question is: do you really need it at once?

This is why: Most large scale apps have millions to billions of lines but you won't find one that loads it all, they do the loading as needed by the client(s).

So could you tell us your specific case?

[2022-11-03 14:17] vmesel commented on #730
I can't tell a lot, it's a confidential use case for now, unfortunately.

But I've run `EXPLAIN ANALYZE` on both statements (both using offset and limit, one using json_agg and the other not using it).

[code]

Result:

[code]

The one with the `json_agg` statement:

[code]

Result:

[code]

The execution time with the json_agg is 27x less efficient than when running the normal query.

Using the c

[2022-11-03 14:55] avelino commented on #730
Does using `jsonb_agg` improve it?

[2022-11-03 16:04] vmesel commented on #730
@avelino not at all, actually it decreases efficiency by 36 times.

[code]

[2022-11-03 16:42] avelino commented on #730
**OMG**

This will absurdly improve query processing time.
Looking at this data I think it is worth investing in the implementation of Go serialization (even though I am afraid of breaking something, we need to write a lot of tests).

Thinking about the release it is important to have a chart showing the performance improvement comparing the 3 versions.

[2022-11-03 16:46] vmesel commented on #730
So, @avelino the PoC is already half-way through! Take a look at #731. We just need to check and implement tests. I'm with some doubts regarding typing and some other things but first, look at the code. The doubts I'll send you them through Telegram as they are not about the project in itself.

[2022-11-04 08:49] arxdsilva commented on #730
Thanks for clarifying @vmesel , could you also do the same query but using the high level API on both cases?

I ask this because this can be a big change for some users and I fear that just by removing the processing from DB and moving to the app may not have all this performance advantage as either way you'd need to to all this json transformation in the app anyways.

[2022-11-04 14:16] vmesel commented on #730
@arxdsilva is it different than this: https://github.com/prest/prest/issues/730#issuecomment-1302183157 ?

[2022-11-04 14:28] vmesel commented on #730
With my changes

[code]

With JSON_AGG():

[code]

With JSONB_AGG():

[code]

[2022-11-04 17:01] vmesel commented on #730
Just as a matter of fact, I've created a t3.medium on AWS (2 vCPUs and 4GBs of RAM) on the same VPC as the database. @arxdsilva and @avelino what are your thoughts?

With JSON_AGG()

[code]

With JSONB_AGG()
[code]

With the aggregation function in our codebase:
[code]

[2022-11-04 18:33] vmesel commented on #730
Thanks for the edit @avelino!

[2022-11-04 19:07] vmesel commented on #730
As I discussed with @avelino through DMs, we arrived at a consensus: If we change the `json_agg` to `jsonb_agg` we can improve the response time and focus our effort on new features and fixing bugs on our platform.

PR with JSONB_AGG change available on #733

[2022-11-08 15:13] #730 closed

[2022-11-08 15:58] vmesel opened #734 "Docker Image Build Failing"
[code]

Docker image build is failing on the master branch due to an invalid token.

[2022-11-08 22:48] vmesel commented on #725
@avelino I got it, assign it to me, pls!

[2022-11-09 01:19] vmesel commented on #718
Awesome, I'll work on that later this week! Thank you for sharing.

[2022-11-09 05:30] chenrui333 commented on #632
@avelino looks like we run into the issue again about the latest release, 1.1.3 and 1.1.4 releases were not done cleanly.

relates to https://github.com/Homebrew/homebrew-core/pull/115201

[2022-11-09 11:49] vmesel commented on #714
@avelino should we cover the pREST internals on SSL or should it be just a tutorial setting up certbot + nginx + prest?

[2022-11-09 12:35] avelino commented on #632
cc @arxdsilva

[2022-11-09 14:12] vmesel commented on #718
@manhofer I think there are lots of things that can be related to this issue. Try updating your pREST to 1.1.4, we've changed an aggregation part for better querying performance. Before, we were using `json_agg` database function to serialize all data and send it to the golang backend.

[2022-11-09 14:39] kalmarz commented on #718
@vmesel we run it in Kubernetes and have a test instance that runs the [latest and greatest?](https://hub.docker.com/layers/prest/prest/v1/images/sha256-e709ce16146e0be98c642d65e830f9ce35e1b91aaecef46b416faead52387337?context=explore) from Docker Hub...
... and it gives the same error.
I will give a try by building a new image from source but unless I miss something 1.1.2 is the latest release on

[2022-11-09 14:50] vmesel commented on #718
@kalmarz, don't even bother to do that. I found the issue: So the problem is that our `chkInvalidIdentifier` function takes a column name with a maximum length of 63 characters. @avelino, @arxdsilva, and @fabriziomello can you help me over here, so we can fix this?

I think that we need to support a user setting for this one, as `NAMEDATALEN` is configurable by the user.

Here is the docs from pSQ

[2022-11-09 16:01] vmesel commented on #718
@manhofer @kalmarz, thanks for reporting the bug! I was able to run a quick fix over here and I would like to validate if it works with you. Can you guys clone this branch from my fork? https://github.com/vmesel/prest/tree/check/issue-718

[2022-11-09 20:01] arxdsilva opened #739 "import custom queries from DB"
## Problem
When having multiple instances of `prestd`, it's now only possible to have custom queries from a folder, this way you'd have to share them and instantiate on every new container.

## Desired behavior
Be able to create, load and manage scripts directly from the installed DB.

## Possible solution
New flag with default to folder loading, if not creates a table named `prestd_custom_queries

[2022-11-09 23:56] vmesel commented on #739
This meets something I was talking with @avelino. We need a separate application database to handle auth and this custom queries.

I'm not a fan of having pREST and my own data on the same database.

[2022-11-10 00:02] arxdsilva commented on #739
Im certainly a +1 on this

[2022-11-10 09:00] #725 closed

[2022-11-10 14:25] vmesel commented on #739
@arxdsilva I agree with that! I was even thinking today of data lineage and data dictionary functionalities on the codebase, so we could let people source through the data as best as they can with all of the open info.

One thing that is a pain for my team is knowing where we can find certain data on a database. Yesterday I was trying to make a simple join with one ID and another, but I wasn't abl

[2022-11-10 14:28] vmesel commented on #579
Is this still open?

[2022-11-10 14:45] vmesel commented on #692
I'm going to replicate this issue, coming back with answers later today!

[2022-11-10 19:50] arxdsilva commented on #739
@vmesel I think this should fit: https://github.com/prest/prest/issues/327

[2022-11-10 21:00] avelino commented on #579
@vmesel yep, we need to rewrite the tests with unit tests in mind, this simplifies the way to run the tests for the incoming contributors

Leave the integration test (e2e) as we do for the build process (in the pipeline, even so we need to think if it is necessary)

[2022-11-11 00:14] vmesel commented on #718
@manhofer the fix for this request is already available on the latest version of the software.

[2022-11-11 00:14] #718 closed

[2022-11-15 09:50] kalmarz commented on #718
Thank you Gents. I'm wondering if there's a chance to publish a new stable Docker image to a public registry?

[2022-11-18 00:09] vmesel commented on #734
@avelino @arxdsilva what do we need to do in order to solve this?

[2022-11-18 00:26] arxdsilva commented on #734
@vmesel ill have a look tomorrow at the credentials and give you an update.

[2022-11-24 13:22] vmesel opened #741 "Configuration for disabling database, schema and tables listing"
As I work with confidential data, I would like to protect a malicious user from knowing my database, tables, and schema. We already have the possibility of blocking access to tables contents, but I didn't found anything, i.e., regarding blocking access to the /database endpoint.

[2022-11-24 13:24] arxdsilva commented on #741
ye now it is open, but if you connect to a cloud provider you'll also be able to see all other DBs there, so It should be possible for us but it has to be configurable, since some users use this endpoint now for healthcheck and other purposes.

[2022-11-24 13:26] vmesel commented on #741
What do you think about adding a `PREST_PROTECTED_ROUTES` environment variable or a setting in the .toml like:
[code]
?

[2022-11-24 13:47] arxdsilva commented on #741
I'm not sure this is the best approach, sure would work but we'd rather have a better user-management permissions system than adding possible tech debt.

[2022-11-24 13:50] vmesel opened #742 "Custom queries documented with OpenAPI or Swagger format"
Hey guys, it would be nice for our project to have a Swagger/OpenApi format for users to use as a base of their API documentation using pREST.

In my mind, It should be generated on every startup of the application so we always maintain it updated for the user.

[2022-11-24 13:51] vmesel commented on #741
I know you are not being harsh, no worries at all! I'm bringing it up so we can discuss it together. Can't we build something as a temporary solution and then change it to stick to the new user system, as we are still solving the problem with multi-database management?

[2022-11-24 14:05] arxdsilva commented on #741
we could, but the problem with temporary solutions is that once people start relying on that It is very hard to make them migrate, so this has the potential of having users stuck to a version that they cannot migrate from due to this feature.

[2022-11-24 15:43] vmesel opened #743 "Docker-compose - dial tcp: lookup host.docker.internal on 127.0.0.11:53: no such host"
This is not a pREST problem, but a networking problem when using SSH Tunnelling to access a database. I'm adding this issue so users can handle it if it happens to occur to them.

Docker-compose.yml

[code]

Container log:

[code]

This error is caused by docker's networking settings on your computer, to solve this add this single line to your service specification on docker-compose.yml

[code]

[2022-11-24 15:43] #743 closed

[2022-11-24 23:33] vmesel commented on #741
@avelino what are your thoughts?

[2022-11-25 12:34] avelino commented on #742
I believe this issue is duplicated, see if your proposal is included here #426

[2022-11-25 14:13] vmesel commented on #742
It's duplicated. Closing the issue!