[2016-12-01 02:29] marioidival opened #2 "Next steps issues"
Can you create issues with features/TODO you want to add to the project?

[2016-12-01 02:34] felipeweb opened #3 "Paginate results"
Add support to paginate results
```?_page=2&_page_size=10 (pagination, page_size 10 by default)```

All URLs via GET need to support paging

[2016-12-01 11:54] avelino opened #4 "Renderer type, xml support"
By default is JSON, we must support the xml (the purpose is to be a REST).

Query string:

    _renderer=xml

[2016-12-01 11:58] avelino opened #5 "Auth via JWT"
By default must have authentication via JWT, via config is possible disable

Recommend using (we can use another, only justify why don't use this):
https://github.com/dgrijalva/jwt-go

[2016-12-01 18:01] #3 closed

[2016-12-01 20:08] felipeweb opened #7 "Support Insert"
Support insert data using POST http verb

[2016-12-01 20:15] felipeweb opened #8 "Support Delete"
Support delete data using DELETE http verb

[2016-12-01 20:20] felipeweb opened #9 "Support Update"
Support update data using PATCH and PUT http verb

[2016-12-01 22:39] #5 closed

[2016-12-02 05:39] avelino opened #12 "TOML config file"
Read TOML file to configure pREST

Environment var: PREST_CONF (path receive)
If the environment variable has within the TOML: environment variable has more relevance

https://github.com/BurntSushi/toml (struct tag support)

[2016-12-02 20:01] avelino opened #13 "Not run test on gocover"
Check because not running the test at gocover.io

http://gocover.io/github.com/nuveo/prest

[2016-12-02 20:03] avelino opened #14 "Send prest (repo) to awesome-go"
https://github.com/avelino/awesome-go

[2016-12-03 04:07] #7 closed

[2016-12-04 21:36] avelino opened #18 "RPC support"

[2016-12-05 16:38] #8 closed

[2016-12-05 18:53] avelino opened #20 "JSONb filter support"
Query string:
[code]

`:jsonb` Identifies which structure the field this

[2016-12-05 20:22] #9 closed

[2016-12-06 07:55] avelino opened #22 "pool database connection"
Any request it receives in the API it opens a connection to the database and how it ends to process closes.
Implement a connection pool, we need some configuration variables.

[code]
more infor: http://jmoiron.github.io/sqlx/#connectionPool

[2016-12-06 08:00] avelino opened #23 "Providing initial data for models"
It’s sometimes useful to pre-populate your database with hard-coded data when you’re first setting up an app. You can provide initial data with fixtures or migrations.

Supports:
- JSON
- YAML

Lib: https://github.com/go-testfixtures/testfixtures (*Test to see if it works well*)

[2016-12-06 08:10] avelino commented on #2
Hi @marioidival sorry delay on reply.
I'm updating constant mind the issues, that should keep the most active project.

[2016-12-06 08:10] #2 closed

[2016-12-06 13:22] PedroVinicius commented on #23
I'll try to solve that.

[2016-12-08 12:13] crgimenes commented on #14
I'll take care of it.

[2016-12-08 12:26] avelino commented on #14
log in https://github.com/avelino/awesome-go/pull/1209

[2016-12-08 13:56] felipeweb commented on #13
fixed here https://github.com/nuveo/prest/pull/31

[2016-12-08 13:56] #13 closed

[2016-12-08 14:00] felipeweb commented on #14
merged https://github.com/avelino/awesome-go/pull/1209

[2016-12-08 14:00] #14 closed

[2016-12-09 01:49] felipeweb opened #33 "OR filter (where)"

[2016-12-09 18:46] #20 closed

[2016-12-09 21:14] henriquechehad opened #35 "JOIN feature"
It would be interesting to have a `JOIN` (inner, left, etc) feature?

[2016-12-11 08:47] pixelbender opened #36 "SQL injection is possible"
Using fmt.Sprintf from a user input data:
https://github.com/nuveo/prest/blob/master/adapters/postgres/postgres.go#L58
and then calling postgres.Query:
https://github.com/nuveo/prest/blob/master/controllers/databases.go#L25
is a very bad practice that allows to user make SQL injections.

[2016-12-11 13:04] felipeweb commented on #36
@pixelbender  thanks for reporting. Do you want to send a pull request fixing the issue?

[2016-12-11 19:08] crgimenes commented on #36
Hello guys, I'll take care of this problem.
Suggestions are welcome.

[2016-12-11 19:17] avelino commented on #36
@pixelbender thanks for reporting this bug, we at @Nuveo wasn't thinking that initially because it would use the pREST in private network (no public access), we will put priority on this bug.

[2016-12-14 15:19] #36 closed

[2016-12-14 22:58] parsonsmatt opened #41 "[Curious/Discussion] Why the 'problem'?"
The README states:

I would (and am sure many others would also) love to hear more about the issues you had. In the same vein of Pusher's [articles](https://blog.pusher.com/latency-working-set-ghc-gc-pick-two/) on switching [from Haskell to Go](https://blog.pusher.com/golangs-real-time-gc-in-theory-and-practice/), would you be willing to elaborate on the issues you encountered?

[2016-12-15 00:44] avelino commented on #41
Today the postgrest is not distributed a binary, need to install Haskell to compile. pREST in its 1.0 version will be binary distributed (cross compiling, run in Windows by example), so you don't need to have anything installed on the server to run.

How old is Haskell and how many developers exist? Go has less years and more developers, if you need to fix a problem in postgrest turn where?

[2016-12-15 00:49] parsonsmatt commented on #41
I was about to go raise distributed binaries as an issue on the PostgREST repo, but saw [that they do distribute binaries](https://github.com/begriffs/postgrest/releases/tag/v0.3.2.0) for a number of platforms.

The point about Haskell's developer situation is a good point. As a Haskell dev, I'd just fix it myself -- and I recognize that there are fewer Haskell devs than Go devs.

Thanks for the i

[2016-12-15 00:58] avelino commented on #41
The reason the pREST was born was because of a lack of developer, I am using pREST in my company, I know haskell and my developers nothing, if you have any problem (in production) just sits in my hand (hand want that).

It was great to your questioning.

[2016-12-16 23:08] hdiwan opened #46 "PANIC: Unable to connection to database: pq: password authentication failed"
Set the password properly (using the PG_PASS environment variable), it keeps giving me this error message.

[2016-12-16 23:38] felipeweb commented on #46
thanks for report @hdiwan

[2016-12-16 23:39] felipeweb commented on #46
Do you want to send a PR ? @hdiwan

[2016-12-17 00:12] hdiwan commented on #46
I already sent a pull request for an edit in the README.md, once I figure out this problem, I'll be happy to send another

[2016-12-17 00:14] felipeweb commented on #46
Nice, let us know if you need any help

[2016-12-19 22:39] crgimenes opened #48 "Transaction support"
It would be great to have transaction support.

My suggestion is to make a call to pREST requesting the start of a transaction and receive an ID. Then pass that ID on the next requisitions and finally finish with a commit or rollback.

The idea of using an ID is to solve the problem of stateless calls.

[2016-12-19 22:47] crgimenes opened #49 "Allow calling internal PostgreSQL functions"
A useful feature would be able to call functions of Postgresql from pREST

example:
[code]

Perhaps the same effect I want can be resolved by creating a view that calls the function.

[2016-12-20 01:14] avelino commented on #35
**This first version accepts 1 join, then evolve to accept more.**

Syntax query:
[code]
Parameters:

1. Join type
1. Table
1. Table field 1
1. Operator (=, <, >, <=, >=)
1. Table field 2

Split by `:`

Query Operators:

| Name | Description |
|-------|-------------|
| $eq | Matches values that are equal to a specified value.|
| $gt | Matches values that are greater than a specified value.|
| $gte

[2016-12-20 01:20] avelino opened #50 "Select fields (I don't need all the fields)"
[code]
Generate: `SELECT field1, field2 FROM ...`

[2016-12-20 01:30] avelino opened #51 "Process view"
[code]

The VIEW in PostgreSQL is a query processed, where we use as a table, see an example below:

[code]

*The VIEW must receive all parameters like SELECT (query)*

[2016-12-20 01:31] #41 closed

[2016-12-20 05:37] #12 closed

[2016-12-20 13:16] marcosinger commented on #48
@crgimenes I like this, but what about a transaction which never receive a commit or rollback? it will ends up blocking future calls? Should it have a timeout or something?

[2016-12-20 13:22] crgimenes commented on #48
@marcosinger Perhaps with a timeout, like a session control.
Example, if the system does not receive something in X seconds, the system does a rollback and returns an error for the next call.

[2016-12-20 13:25] crgimenes commented on #48
Probably capturing a connection to hold a transaction will complicate somewhat the implementation of issue #22.

[2016-12-21 16:35] crgimenes opened #52 "Access control"
I suggest implementing a way to identify the connection and validate the user/client.
So we can allow or deny access to tables, views, etc.

Also que can define a way to set allowed access to features such as a table being "insert only", or even a field being "read-only".

[2016-12-23 15:55] avelino opened #53 "Migrations - manage data structure within the database"
Migrations are pREST's way of propagating changes you make to your schema (adding a field, deleting a schema, etc.) into your database schema. They’re designed to be mostly automatic, but you’ll need to know when to make migrations, when to run them, and the common problems you might run into.

Vars:
[code]

Commands:
[code]

[2016-12-23 16:17] henriquechehad commented on #53
+1

[2016-12-23 16:38] henriquechehad commented on #35
👍

[2016-12-23 21:28] henriquechehad commented on #35
PR: https://github.com/nuveo/prest/pull/54

[2016-12-23 22:36] avelino opened #55 "Mock postgresql data base"
Example on PostgreSQL drive:
https://golang.org/src/database/sql/sql_test.go#L1030

[2016-12-23 23:16] #22 closed

[2016-12-23 23:22] felipeweb commented on #46
@crgimenes  @cassiobotaro  this issue is fixed? with pool implementation?

[2016-12-26 00:37] felipeweb commented on #46
fix in PR #56

[2016-12-26 00:37] #46 closed

[2016-12-26 20:56] #35 closed

[2016-12-27 03:56] felipeweb commented on #53
Closed via #57

[2016-12-27 03:56] #53 closed

[2016-12-27 15:15] henriquechehad opened #58 "ORDER BY"
ASC:
?_order=datetime

DESC:
?_order=-datetime

Multiple orders
?_order=id,-datetime

How about this syntax? Any suggestions?

[2016-12-27 15:19] felipeweb commented on #58
LGTM

[2016-12-27 20:15] henriquechehad commented on #58
PR: https://github.com/nuveo/prest/pull/59

[2016-12-29 00:30] #58 closed

[2017-01-05 17:33] #48 closed

[2017-01-06 23:25] #50 closed

[2017-01-12 09:47] avelino commented on #52
Initial implementation on PR #66

[2017-01-12 12:39] marioidival commented on #52
It's an idea. Maybe check permissions by middleware?

[2017-01-12 12:45] marioidival commented on #52
@crgimenes @avelino @felipeweb

[2017-01-12 17:18] avelino commented on #52
@marioidival is migrate to middleware

[2017-01-12 17:21] marioidival commented on #52
@avelino got it!

[2017-01-13 16:07] #51 closed

[2017-01-16 17:55] avelino opened #70 "Executing sql query (like/alternative database views)"
maintain views within the database is always tricky for developers, thinking about this **problem** to develop an alternative SQL execution.

Folder that will be read:
[code]
URI:
[code]

Extension which will be executed on each http method:
- **GET** `*.read.sql`
- **POST** `*.write.sql`
- **PATCH/PUT** `*.update.sql`
- **DELETE** `*.delete.sql`

Access permissions:
[code]

### Template
Vars:
[co

[2017-01-16 18:33] avelino commented on #33
After brainstorm we have come to the conclusion that we won't be able to implement without losing the REST feature.

To make queries with OR (or where more complex) we recommend using VIEWS (within the database) or #70 (like view the level of application)

[2017-01-16 18:33] #33 closed

[2017-01-16 18:38] crgimenes opened #71 "Problems in the where"
I am having problems when using jsonb and normal fields in the same where.

An example of what I'm trying to do:
[code]

The behavior is erratic, sometimes it works but most of the time it returns an error.
Looks pretty much like the problems we were having to keep the map order in Go.

This is the error that prest is returning:
[code]

[2017-01-16 18:56] avelino commented on #52
Fixed on #66, for migration to middleware create new issue

[2017-01-16 18:56] #52 closed

[2017-01-16 20:39] crgimenes opened #72 "select with greater than, less than, different, etc."
Queries with where greater than, less than, different, etc.

[2017-01-16 20:58] crgimenes opened #73 "prest client"
Create a client API  To facilitate the use and standardization of calls

examples:
prestc.Query(
or
prest.client.Query(

[2017-01-17 11:58] crgimenes opened #74 "Remove _VIEW Before database name in the query."
The _VIEW tag before the name of the database in the query is not required.
The ideal is to have only one endpoint for both tables and views.

[2017-01-20 14:12] avelino opened #75 "rewrite tests using native go package"

[2017-01-20 22:59] felipeweb opened #76 "Invalid insert query if table not has column id"
If table not has column id pREST generate an invalid query because query write RETURNING id

[2017-01-21 22:55] #76 closed

[2017-01-22 14:13] marioidival commented on #55
https://github.com/DATA-DOG/go-sqlmock

[2017-01-23 20:11] felipeweb opened #79 "Create a mock API"
The idea is to provide an easy way for pREST users to mock their API

[2017-01-25 12:50] marioidival commented on #75
Fix export env with `testdata/prest.toml` in Travis.

[2017-01-25 18:25] #70 closed

[2017-01-25 19:11] felipeweb commented on #75
@avelino  why you close this issue we are using convey yet?

[2017-01-25 21:05] #74 closed

[2017-01-26 13:15] marioidival opened #85 "Create Code Conventions markdown"

[2017-01-26 15:07] #72 closed

[2017-01-27 14:24] marioidival opened #86 "Others way to search in JSONB fields"
Today, pREST only accepts searches in key/value. It would be good to accept search in array.

[2017-01-27 15:27] #71 closed

[2017-01-27 16:41] avelino commented on #86
Would that be `JSON Functions and Operators`?

https://www.postgresql.org/docs/9.4/static/functions-json.html

[2017-01-27 17:56] marioidival commented on #86
@avelino yes!

[2017-01-27 18:26] felipeweb opened #88 "Accept is null and not null operators in querystring"

[2017-01-27 18:29] avelino commented on #88
my proposal is: `$null` and `$notnull`

[code]

[2017-01-27 23:14] #88 closed

[2017-02-01 19:47] #75 closed

[2017-02-06 12:33] advance512 opened #94 "Add some documentation on how to use"
e.g.:

Connect to Postgres, do:
[code]

then:
**GET**: http://localhost:3000/prest/public/test2
get empty results

then:
**POST** http://localhost:3000/prest/public/test2
[code]

then:
**GET**: http://localhost:3000/prest/public/test2
get expected results

[2017-02-06 19:10] crgimenes opened #95 ""invalid where clause" when using file with extension in the where"
- pREST version (or commit ref): 0a1c7bcdb3b2e2bd4dc82d1e881432b56b8bab25
- pREST endpoint: /database/public/tablename
- PostgreSQL version: 9.6.1.0
- Operating system: macOS Sierra
- Go version: 1.7
- Log gist:

## Description

When I search for filenames that are registered in a field of a table the pREST gets confused because of the dot and the extension in the filename and return "invalid wher

[2017-02-07 14:43] #95 closed

[2017-02-07 22:04] #55 closed

[2017-02-07 23:51] cassiobotaro opened #100 "count databases"
- pREST version (or commit ref): a50fcf11df055a99767ae1ef6f1ae8c868e05b2e
- pREST endpoint: /databases?_count=*
- PostgreSQL version: 9.6
- Operating system: Linux
- Go version: 1.7
- Log gist: https://gist.github.com/cassiobotaro/846d0183c9d33bda7124d0cebf250f4c

## Description

Expected status code 200 but 500 is returned.

[2017-02-08 00:23] cassiobotaro opened #101 "count schema"
- pREST version (or commit ref): a50fcf1
- pREST endpoint: /schemas?_count=*
- PostgreSQL version: 9.6
- Operating system: Linux
- Go version: 1.7
- Log gist: nil
## Description

![image](https://cloud.githubusercontent.com/assets/3127847/22717757/02ea0fc2-ed84-11e6-8905-cbef2348e378.png)

![image](https://cloud.githubusercontent.com/assets/3127847/22717763/0e465d3a-ed84-11e6-8b8f-7c7846c1d103.png

[2017-02-08 01:01] cassiobotaro opened #102 "Wrong renderer"
- pREST version (or commit ref): a50fcf1
- pREST endpoint: prest/public/test4?_renderer=xml
- PostgreSQL version: 9.6
- Operating system: Linux
- Go version: 1.7
- Log gist: nil

## Description

![pasted image at 2017_02_07 10_55 pm](https://cloud.githubusercontent.com/assets/3127847/22718773/48eac2be-ed89-11e6-85c6-b6ee2ac27e18.png)

Expected xml as return but json is returned.

[2017-02-08 01:39] #102 closed

[2017-02-14 00:46] henriquechehad opened #104 "dynamic modules"
A way to create and import custom modules inside prest and register endpoint's for it.

like example:
Path: `prest/modules/module01.go`

And this can register URLs that will call the functions inside the module.

Any suggestions?

[2017-02-15 19:36] henriquechehad commented on #104
Created an suggestion here: https://github.com/nuveo/prest/pull/105

[2017-02-18 05:31] felipeweb commented on #104
implemented in #106

[2017-02-18 05:31] #104 closed

[2017-02-20 13:10] henriquechehad opened #108 "toml syntax check"
Running prest with some typo or error in config file (prest.toml) is just ignoring. Is not showing warnings or errors

[2017-02-23 13:20] avelino opened #112 "Possibility of generating cache"
In some applications (or endpoint, depends on the use) cache is required to not be accessing the database (PostgreSQL) in every request.

Store key/value:
- key: endpoint + query string (GET)
- value: return body

configuration (TOML/ENV):
[code]

`sotrePath`: native memory storage support (no path declaration required, `:memory:`)

Stores (adapters):
- [buntdb](https://github.com/tidwall/buntdb)

[2017-02-23 14:14] #100 closed

[2017-02-23 14:34] #101 closed

[2017-02-23 15:40] avelino opened #113 "disable endpoint cache"
Depends #112

configuration (TOML/ENV):
[code]

[2017-02-23 15:51] henriquechehad opened #114 "Queries with dynamic params"
In the template/files queries https://github.com/nuveo/prest#scripts-templates-rules

Currently are requiring the exactly number of params. But should be possible to use optional params.

Error: `sql: statement expects 4 inputs; got 5`

Optional param example:

SELECT * FROM table01 {{if where}} T1 {{end}}

[2017-02-24 22:44] #108 closed

[2017-03-03 12:30] felipeweb opened #119 "Possibility of reorder middlewares when execute pREST as a module"
This will give us more flexibility when add a custom middleware

[2017-03-04 02:28] #119 closed

[2017-03-06 16:02] henriquechehad opened #122 "Custom routes stopped working"
The custom routes stopped working when restrict = True

It's returning the message: `required authorization to table`

This middleware `middlewares.AccessControl` should not handle the custom URL's

[2017-03-06 16:05] henriquechehad commented on #122
@felipeweb I think it was after this middleware refactor: https://github.com/nuveo/prest/commit/92ca666a7a28a00416702efd66925279edae06b0

[2017-03-06 16:06] felipeweb commented on #122
yes you are right @henriquechehad

[2017-03-07 15:05] #122 closed

[2017-03-07 17:39] avelino commented on #122
generate new docker image: https://hub.docker.com/r/nuveo/prest/builds/b6msbq7m3yct5nmvoaaroxb/

[2017-03-10 12:09] avelino opened #124 "homebrew formula"

[2017-03-11 20:12] avelino commented on #124
done!
[code]

[2017-03-11 20:12] #124 closed

[2017-03-16 19:52] henriquechehad opened #126 "Crashing when postgresql closes connection or timeout"
When postgresql stop with timeout or error like `DatabaseError: server closed the connection unexpectedly` pREST is crashing too.

Log:
[code]

[code]
![captura_de_tela_2017-03-16_a__s_19 32 42](https://cloud.githubusercontent.com/assets/31996/24021694/ec5e79c2-0a80-11e7-8ae5-681c726fdb42.jpg)

[2017-03-16 22:43] avelino commented on #126
seems like memory leak

[2017-03-18 00:27] #126 closed

[2017-04-02 14:41] #4 closed

[2017-04-06 02:37] felipeweb opened #130 "Better errors messages"
To make more easy to debug pREST

[2017-04-06 05:17] pablomelo commented on #130
Any dependency that has a workaround to the issue that the error messages are not returned as json will break, and therefore, this has to be thought very carefully.

[2017-04-13 16:06] MichaelHipp opened #132 "Expose pREST directly to the Internet?"
Question:  can pREST be sufficiently secured to make it safe to directly expose it to the Internet? Thanks.

[2017-04-13 17:26] pablomelo commented on #132
I would say that it depends on what "sufficiently secured" means for each user.

There are a few security techniques/features that can be applied that would cover the majority of cases:

- JWT - Json Web Tokens
- Strict CORS to make sure the data doesn't leak
- And https end-to-end to make sure no one can intercept or change the data while in transit.

Still, that would not be "sufficient" for reg

[2017-04-19 12:50] marioidival opened #133 "Insert's in JSON field not work"

[2017-04-26 04:37] cassiobotaro opened #135 "Prest version as tag in dockerhub"
Docker Hub only have 0.1 version and latest, but we have several bugfixes and releases. Fix on latest can be dangerous.

[2017-05-06 01:40] #130 closed

[2017-05-06 01:44] avelino commented on #135
Exist 2 tags on docker hub:
- latest
- 0.1 (release)

https://hub.docker.com/r/nuveo/prest/tags/

[2017-05-06 01:44] #135 closed

[2017-05-08 21:20] felipeweb opened #138 "prest.toml is mandatory"
Today prest.toml is mandatory but the file must be optional

[2017-05-12 19:37] felipeweb opened #140 "Support arrays"
add support to arrays like []string

[2017-05-18 13:08] felipeweb opened #142 "Standardize the signatures of CRUD functions"
Standardize the signatures of CRUD functions to follow the "SELECT" signature

[2017-05-19 13:32] felipeweb opened #145 "remove from request body the field data around content"

[2017-05-19 22:53] felipeweb commented on #138
closed via #144

[2017-05-22 03:22] felipeweb opened #146 "Refactor migrate commands to use migrate v3"
https://github.com/mattes/migrate

## PROS

- migrate v3 now support other locals where get migrations files ex: github repository, s3 and many others

## CONS

- Migrate v3 have a lot of changes that will break our cli api
- Create command is removed

[2017-05-22 04:17] felipeweb commented on #146
cc/ @avelino @crgimenes @marioidival  @cassiobotaro

[2017-05-22 13:53] felipeweb opened #147 "Disable JWT on debug mode"

[2017-05-22 23:16] felipeweb opened #149 "passing a struct instance for pREST populate instead use map[string]interface{}"

[2017-05-23 02:15] #147 closed

[2017-05-23 02:15] #138 closed

[2017-05-23 19:21] felipeweb commented on #133
closed via #150

[2017-05-23 19:21] #133 closed

[2017-05-24 19:11] felipeweb commented on #114
closed via #152

[2017-05-24 20:54] felipeweb opened #153 "Support group by"

[2017-06-01 22:29] crgimenes opened #157 "Using json_agg to improve the return of json"
Postgresql has a formatting function called json_agg that can properly format json for all its data types including array and jsonb.
Today we are using Go to try to parse the return to json but in some cases it is very difficult because it involves extra queries to the metadata tables of the database.

[2017-06-03 12:42] #157 closed

[2017-06-03 12:43] #140 closed

[2017-06-03 12:50] crgimenes opened #161 "prepare sql stateament on load"
Today the sql statements are prepared and then discarded after they run. We can prepare these statements in the system load and gain some speed when executing these statements.

[2017-06-04 05:29] DudeWhoCode opened #162 "Authorization header : JWT or Bearer?"
The README says to use the format `JWT {token}`. When used, the server throws an error :
[code]
Using `Bearer {token}` works fine.

[2017-06-04 13:37] marioidival commented on #162
Hi @DudeWhoCode ... You are right, we use `Baerer {token}`, but this token it's JWT.

[2017-06-04 15:03] DudeWhoCode commented on #162
Then line number 124 README.md should be changed from :
[code]
to
[code]
Am I right?

[2017-06-04 15:10] crgimenes commented on #162
You're right. The authentication is JWT and should be sent using the Bearer schema in the Authorization header.
We need to improve this error message.

[2017-06-04 18:41] #162 closed

[2017-06-12 19:43] #145 closed

[2017-06-12 19:43] #142 closed

[2017-06-18 17:01] jdelobel opened #167 "Add swagger suppport for api documentation"
## Description

It will be great if prest support swagger api documentation :)

[2017-06-19 13:32] felipeweb opened #168 "use context package to handle timeout and cancellation properly"
this will make the timeouts more customizable

[2017-06-20 18:30] sebastianwebber opened #170 "BGWorkers and native extensions"
Hi There,

There is any plan to adapt the pREST to work as a native background worker<sup>1</sup> and be distributed as a native PostgreSQL extension?

Perhaps the package `plgo`<sup>2</sup> can help.

References:
1. https://www.postgresql.org/docs/current/static/bgworker.html
2. https://github.com/microo8/plgo

[2017-06-24 09:08] justinclift opened #171 "Typo fix ;)"
As a thought, the description on this repo has a typo. :wink:

*A fully RESTful API from any existing PostgreSQL database writting in Go*

*writting* → *written*

[2017-06-24 13:33] avelino commented on #171
Thanks @justinclift

[2017-06-24 13:33] #171 closed

[2017-06-24 20:24] justinclift commented on #171
You're welcome. :smile:

[2017-06-26 15:23] #132 closed

[2017-06-27 18:06] mphuie opened #173 "Response is not valid when SELECTing from an empty table"
- pREST version (or commit ref): 0.2
- pREST endpoint: /db/public/table/
- PostgreSQL version: 9.6
- Operating system: Ubuntu 14
- Go version:  (using docker container nuveo/prest:0.2)
- Log gist:

## Description

When querying a table with no rows, the API returns nothing.  This is not valid JSON.  It should return `[]`

[2017-06-27 20:09] #173 closed

[2017-06-27 20:29] avelino commented on #173
@mphuie thanks report bug

[2017-06-29 16:17] hooblei commented on #49
... or user defined stored procesdures like in [PostgREST](https://postgrest.com/) -  https://postgrest.com/en/v4.1/api.html#stored-procedures

[2017-06-29 19:50] marioidival opened #175 "Support to HAVING Clause"

[2017-06-30 13:51] felipeweb commented on #49
@hooblei you can define using QUERIES feature https://github.com/nuveo/prest#executing-sql-scripts

[2017-06-30 19:44] #153 closed

[2017-07-03 17:31] #175 closed

[2017-07-06 21:17] hooblei commented on #49
@felipeweb right - but I thought that it might be bit redundant, to define a query for each proc I like to make public available, since all the informations (required params, return type, etc) could also be read directly from pg

[2017-07-10 08:43] khalifeserge opened #178 "Return Singular non-array json object"
- pREST version (or commit ref): 0.1.7
- pREST endpoint: Qgis
- PostgreSQL version: 9.6
- Operating system: Windows 10

This is a feature improvement request. I am trying to use Prest to serve GeoJSON and the standards require the return to be a singular non array type. [Postgresrest ](https://postgrest.com/en/v4.1/api.html#singular-or-plural) has this option  but the way it is set is not convenie

[2017-07-10 10:55] khalifeserge opened #179 "BUG on Windows platform using TOML config files"
in config.go file the class path instead of filepath is used to parse the directory and file. This result in an empty directory on windows which uses \ as separator instead of /

changing the following line form
`dir, file := path.Split(filePath)`
to
`dir, file := filepath.Split(filePath)`
fixes the issue since 	"path/filepath" is already imported in the beginning of the file

[2017-07-10 11:47] marioidival commented on #179
Hi @khalifeserge, send a pull request!

[2017-07-11 10:04] khalifeserge opened #181 "CORS not working"
CORS is not working in the current master branch. It took me a while to investigate and I learned a lot about CORS and NEGRONI packages but I still don't quite understand why the error is happening although I have figured out how to fix it but only with a hack that breaks the _renderer option. Someone with more knowledge then me will have to figure this one out.

Under "config/middlewares/middlewa

[2017-07-12 12:53] marioidival opened #182 "Make pREST more safe"
https://github.com/shieldfy/API-Security-Checklist

[2017-07-12 14:18] #179 closed

[2017-07-19 13:29] #181 closed

[2017-07-21 12:53] lerrua opened #186 "PREST_CONF must try to loading prest.toml file automatically"
Hello guys,

I think the that `prest` command will be more simple if `PREST_CONF` is used only if I want the prest.toml in another path, if that file exists on root folder so the prest load it automatically.

[2017-07-21 16:46] lerrua opened #187 "go get prest/cmd and prest/config should install only these packages"
Guys,

When I do `go get -u github.com/nuveo/prest/cmd` it must download only `cmd` package, right? So, the go get command is downloading all prest files, same case when I do `go get -u github.com/nuveo/prest/config`.

[2017-07-21 18:04] felipeweb commented on #187
@lerrua go get download all code in repository, but you can use the packages separately

[2017-07-21 18:04] #187 closed

[2017-07-21 19:00] felipeweb commented on #187
@lerrua @lerrua this can be seen on https://github.com/golang/go/blob/master/src/cmd/go/internal/get/vcs.go#L501

[2017-07-21 19:58] #186 closed

[2017-07-25 05:07] avelino opened #190 "package is package, software is software"
The **pREST** has grown very much and we can diversify the usage, it is not just a monolithic software it is possible to use it as a framework (modules https://github.com/nuveo/prest/blob/master/CREATING_MODULES.md) as well.

Today we have an architectural error using the **pREST** as framework (module) because we have the `vendor` folder.

With the point raised above, I propose we migrate the **p

[2017-07-25 11:15] marioidival commented on #190
Ruby On Rails did this before and they were successful. Let's go!

[2017-07-25 22:19] lerrua opened #191 "Show SQL Queries when Debug is True"
Yo,

What do you guys think about prest server logging queries when debug settings is true?
I think it will be a nice feature.

[2017-07-25 22:40] marioidival commented on #191
@lerrua it's awesome feature =)

[2017-07-26 14:55] lerrua opened #193 "Request with end slash on url"
Guys,

I spent a time doing a POST request in a table url and I got an empty error:

[code]

The solution was remove the end slash on URL, but I think we can accept both or at least return a better error message.

[2017-07-26 15:06] marioidival commented on #190
https://github.com/prest/adapters/pull/1
https://github.com/prest/cmd/pull/1
https://github.com/prest/config/pull/1
https://github.com/prest/middlewares/pull/1
https://github.com/prest/controllers/pull/1

[2017-07-26 15:56] lerrua opened #194 "Convert print statements to real logging messages"
Yo,

Actually prest just uses Print messages to output messages, I think we need to change it to improves console messages with INFO, DEBUG, etc and maybe colors.

[2017-07-26 15:59] lerrua commented on #194
BTW, this PR will help us a lot  https://github.com/nuveo/logSys/pull/2/files :beer:

[2017-07-26 19:58] lerrua opened #196 "Request with a wrong table name should return 404"
Hello there,

I'm doing a POST into a table that does not exist on my database, for example:
[code]
and I'm getting a 400, I think it must return a 404 response.
[code]

[2017-07-27 03:48] coolzilj opened #197 "role system planning?"
Is there role system planning just like PostgREST?

[2017-07-27 04:57] avelino opened #198 "group by not working, permission crash"
https://github.com/prest/controllers/pull/2/commits/c6aff786b8ffc8b72424ac014b672d44c2d8988f#diff-fdc56cdc36b3d184da98526631325213R92

[2017-07-27 13:23] avelino opened #199 "Used SQL file on fixture (data base load data)"
We use a shell script to load database structure into the integration test, let's migrate to a SQL file

[2017-07-27 14:11] marioidival commented on #198
https://github.com/prest/adapters/pull/4

[2017-07-27 15:09] #194 closed

[2017-07-27 15:10] avelino commented on #194
@lerrua thanks for proposing

[2017-07-27 20:06] #149 closed

[2017-07-28 13:19] #198 closed

[2017-07-28 18:17] avelino commented on #190
Congratulations time, so it is easy to pREST update for framework (as we are using within the @nuveo)

[2017-07-28 18:17] #190 closed

[2017-07-28 18:33] felipeweb commented on #191
https://github.com/prest/prest/issues/194

[2017-07-28 18:33] #191 closed

[2017-07-30 04:23] leopku opened #200 "Table name case sensitive issue"
- pREST version (or commit ref): 0.2
- pREST endpoint: /
- PostgreSQL version: 9.6
- Operating system: macOS
- Go version: 1.8
- Log gist:

## Description
I had a table named with 'Reply'

run
[code]
it returns
[code]

[2017-07-30 12:19] crgimenes commented on #200
if we surround the table name with double quotation marks we solve this problem and also tables with  reserved words as name, like "user".

[2017-08-03 14:12] crgimenes opened #201 "Use nuveo/log instead of fmt.Println"
I propose to use a lightweight log package, specifically nuveo/log, in this way we gain color in the logs and especially the debug log will be much easier to distinguish from the rest of the system.

nuveo/log URL: https://github.com/nuveo/log

[2017-08-03 23:40] #201 closed

[2017-08-04 15:43] felipeweb opened #202 "make adapters.parseArray public"
when we use prest as a package and we need to pass a slice to operator, before execute de operator func, i mean, the `postgres.Insert()` and `postgres.Update()` func we need to formatting slice to postgres format, because of this we need to make `postgres.ParseArray() public

[2017-08-04 15:53] felipeweb opened #203 "make operators function more smart"
to make operators func more easy to use as a package and do not need format params before execute the operation (#202), to make operators function more smart.

[2017-08-10 15:48] felipeweb commented on #200
@leopku fixed will be available on next release

[2017-08-10 15:48] #200 closed

[2017-08-11 13:43] #161 closed

[2017-08-13 04:15] allochi opened #205 "Keep getting "error": "sql: statement is closed""
- pREST version (or commit ref): latest
- pREST endpoint:
curl -X GET http://127.0.0.1:6000/backend/public/publishers -H 'Authorization: Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiYWRtaW4iOnRydWV9.TJVA95OrM7E2cBab30RMHrHDcEfxjoYZgeFONFh7HgQ'

- PostgreSQL version: postgres (PostgreSQL) 9.6.4
- Operating system: macOS 10.12.6
- Go version: go1.8.

[2017-08-13 05:01] marioidival commented on #205
@allochi Thank you for reporting!

[2017-08-13 13:49] crgimenes commented on #205
@felipeweb May be the new cache, take a look.

[2017-08-14 07:54] leopku commented on #200
Many thanks @felipeweb .

[2017-08-14 19:14] felipeweb commented on #205
@allochi fixed!

[2017-08-14 19:14] #205 closed

[2017-08-18 20:59] lerrua opened #206 "n.Use does not work with a custom middleware"
Hi guys,

I was trying to use a custom middleware for my app using pREST as a framework, following the steps of documentation I can't replicate the feature. Doesn't work and my middleware is not called.
[code]
It will work only if I call all core middlewares and reorder it.

[2017-08-18 21:09] lerrua opened #207 "Improve how to use Middlewares"
Hi there,

I talked to @felipeweb about use of Middlewares earlier today. In my case I'm using pREST as framework and my needs is how to implement a custom middleware, following the docs so I have two options:

First way:
Adding all middlewares manually and put the new one.
[code]
Works fine! But I have a problem here, pREST users will have to check pREST core middleware always if they want to add

[2017-08-22 15:50] tarnowsc opened #208 "Improve CORS support"
Hi,

While working with prest I've found that OPTIONS call is not supported, unfortunately this is extensively  used as preflight request. Also the Access-Control-Allow-Headers header with asterix was not working for my browser. Therefore I've created two PRs:
https://github.com/prest/middlewares/pull/6
https://github.com/prest/config/pull/6

Best Regards
Cezary

[2017-08-22 17:57] felipeweb commented on #208
thank you @tarnowsc

[2017-08-22 17:57] #208 closed

[2017-08-22 19:01] tarnowsc commented on #208
that was quick, many thanks

[2017-08-24 19:39] #206 closed

[2017-08-24 19:44] lerrua commented on #207
This issue https://github.com/prest/prest/issues/206 was solved, now theses implementations will work and We can use middlewares and code-style provided by negroni.

[code]
I'll close this issue. :)

[2017-08-24 19:44] #207 closed

[2017-08-28 19:42] jeffotoni opened #212 "Access multiple database"
Hello everyone, I had the need to access several databases, and today using the prest I realize that I would have to upload a service to each bank if I wanted to use the prest.
It would be interesting to have in the file prest.toml the possibility of configuring several databases and the system understand this in my requests.

[2017-08-28 19:59] felipeweb commented on #212
@jeffotoni  today if you want access multiples databases is  possible use `QUERIES` feature with `dblink` extension https://www.postgresql.org/docs/current/static/dblink.html

[2017-08-28 20:05] felipeweb commented on #212
@jeffotoni i will start a brainstorm with the others maintainers, because to support this we will need to change the global state of the connection. I think it is good feature, but i'm ok with one pREST per database because pREST control database migrations too.

What do you think @marioidival @avelino @crgimenes @cassiobotaro and @gtsalles ?

[2017-08-29 10:48] jeffotoni commented on #212
Thanks for the answer, yes I would have to change the global "DB" to a DBS MAP in memory.

[2017-08-30 00:08] avelino commented on #212
What would be the use? `pREST as service` or `framework`?
If it's like service it's so easy to climb another service, one for each data base

[2017-08-30 01:19] jeffotoni commented on #212
So that's what I said before, it's a reality that we live in everyday, and maybe it's isolated for you and it does not make sense for you to implement.
We are testing the pREST as a service only but it was only a note ...

Thank you.

[2017-08-30 15:56] felipeweb commented on #197
@coolzilj Today it is not possible to do like postgREST because the db is global for pREST, but i think  we can implement a simple role system based on JWT token data. I really like the ideia  that pREST have simple role system.

What do you think about it @avelino @lerrua @cassiobotaro @marioidival @crgimenes @gtsalles ?

[2017-08-30 16:19] crgimenes commented on #197
I like the ideia

[2017-08-30 17:39] lerrua commented on #197
Sounds good to me, we can put this idea on the next roadmap.

[2017-09-07 21:57] joelmdesouza opened #213 "restructuring for use of more than one database adapter"
Hello everyone

I use the MySQL database.
I would like to restructure the pRest project to support other database adpaters in addition to Postgres.

I implemented the restructuring on a fork and will run all the tests as it appears in CONTRIBUTING.md.

After that, can I send the PRs for analysis?
Basically they are used to change the direct calls of postegres for calls of the new interface Adapter

[2017-09-07 23:02] crgimenes commented on #213
@felipeweb, @cassiobotaro, @marioidival what do you guys think?

[2017-09-07 23:59] marioidival commented on #213
SGTM

[2017-09-08 00:43] felipeweb commented on #213
SGTM
On Thu, 7 Sep 2017 at 20:59 Mario Idival <notifications@github.com> wrote:

[2017-09-11 19:14] crgimenes opened #214 "Scanner.Scan must return error if result is empty"
Using pREST as package the function Scanner.Scan must return an error if result is empty and Scan is receiving an object to be populated.

Example:
[code]

This is necessary because there is no way to know if the result is empty or if the record matches with the empty object.

A workaround is to pass an array instead of an empty object and then use len() to check if the result is empty.

[code]

[2017-09-11 19:22] felipeweb commented on #214
one other way that i like more than return an error is return the number of rows returned just following the io.Reader ideia that return the number of bytes readed

[2017-09-12 19:56] joelmdesouza commented on #213
I finish the first step to make the pREST compatible with more than one Adapter.
Changes were made to the following packages:
-adapters
-config
-controllers
-middlewares

I ran tests of all project packages, including unchanged ones.
Can I send the PRs for analysis?
I wanted this analysis before I started implementing the MySQL Adapter.

Note:
Probably there will be more changes in some package be

[2017-09-12 20:44] joelmdesouza commented on #213
A doubt.
Do PR of the prest package with the vendor updated with these changes?

[2017-09-12 21:02] felipeweb commented on #213
Yes  of course

Em ter, 12 de set de 2017 às 17:44, Joel M. de Souza <
notifications@github.com> escreveu:

[2017-09-13 00:10] joelmdesouza commented on #213
done the PRs, in each repository

[2017-09-14 21:48] felipeweb opened #216 "support alias field"
if on query have 2 columns with same name the first column will not appear because json key is unique and alias is the ideal solution for this

[2017-09-15 20:35] joelmdesouza commented on #213
I uploaded the requested changes.
I ran all the tests except in the controllers package.
I run the tests in the controllers package on Linux, later or tomorrow, it does not work right in bash git in Windows, something related to the path of queries.

[2017-09-15 21:36] joelmdesouza commented on #213
I ran all tests.
All PASS.

[2017-09-16 03:06] avelino commented on #170
working in progress: https://github.com/prest/bgworker
Inspiration:
- @sebastianwebber
- @fabriziomello
location: https://pgbr.postgresql.org.br/2017/

[2017-09-17 23:05] felipeweb commented on #213
@joelmdesouza  could you send a pull request on  main repo just add postgres.Load(). without update vendor?

[2017-09-17 23:24] #214 closed

[2017-09-19 13:15] #193 closed

[2017-09-25 05:24] felipeweb opened #219 "CORS not work correctly"
CORS not work correctly when browser do a preflight request https://developer.mozilla.org/en-US/docs/Web/HTTP/Access_control_CORS

[2017-09-25 17:50] fabriziomello commented on #213
Hi all,

First of all sorry because I'm too late in this thread but I'll share my thoughts:
- Shouldn't we have a config for adapters instead to have it hard coded? (I'm starting by understand about pREST internals so maybe this ask make no sense)
- What about create anoter environment variable like PREST_ADAPTER={postgresql|mysql|sqlite}
- Thinking more about to have new adapters we need to think

[2017-09-25 18:20] felipeweb commented on #213
* I particularly like de idea that use hardcoded adapters because we don't need add  some code to detect adapter on prest and if people want to implement adapter for some new database and is possible, just using prest as framework, but is not prest maintainer responsibility to know about the other new database

* I like the ideia that remove PG prefix.

What the do you think about it @crgimenes @a

[2017-09-25 18:27] joelmdesouza commented on #213
There will still be changes in the configuration part.
But my idea is to implement the MySQL adapter, making the least amount of changes at the first moment.
During the implementation of the MySQL adapter we will have a better idea of all the points that will need refactoring for the total independence of each adapter.

[2017-09-26 16:01] deciomontanhani opened #220 "Support like operator in query"
Support write like operation on query string

[2017-09-26 16:39] deciomontanhani opened #221 "Support Distinct function in query"
Support distinct function in a query string

[2017-09-27 22:44] fabriziomello opened #222 "Support IS [NOT] {TRUE|FALSE} query operators"
Support the following query operators:
- IS TRUE
- IS NOT TRUE
- IS FALSE
- IS NOT FALSE

[2017-09-29 00:09] #222 closed

[2017-10-02 23:56] avelino opened #226 "Remove documentation of README file, addend Document link"
https://github.com/prest/prest.github.io

[2017-10-03 02:50] #226 closed

[2017-10-03 16:36] avelino opened #228 "Unify .sql file for tests"
Today have the same file shared in N repositories
history #199

[2017-10-03 21:33] ror6ax commented on #228
Was this done already? I can see one sql file in this test case and not much in other repos...

[2017-10-03 23:01] avelino commented on #228
not implemented, check `N` files:
- https://github.com/prest/prest/blob/master/testdata/schema.sql
- https://github.com/prest/config/pull/9/files
- https://github.com/prest/template/pull/1/files
- https://github.com/prest/adapters/pull/19/files

After being merged, we must centralize the `SQL` file at `prest/prest` and exec in repositories that needs it

[2017-10-03 23:31] felipeweb commented on #199
@bege13mot could do the pull request on repo https://github.com/prest/middlewares is the last repo that still not use .sql ?

[2017-10-04 08:14] ror6ax commented on #228
Ok, that makes sense. I'll see what I can do.

[2017-10-04 10:17] bege13mot commented on #199
@felipeweb I couldn't find any executable sql in this repo https://github.com/prest/middlewares

[2017-10-04 12:57] #199 closed

[2017-10-06 08:43] avelino commented on #221
@bege13mot update documentation pls

[2017-10-06 12:18] bege13mot commented on #221
@avelino It is done.

[2017-10-06 12:47] #221 closed

[2017-10-08 10:57] #219 closed

[2017-10-09 02:28] EltonSouza opened #230 "Enable jwt middleware customization"
When we want to create a custom jwt middleware, this is already possible, but the prest besides registering the customized middleware also registers the standard middleware, which often ends up taking out effect of the customized middleware

[2017-10-11 17:19] fabriziomello commented on #216
Have two columns with the same name will happen only using JOINs, correct or am I missing something? Given that how you imagine address this issue? You'll seek at resultset fields to check duplicates and then add an alias or you'll act using something from database side?

[2017-10-11 18:24] #220 closed

[2017-10-11 21:17] felipeweb commented on #216
i don't know i will take some time to think about it on holiday

[2017-10-16 21:11] PrincipalsOffice commented on #196
Is this currently being worked on by someone?

[2017-10-17 18:42] franciscocpg opened #231 "Error: unknown shorthand flag: '1' in -1"
- pREST version (or commit ref): 5c263a7
- pREST endpoint: -
- PostgreSQL version: 9.6
- Operating system: Linux
- Go version: 1.9.1
- Log gist: -

## Description
I am following migration example trying to run
`prest migrate --url driver://url --path ./migrations next -1`

Then I'm getting this error
`Error: unknown shorthand flag: '1' in -1`

[2017-10-18 12:05] franciscocpg commented on #230
I'm very interested in this issue.
IMO the simplest solution is to add a config to disable prest jwt middleware.
So [here](
https://github.com/prest/middlewares/blob/14bc08e7033d2c92c8657fa97ad0a9aca3515bff/config.go#L26-L28) instead of  using
[code]
Use something like
[code]
What do you guys think?
May I propose a PR for that?

[2017-10-18 12:36] felipeweb commented on #230
i guess we can i little bit different

[code]

[2017-10-18 12:37] felipeweb commented on #230
@franciscocpg feel free to send a PR

[2017-10-18 15:46] franciscocpg commented on #230
@felipeweb
If we have a separate config for enable/disable the default jwt, do we still need to check debug config?
I mean `if config.PrestConf.EnableJWTDefault` wouldn't be enough?

[2017-10-18 15:58] felipeweb commented on #230
Yes
On Wed, 18 Oct 2017 at 13:46 Francisco Guimarães <notifications@github.com>
wrote:

[2017-10-19 12:54] felipeweb commented on #230
@franciscocpg to maintain the default behavior we need both, the debug mode off enable jwt and  if we want customize jwt we need to disable default jwt so other env var

[2017-10-19 20:33] #230 closed

[2017-10-25 12:46] tiaguinho opened #234 "SSL Connection"
I was looking how prest works and saw that doesn't exist SSL connection configuration.
What do you guys think about implementing that?

[2017-10-26 08:08] tiaguinho commented on #234
I'm implementing this feature.
I thought to put the configuration like this:

[ssl]
mode = "required"
sslcert = "./PATH"
sslkey = "./PATH"
sslrootcert = "./PATH"

[2017-10-26 11:16] avelino commented on #234
That's a good sign
[code]

Does not need `mode = "required"`, if there is the SSL TOML node it is required

[2017-10-26 11:44] tiaguinho commented on #234
But `mode` has 4 options:

* disable - No SSL
* require - Always SSL (skip verification)
* verify-ca - Always SSL (verify that the certificate presented by the server was signed by a trusted CA)
* verify-full - Always SSL (verify that the certification presented by the server was signed by a trusted CA and the server host name matches the one in the certificate)

[2017-10-27 11:08] avelino commented on #234
Added on documentation mode list pls

[2017-10-28 15:57] #213 closed

[2017-10-28 16:16] #234 closed

[2017-10-29 14:27] #212 closed

[2017-10-29 15:32] avelino commented on #212
The @fabriziomello implemented Multi database support https://github.com/prest/adapters/pull/25

[2017-10-29 15:37] avelino opened #237 "Multi database support documentation"
Ref:
https://github.com/prest/adapters/pull/25
https://github.com/prest/controllers/pull/10

[2017-10-30 11:37] avelino opened #239 "MySQL support"

[2017-10-30 11:37] avelino opened #240 "SQLite support"

[2017-10-30 12:36] joelmdesouza commented on #239
I'm going to start developing this driver.

[2017-10-30 12:53] joelmdesouza commented on #239
I will develop it as a separate package.
Do you have a name suggestion for the package?

[2017-10-30 13:18] fabriziomello commented on #239
Why a separate package? IMHO is better just create mysql directory inside adapter repo.

[2017-10-30 14:57] jeffotoni commented on #212
Caramba ....muito bom.... vou conferir....

[2017-10-30 15:01] joelmdesouza commented on #239
What do others think about it?
Which way is best for code maintenance?

[2017-11-01 14:18] felipeweb opened #241 "Support pREST run on Google App Engine"
On GAE we can't use negroni server we need to use GAE server so the ideia is expose all handlers in a function to make possible register handlers on  GAE server

[2017-11-01 23:49] avelino commented on #241
GAE today run PostgreSQL?

[2017-11-01 23:53] crgimenes commented on #241
Yes, but it's in beta.
https://cloud.google.com/sql/docs/postgres/

[2017-11-02 00:56] felipeweb commented on #241
after PRs are merged you can test GAE integration here https://github.com/felipeweb/blog-posts/tree/master/pREST-GAE just change env vars on app.yaml

[2017-11-02 07:27] avelino commented on #241
Could write blogpost on pREST in Google App Engine, this would help the project

[2017-11-05 18:15] #241 closed

[2017-11-07 20:36] marioidival opened #243 "Filter with intervals not work"
[code]

[2017-11-07 21:19] felipeweb commented on #243
It is not a bug it is a feature request key on query string is unique

[2017-11-07 22:29] marioidival commented on #243
@felipeweb It's a bug.
https://stackoverflow.com/questions/1746507/authoritative-position-of-duplicate-http-get-query-keys
https://docs.oracle.com/javaee/6/api/javax/servlet/ServletRequest.html#getParameterValues(java.lang.String)

[2017-11-07 22:36] felipeweb commented on #243
Yes it is a bug

[2017-11-10 11:16] crgimenes opened #244 "Add transaction support"
I made a CRUD using pREST with master detail records, and a missing feature is transaction support.

My proposal is that the client makes a call to database/schema/begin and receives an ID of the transaction, from then on the client must pass the transaction ID on all calls and when the client commands database/schema/end the system finally executes the commands in one transaction and return succe

[2017-11-10 11:21] avelino opened #245 "Usage case session"
Page (on documentation) that lists all usage cases

We can add a topic to this page for media and content (blogpost, video and etc)

[2017-11-10 11:31] marioidival commented on #244
https://github.com/prest/prest/issues/48

[2017-11-10 12:03] crgimenes commented on #244
Example transaction I want to solve.

If I have two bank accounts, and I want to transfer money from one account to another I will remove the money from the first account and send it to the second, if at any time this second operation fails I have to be able to undo the first transaction for the money does not disappear.

[2017-11-10 12:20] lerrua commented on #244
I got it, basically find a way to group pREST commands into a single transaction associated with some reference.

[2017-11-10 12:22] crgimenes commented on #244
exactly @lerrua
I believe that a simple uudi should be enough, as a session control but to accumulate the SQL commands

[2017-11-10 13:54] fabriziomello commented on #244
@crgimenes +1 for the feature but we need think very well about how to solve it. I wonder about leave open transactions at database because it can lead us to a lot of troubles (locks, bloat, etc). We should have in mind that a database transaction should run as quick as possible, so execute a lot of REST calls to execute a single transaction sounds like a bad idea.

[2017-11-10 19:54] crgimenes commented on #244
@fabriziomello , The idea is not to open the transaction in the DB immediately, instead we generate an ID and we accumulate the calls without sending any to the postgresql until the "end" arrives. Then we command a begin, sent all the entries and an end, so from the point of view of postgresql it was all done in a single block, all at once. That way we avoid unnecessary locks, and other problems.

[2017-11-11 03:04] fabriziomello commented on #244
@crgimenes using this approach is perfect then

[2017-11-18 07:48] puny-d opened #246 "Any benchmark about this framework?"
I have noticed that it use lib/pg as the driver, maybe it have better performance with the [pgx](https://github.com/jackc/pgx)

[2017-11-19 17:44] ppKrauss opened #247 "Any plans for GET calling usual functions? And POST with JSON parameter?"
Hi, it is a suggestion similar tham [postgrest/issues/816](https://github.com/begriffs/postgrest/issues/816) and [postgrest/issues/815](https://github.com/begriffs/postgrest/issues/815)... Here is the place? If it is, I can describe better.

[2017-11-19 17:49] fabriziomello commented on #247
@ppKrauss feel free to detail better your idea

[2017-11-22 19:38] crgimenes opened #248 "move function FormatArray form adapter postgres to package formaters"
move function FormatArray to package formaters to avoid reimport package connection twice, then fix initialization bug

[code]

[2017-11-22 20:14] #248 closed

[2017-11-30 01:22] dhuckins commented on #239
IMO use adapters
For implementation, reuse the config?
https://github.com/prest/config/blob/master/config.go

[2017-11-30 09:34] joelmdesouza commented on #239
Yes.
The MySQL connector is basically a copy of the postgres folder, with the settings for MySQL usage.

[2017-11-30 13:27] dhuckins commented on #239
works for me. would find this useful, let me know through here if you fork it and can work on it

[2017-12-02 12:02] tiaguinho opened #250 "SSL connection always disable"
Commit 25 on repository adapters removes the ability to set SSL mode because is fixed to ```disable```.
So, if I try to connect using SSL mode in require mode the following error is returned.
[code]

[2017-12-02 12:44] felipeweb commented on #250
Feel free to send a pull request
Em sáb, 2 de dez de 2017 às 10:02, Tiago Temporin <notifications@github.com>
escreveu:

[2017-12-04 17:20] #250 closed

[2017-12-08 13:56] crgimenes opened #251 "url encode on migration"
need to pass urlencode on prest url to escape extended characters in the url.

[2017-12-08 16:23] tiaguinho opened #252 "Angular pREST doesn't work in Angular 5.1.0"
I have made some tests using angular-prest package in the newest version of Angular (5.1.0).
Some of the packages used in angular-prest are deprecated.

I want to know if you guys think it's interest that we update the package to be consistent with Angular changes.

[2017-12-08 16:41] felipeweb commented on #252
feel free to send a PR, but always keep in mind ... maintain compatibility with the current API if possible

[2017-12-08 18:44] brunomaomeh opened #253 "Problem with JOIN"
Hi guys, I got a problem trying to join a table..

1) The problem is when I tried to do the following join:
`../agent?_join=inner:team:team.agent_id:$eq:agent.id`

then pRest returned to me:
`"error": "pq: relação \"team\" não existe"`

the sql generated was:
`SELECT * FROM "database"."schema"."agent" INNER JOIN "team" ON "team"."agent_id" = "agent"."id"`

2) I tried to insert the schema at team t

[2017-12-09 10:33] tiaguinho commented on #252
Done!

PR: https://github.com/prest/angular-prest/pull/3

[2017-12-10 20:09] #252 closed

[2017-12-12 07:09] tiaguinho opened #254 "Update angular-prest on npmjs"
The Angular package angular-prest hasn't been updated on npmjs for months.
Can you do this @heltonalves99 ?

[2017-12-12 11:13] heltonalves99 commented on #254
sure! I will do that.
Thanks!

[2017-12-13 01:38] heltonalves99 commented on #254
its done!
thank you so much.

[2017-12-13 01:38] #254 closed

[2017-12-13 09:46] avelino opened #256 "Packages with own versioning"
pREST consists of several packages and is possible to use separately (isolated, he's got his own life.), we need to create release (version) for each.

In the documentation we should recommend using via `gopkg.in`, example:

[code]

[2017-12-13 10:24] sebastianwebber commented on #256
@avelino that will be easier if `go get ` starts supporting a `git tag` like `npm` or another dependency manager tool. Do you know if it is possible?

[2017-12-13 19:28] felipeweb opened #257 "prest.toml is mandatory"

[2017-12-13 19:29] sebastianwebber commented on #257
@felipeweb can you provide some details about how I can reproduce the problem?

[2017-12-13 19:32] felipeweb commented on #257
![image](https://user-images.githubusercontent.com/4874009/33958415-7d6b3268-e02b-11e7-935d-98e237b04cf2.png)

[2017-12-13 19:32] felipeweb commented on #257
file must be optional

[2017-12-18 13:20] avelino opened #258 "Heroku deploy button (easily deploy)"
[![Heroku](https://www.herokucdn.com/deploy/button.png)](https://heroku.com/deploy) for pREST in one click

https://devcenter.heroku.com/articles/heroku-button

[2017-12-18 18:38] joelmdesouza commented on #239
In the process of developing the MySQL adapter, I'm finding some points in the other packages that need to change to become multi-adapters.
As for example in:
prest > controllers > tables > SelectFromTables
Postgres
``` query := fmt.Sprintf(`%s "%s"."%s"."%s"`, selectStr, database, schema, table) ```
MySQL
``` query := fmt.Sprintf("%s `%s`.`%s`", selectStr, database, table) ```

I would like your

[2017-12-22 16:58] #251 closed

[2017-12-23 14:10] dbohdan opened #260 "Add repository topic "automatic-api""
Could you add the topic `automatic-api` to your repository? Software that automatically exposes APIs to databases isn't well-cataloged. (There didn't even seem to be a list on GitHub, so I [started one](https://github.com/dbohdan/automatic-api).) It will be easier to discover if there is a standard [GitHub topic](https://help.github.com/articles/about-topics/), and `automatic-api` seems as good a

[2017-12-26 11:48] RekGRpth opened #261 "jsonapi"
feature request
add support jsonapi http://jsonapi.org/implementations/#server-libraries-go

[2017-12-26 11:54] RekGRpth opened #262 "connection"
why in cmd/migrate.go connection has form
postgresql://[user[:password]@][netloc][:port][/dbname][?param1=value1&...]
but in adapters/postgres/connection/conn.go connection has form
user=user dbname=dbname host=host port=port param1=value1 ...
?

[2017-12-26 14:20] tiaguinho commented on #262
Because they use different packages to create the connection with postgres.

[2017-12-26 14:24] tiaguinho commented on #112
There is anybody working on this?

[2017-12-26 15:23] sebastianwebber commented on #260
can you take a look into this @avelino ? =)

[2017-12-26 15:48] fabriziomello commented on #112
I'm just worried with invalidation mechanism. Query heavy update datasets can lead us to wrong results using just a timeout.

[2017-12-26 17:45] avelino commented on #260
Done

[2017-12-26 17:45] #260 closed

[2017-12-26 17:46] dbohdan commented on #260
Thank you! 👍

[2017-12-27 00:28] sebastianwebber opened #263 "[proposal] new doc site and url addresses"
Hi team!

Thinking about the pRest documentation website I came with a proposal: split the documentation in two branches: `master` and for a lack of a better name... `next`.

The main idea is put the main website with details only of the latest stable version (`master` branch) and create an new website with the next release documentation (`next` branch). By next release I refer to new features and

[2017-12-27 01:00] avelino commented on #263
Minha proposta para URIs seria:

- https://postgres.rest/ = stable (branch master)
- https://postgres.rest/v2.0/ = version number (branch v2.0)

[2017-12-27 01:15] sebastianwebber commented on #263
@avelino please write **in english**! :P

[2017-12-28 23:32] crgimenes commented on #263
Hey @sebastianwebber, as we talk, it's okay if you start messing with the doc.  :)

[2017-12-29 14:32] #243 closed

[2017-12-30 12:23] joelmdesouza commented on #239
Another thing.
The statements package has incompatible string patterns with MySQL and other databases.
I believe that the content of queries.go from the statements package must be inside the package of each adapter.

[2017-12-30 15:57] joelmdesouza commented on #239
In MySQL there is no way to return the inserted row directly in the insert.
Therefore you will need to make a select after the insert to return the line.
I think moving the indicated line in the commented code solves this problem and also the problem of the string pattern difference between Postgres and MySQL.

[code]

The Insert function signature would change from:
[code]
To:
[code]
I need these

[2018-01-05 16:18] fabriziomello opened #265 "Introduce Generic http.Handler"
Code refactoring to implement a Generic http.Handler to intercept all internal pREST calls.

Can be use to:
1. Implement transaction control
2. Improve permission
3. Improve log mechanisms

[2018-01-09 12:45] avelino opened #266 "mult postgres support"
Have support in connecting to multi PostgreSQL, some for reading and others for writing (via config)

[2018-01-09 12:48] avelino opened #267 "pgbouncer support"
https://pgbouncer.github.io/

pREST supports the local pool, must be supported by disabling the local pool (via configuration).
Thus passing the responsibility to the pgbouncer

[2018-01-09 14:15] marioidival commented on #182
# Checklist
---

## Authentication
- [ ] Don't use `Basic Auth` Use standard authentication (e.g. [JWT](https://jwt.io/), [OAuth](https://oauth.net/)).
- [ ] Don't reinvent the wheel in `Authentication`, `token generation`, `password storage`. Use the standards.
- [ ] Use `Max Retry` and jail features in Login.
- [ ] Use encryption on all sensitive data.

### JWT (JSON Web Token)
- [ ] Use a rando

[2018-01-09 18:38] felipeweb opened #268 "panic: sql: Register called twice for driver postgres when use as a pkg"
[code]

[2018-01-09 19:37] felipeweb commented on #268
occurs when external pkg  import github.com/prest/adapters/postgres/connection and github.com/prest/adapters/postgres together.
to avoid this problem using an elegant solution we need to nove connection pkg to internal pkg blocking the external pkg imports connection

[2018-01-10 17:04] #268 closed

[2018-01-18 12:44] joelmdesouza opened #269 "Modifications to make the pREST compatible with other adapters"
Moved the SQL generation of Select, Insert, Delete, Update, from Controllers\tables.go into the Adapter, thus making it easy to develop several adapters with different SQL standards.

[2018-02-10 00:25] suvarapuprasad opened #271 "CORS is not working for ionic apps."
1. Please speak English, this is the language everybody of us can speak and write.
2. Please ask questions or config/deploy problems on our pREST channel: https://gitter.im/nuveo/prest
3. Please take a moment to search that an issue doesn't already exist.
4. Please give all relevant information below for bug reports, incomplete details will be handled as an invalid report.

**You MUST delete the c

[2018-02-13 13:31] felipeweb commented on #271
@suvarapuprasad could you provide more description about this?
What is the error message posted by ionic?

[2018-02-14 15:35] #269 closed

[2018-02-19 20:30] avelino commented on #257
When it is declared environment variable via `docker-compose` **does not work**, we need to understand why

[2018-02-20 14:03] avelino opened #272 "pREST documentation theme"
The theme we use today is not good for software documentation, it was made for package documentation (for this it suits you very well).

What do I say as software documentation?
We need a theme that supports sub-menu and with step-to-use (paging)

my recomendation: https://themes.gohugo.io/theme/hugo-theme-learn

Send feedback pls

[2018-02-20 14:18] sebastianwebber commented on #272
looks awesome @avelino

[2018-02-20 14:48] crgimenes opened #273 "Create new adapter "mockadapter""
Create a new adapter "mockadapter" that will be used to mock the adapters and make writing tests easier.

[2018-02-20 14:50] felipeweb commented on #273
related https://github.com/prest/prest/issues/79

[2018-02-20 14:57] felipeweb commented on #146
close because is deprecated https://github.com/mattes/migrate/issues/311

[2018-02-20 14:57] #146 closed

[2018-02-20 15:42] fabriziomello commented on #272
LGTM

[2018-02-21 12:28] sebastianwebber commented on #273
hey @felipeweb and @crgimenes !

i'm working on a PR to do that.

[2018-02-22 17:23] avelino opened #274 "fixtures (initial data for table)"
It’s sometimes useful to pre-populate your database with hard-coded data when you’re first setting up an data base.

We can do this to migration barriers but it's not the best place.

## Commands
- dumpdata (generate fixture with the data that is in the current database)
- loaddata (load fixture file)

## What is fixture file?
Is `JSON` (future we can support other formats: `YAML`) file, example:

[2018-02-22 17:55] joelmdesouza opened #275 "Move the statements into each adapter and encapsulate calls to it"

[2018-02-23 20:40] tiaguinho opened #276 "Basic AUTH with JWT"
The idea is to have one endpoint with the basic implementation of authentication.
For example, we can configure the table, username and password fields.
[code]

The configuration is an alias that prest will use to grant a JWT token.

[2018-02-26 12:35] avelino opened #277 "middleware: whitelist endpoint"
Today we support the JWT token (bool option, if active it close all endpoint).

## Problem:
I need to release 1 (or more) endpoint how do I do?

## Solution (proposal):
We need a configuration (`JWT_WHITELIST`) where we can pass an array of endpoints (using regex, leaving more flexible) where these endpoints did not pass through the validation of JWT (when active).
Example:
[code]

Acerts on regex

[2018-02-26 19:21] kemelzaidan opened #278 "[feature-request] Create auditing process on pRest"
It would be nice to have an auditing feature on pRest that records who does what on the system. Basically it would log everything it does with more metadata in another table (possibly another data base) in order to allow one to see who has done what on the system.

[2018-02-26 20:01] marioidival commented on #278
I think that is a bad idea. I don't like of pREST be responsible by a feature of "database team".

Could be a nice idea to create a new middleware (by pREST user) or use [notify feature](https://www.postgresql.org/docs/9.0/static/sql-notify.html) from postgresql.

[2018-02-26 20:12] fabriziomello commented on #278
@kemelzaidan there are a PostgreSQL extension called PGAudit for this purpose. See: https://www.pgaudit.org/

[2018-02-27 13:56] #275 closed

[2018-02-28 19:32] avelino commented on #239
implementation history:
https://github.com/prest/adapters/pull/32
https://github.com/prest/adapters/pull/35
https://github.com/prest/config/pull/7
https://github.com/prest/prest/pull/218

[2018-02-28 19:45] avelino opened #279 "BSD supported (auto build)"
We use `xgo` to generate automatic build and do not support BSD (yet)
https://github.com/prest/prest/blob/master/Makefile#L45

[2018-02-28 22:56] #272 closed

[2018-03-01 16:47] avelino commented on #277
It is not necessary for custom handler (endpoint), alternative solution: https://github.com/prest/prest.github.io/pull/9

This issue is interesting for those who want to open (without JWT) the native endpoints of the pREST (cruds), so I closed the PR's, please read the history in case of doubt

[2018-03-01 17:30] avelino opened #280 "Command to generate PlantUML ER Diagram all tables"
Generate PlantUML ER diagram textual description from PostgreSQL tables

Packages recommendation:
- https://github.com/xo/xo (support N databases)
- https://github.com/achiku/planter (support Postgres)

[2018-03-02 12:24] avelino opened #281 "Describe table endpoint"
Method: `GET`
Endpoint: `/describe/DATABASE/SCHEMA/TABLE`
SQL to Postgres adapter:
[code]

Return in JSON (by example):
[code]

[2018-03-02 12:55] fabriziomello commented on #281
+1 for idea and -1 do use "information_schema".

I worry because "information_schema" implementation in PostgreSQL have performance issues mostly in database and with a high number of objects.

And I'm not totally convinced if we need return all this information. Some database have their own implementation of DESCRIBE command (i.e MySQL) an de maybe we need to define our return interfaces for our

[2018-03-02 15:19] crgimenes opened #282 "Create a Go packet to facilitate the use of the pREST by Go applications via REST protocol"
The idea is to create a package that hides the complexities of creating a REST client in Go and facilitating the composition of the data to be sent and URLs.

[2018-03-02 21:59] avelino commented on #281
MySQL describe fields:
- Field
- Type
- Null
- Key
- Default
- Extra

[2018-03-06 21:29] felipeweb commented on #282
https://github.com/prest/prest/issues/73

[2018-03-09 18:28] #271 closed

[2018-03-09 21:17] nzoschke opened #283 "ILIKE operator"
It would be useful to an operator for a case-insensitive string match. I propose a straightforward design, a new `$ilike` operator that maps to the postgres ILIKE statement.

[2018-03-12 20:57] #273 closed

[2018-03-12 20:58] #79 closed

[2018-03-12 21:12] felipeweb opened #284 "Add documentation about mock adapter"
Add documentation about mock adapter

/cc @jtemporal

[2018-03-14 05:09] korc commented on #197
This is a showstopper feature for me. Without it, it's not possible to expose prest to the real web, unless you use it only for `SELECT` operation on access-limited, fully public tables. Kinda defeats the purpose..
There have to be some way to implement something like `SET ROLE` based on JWT attributes.

[2018-03-14 19:25] jtemporal opened #285 "Automatically deploy pREST site/docs"
Pull requests merged into `gh-pages` should start deploy process and that doesn't occur today. Maybe some tweaking is required

cc @avelino @felipeweb

[2018-03-15 10:06] ccamel opened #286 "Support other JWT signing algorithms (HS512...)"
- pREST version (or commit ref): 0.3.0 (3429dab0b8b5bf489c9c12337b88bbc1ba104eda)
- pREST endpoint:
- PostgreSQL version: 10.3
- Operating system: Linux 4.15.8-1-ARCH
- Go version: 1.10
- Log gist: https://gist.github.com/ccamel/5aeea54dbfac5b398b5a70e0d38c0308

## Description

We are currently using `pREST` in my company and we use JWT authentication based on the HS512 algorithm for signing:

[co

[2018-03-16 09:54] ccamel commented on #286
Would you be interrested by a PR ? I could have a look on this.

[2018-03-16 10:08] marioidival commented on #286
@ccamel yes, good idea!

[2018-03-16 11:44] felipeweb commented on #286
@ccamel good improvement, waiting for your PR 🎉

[2018-03-17 05:28] ralski opened #287 "Is it possible to connect to db using Unix socket?"
- pREST version (or commit ref): 0.1.7
- pREST endpoint: ?? Don't understand this
- PostgreSQL version: 9.5.10
- Operating system: CentOS 6.9 32bit
- Go version: None.
- Log gist: ??

## Description

I was unable to open the gitter chat room advertised in this window, to ask a question, so I am asking here.

My question: Is it possible to connect to postgre db using Unix socket instead TCP port? I

[2018-03-18 20:26] #73 closed

[2018-03-18 20:26] avelino commented on #73
Issue #282 more description

[2018-03-18 20:29] avelino commented on #287
Today not support, let's leave this issue open to implement

[2018-03-18 20:37] avelino commented on #286
@ccamel update documentation’s pls
https://postgres.rest/configurations/

[2018-03-19 08:18] ccamel commented on #286
@avelino Sure :+1:

[2018-03-20 15:12] felipeweb commented on #286
Thanks @ccamel  🎉

[2018-03-20 15:12] #286 closed

[2018-03-20 16:27] avelino commented on #286
Very very good man, thanks

[2018-03-20 19:07] avelino opened #288 "Heroku click deploy"
https://devcenter.heroku.com/articles/heroku-button

Recommended by @renatodex

[2018-03-20 20:02] renatodex opened #289 "Consistent Documentations for Deployment"
Hi,

I believe a consistent documentation for deploys would allow a greater understanding of use current and future use cases.
Im interested in contribute to a consistent User Guide to deploy Prest on Heroku/Amazon/etc.

The deploy guide should be the more generic as possible and maybe a few changes would be required for feasible deploy templates of well known popular Hosting providers like Heroku

[2018-03-21 14:34] annedemata opened #290 "Newbie questions on using pREST"
- pREST version (or commit ref): 4.0
- pREST endpoint:
- PostgreSQL version: 9.6.6
- Operating system: Windows 10 (client machine where I have pREST binary)
- Go version: none
- Log gist:

## Description
_I posted this same question on Postman forum but maybe I should have posted it here instead ..._
If I’m understanding it correctly, pREST would allow me to work-around Postman’s limitation of not

[2018-03-21 16:53] avelino commented on #289
ref #288

[2018-03-21 16:56] avelino commented on #290
@annedemata correct, pREST opens an interface of your PostgreSQL bank as REST API, yes it runs on Microsoft Windows.

2) yeap

[2018-03-21 17:52] annedemata commented on #290
Thank you so much for the confirmation, @avelino!

So I updated my prest.toml accordingly and I also added PREST_DEBUG=true at the top of the file to disable JWT but I'm getting a 401 Unauthorized. I just tried running http://127.0.0.1:6000/databases and http://127.0.0.1:6000/tables.

The details under [pg] section on prest.toml are the same ones that I'm using successfully on pgAdmin so I'm sure

[2018-03-21 17:58] felipeweb commented on #290
Hi @annedemata

sorry the docs is a bit outdated.

please add  jwt dafault to false

[code]
Let me know if you have more doubts.

[2018-03-21 18:10] annedemata commented on #290
Yeeeeeeeeeeyyyyyy, that works!

Thank you, thank you @felipeweb!
If I can contribute to updating any of the documentations, just let me know (I tried clicking "Edit this page on https://postgres.rest/configurations/ but I got a 404). I'm a tester, though and not a developer so my perspective will be more of a regular user : ).

[2018-03-22 16:09] ccamel commented on #178
I'm currently doing the same using `pREST` to expose a REST/[GeoJSON](https://en.wikipedia.org/wiki/GeoJSON) api from a `postgis` database.

For now, i return an array of `Feature` objects, but I would really appreciate to be able to provide a single `FeatureCollection` JSON object as result, both for compliance with standards and for better interoperability with existing GIS software.

[2018-03-22 16:57] felipeweb opened #291 "Support slice on scripts"
need to be possible pass a slice to the scripts

[2018-03-22 18:55] ralski opened #292 "Wrong version of binary at guthub?"
- pREST version (or commit ref): 0.3.0 = expected, however.. read below
- pREST endpoint:
- PostgreSQL version: 9.5.10
- Operating system: CentOS 6, 32bit
- Go version: None.
- Log gist:

## Description

Hello.

I have downloaded the binary from a section titled '0.3.0' of github, from this exact link: https://github.com/prest/prest/releases/download/v0.3.0/prest-linux-386

Then I run it with para

[2018-03-23 00:56] #291 closed

[2018-03-28 11:01] avelino opened #293 "ALLOWED_HOSTS configuration"
Default: [] (Empty list)

A list of strings representing the host/domain names that this pREST API can serve. This is a security measure to prevent HTTP Host header attacks, which are possible even under many seemingly-safe web server configurations.

Values in this list can be fully qualified names (e.g. **'www.example.com'**), in which case they will be matched against the request’s **Host** hea

[2018-03-28 12:57] pixie79 opened #294 "Align URL Paths"
Currently URL Paths within Prest are quite disorganised.

For example to get data from a table, you supply /'DBNAME'/'SCHEMA'/'TABLE'

but when doing a prepared query you supply just /_QUERIES/query_name
currently all queries appear to be against the default database and schema.

It would be much better if these were both aligned to:
/'DBNAME'/'SCHEMA'/
then either 'TABLE' or _QUERIES/xxx

This al

[2018-03-28 15:26] felipeweb commented on #292
cc @avelino

[2018-03-29 20:17] felipeweb opened #295 "Operations in batch"
pREST need to support operations in batch

TODO
- [x] Insert
- [ ] Update

[2018-04-02 15:31] felipeweb commented on #292
@ralski  just the binary prints the wrong version. Could you try with master to verify if the cors bug still occurs?

[2018-04-04 23:51] omani commented on #170
I'v built bgworker successfully with the given example. but I get the following error when creating a function in psql:

[code]

[2018-04-05 00:05] omani commented on #170
oh I see the background worker is already running. I see the string in the logs:

[code]

[2018-04-05 12:54] sebastianwebber commented on #170
@omani please take a look<sup>1</sup> the dynamic bg workers.

The easy way, I think, is create a static bg worker to start with postgres.

For a v2 version we can implementar a `prest_start_daemon()` and `prest_stop_daemon()` functions with dynamic bg workers.

Any thoughts @fabriziomello ?

References:

1. http://paquier.xyz/postgresql-2/postgres-9-4-feature-highlight-dynamic-background-workers/

[2018-04-11 01:02] L-Bouzid opened #296 "why not ? adding support for odata v4."
odata is more database centric approach to REST API, and would perfect for database introspection project like pREST.

[2018-04-17 20:14] #285 closed

[2018-04-20 19:50] felipeweb commented on #295
- [x] Insert
- [ ] Update

[2018-04-24 14:25] ralski commented on #292
@Felipe

Sorry for late response, but I was without internet connection from April beginning until now.

Thank you for checking the version issue.

Regarding your recommendation: I have cloned the project using command `git clone https://github.com/prest/prest`, but I am not familiar with Go compiler. Standing in the project directory, I tried some quickly found recommendations from web, but it co

[2018-04-26 03:37] cassiobotaro commented on #295
Although the merge of this functionality has already been done, I would like to raise some points that should be discussed.
Initially I will raise some points regarding insertion but they may be extended to other batch operations.

As we are working on a REST api, I believe the status code returned by this operation should be 201 since we are creating new features.

Another point is the content re

[2018-04-26 09:55] marioidival commented on #295
you're right.

I agree

I suggest make a test using psql directly and see what's happens there.

[2018-04-26 12:41] felipeweb commented on #295
you're right.

I  believe that is import returning the array of inserted rows, but use `RETURNING` with `COPY` is impossible for now PostgreSQL doesn't support it, so although the multi values haven't better performance we can implement using multi values yet, because we have possibilities to use `RETURNING`

I suggest make a test using psql directly and see what's happens there.

[2018-04-27 14:36] kemelzaidan commented on #295
+1 for the 201 status code.

I believe the whole point here is:

1. having more performance but sacrificing return data or...
2.  ...be less performant in order to have the return.

Most people that uses pRest (including us) use it to query the DB from the frontend. This whole feature came up because we needed to execute batch operations (in our case, dealing with multiple files on Nufs) from the

[2018-04-27 17:51] heltonalves99 commented on #295
For the 201 status, it's the most appropriate!

What about the return! I believe in some cases the full return will be important and some cases it will not matter.

I think 10k transactions with this execution time as @cassio showed to us, this no problem. I was trying to image a case that a user will do more than 10k transactions at once, maybe it can be rarely.
In the most case, the software nee

[2018-04-28 06:17] AJDSB opened #297 "Error with pREST (Docs is not very clear about it)"
pREST version (or commit ref): 4.0
pREST endpoint:
PostgreSQL version: 10.3
Operating system: Windows 10 (client machine where I have pREST binary)
Go version: none
Log gist:

## Description
Am confused with the installation part and subsequently on how it is working. I have downloaded the binary file and set it with the prest.toml file as mentioned in snap:
![image](https://user-images.githubuser

[2018-04-28 10:50] marioidival commented on #297
Do you can show your `prest.toml` file? @AJDSB

[2018-04-28 11:30] AJDSB commented on #297
Please ignore my last mail.

Hi Mario,
Thank you for the support,

I do not have the file as of now but the configuration of tool is as below :

PREST_DEBUG = true

migrations = "./migrations" [http] port = 6000 [jwt] key = "secret" algo =
"HS256" [pg] host = "127.0.0.1" user = "postgres" pass = "cdma@123" port =
5432 database = "postgres" [ssl] mode = "disable" sslcert = "./PATH" sslkey
= "./PATH

[2018-04-28 12:07] marioidival commented on #297
This error happens because in your `prest.toml` file has 2 section named as `jwt`, so to fixed just unify them. @AJDSB

[2018-04-30 06:03] AJDSB commented on #297
Hi Mario,
Thank you for the support,

Tried as you suggested but still got the same error.
Let me explain the process again that am following , which may help solve the issue:

To begin with am following https://postgres.rest/getting-started/installation/
I started with downloading the binary for windows from git https://github.com/prest/prest/releases/download/v0.3.0/prest-windows-4.0-amd64.exe
t

[2018-04-30 06:08] AJDSB commented on #297
Hi Mario,
Thank you for the support,

Tried as you suggested but still got the same error.
Let me explain the process again that am following , which may help solve the issue:

To begin with am following https://postgres.rest/getting-started/installation/
I started with downloading the binary for windows from git https://github.com/prest/prest/releases/download/v0.3.0/prest-windows-4.0-amd64.exe
t

[2018-05-02 13:28] felipeweb commented on #297
@AJDSB what is the output on the databases endpoint?

[2018-05-02 13:38] felipeweb commented on #297
@AJDSB Sorry i misunderstood something, of course the documentation need to be improved. Do you want to send a pull request in docs with the improvement?

The toml file is not mandatory, if you want you can use environment variables to configure pREST. By default JWT is enable. If you do not want JWT, can use JWT_DEFAULT=false as an environment variable.

[2018-05-02 19:36] cassiobotaro commented on #295
After discuss we decide to implement both cases. See two PR's above. Next steps are implement batch update and document these new features.

[2018-05-03 09:58] tgirod opened #298 "Uploading a blob to a OID field"
How can I push a file to a field of type OID ? Is it possible ?

I tried pushing various JS datatypes. FormData, Blob and Object generate the same error:

`sql: converting argument $2 type: unsupported type map[string]interface {}, a map`

How should I encode my Blob object to upload it ?

[2018-05-03 11:24] AJDSB commented on #297
Hi Felipe,

Thank you for the support.

I believe my issue is not with the toml file instead am not getting how to
proceed with the part "Running pREST with the pre-existing database." .
Where do i need to define or pass these variables.

Regards
Anurag

On Wed, May 2, 2018 at 7:08 PM, Felipe Oliveira <notifications@github.com>
wrote:

[2018-05-03 12:53] tgirod commented on #298
I think I'm moving forward, but I'm not there yet. I've just discovered that I have to convert binary to base64 in order to pass incorporate into JSON. Silly me.

Note that I also changed the OID field to "bytea" because decode returns this type.

So, I wrote a SQL query to insert a line into the table. I tested the query directly with psql, it works. Then I moved the query to `queries/data/upload

[2018-05-03 12:57] tgirod opened #299 "query template cannot find its data"
I'm trying to insert a line into a table. Because there is base64 encoded data in the request and that I have to decode it server side, I wrote a SQL query to insert a line into the table. I tested the query directly with psql, it works. Then I moved the query to `queries/data/upload.write.sql` and changed it include my 3 fields:

[code]

Then I ran this:

[code]

And here is the result:

[code]

[2018-05-03 12:58] tgirod commented on #298
OK, I think I found my answer: I simply cannot send a raw Blob through JSON as it is not a valid data type. So I must encode it in base64 and decode it back to binary server side.

I'm marking this as closed, but it raised another problem described here: #299

[2018-05-03 12:58] #298 closed

[2018-05-04 21:37] felipeweb opened #300 "inFormat generate invalid query when variable is nil"

[2018-05-04 22:10] felipeweb commented on #300
it is not a bug query is invalid query

[2018-05-04 22:10] #300 closed

[2018-05-05 01:12] felipeweb commented on #299
@tgirod  scripts support params only in query string.

[code]

This should work.

[2018-05-05 01:13] felipeweb commented on #299
@tgirod  i will close but feel free to reopen if don't work

[2018-05-07 09:10] AJDSB commented on #297
Hi Felipe/Mario,

Any updates.

Thanks
Anurag

On Thu, May 3, 2018 at 4:54 PM, anurag jain <jain.anurag55@gmail.com> wrote:

[2018-05-07 13:40] jtemporal commented on #297
Hi @AJDSB the problem is the port! The `6000` port is blocked on windows 😉

Try changing the port on `prest.toml` to `8080` and then access `http://localhost:8080/databases/` on your browser:

![prest](https://user-images.githubusercontent.com/6595551/39704832-049fcd92-51e3-11e8-9542-8b64358f42b0.PNG)

Try that and let me know what is the outcome please.

[2018-05-07 13:55] jtemporal opened #301 "Add port 6000 blockage on windows at the toml instructions"
Under [configurations TOML](https://postgres.rest/configurations/#toml) there should be information about windows port `6000` blockage as in commented on #297

[2018-05-07 17:00] felipeweb commented on #299
Just for confirmation i make some tests to prove what i said yesterday and i am correct.

The Queries feature works only with query string as you can see here https://github.com/felipeweb/prest-issue-299

I am ok with it.

[2018-05-09 04:02] AJDSB commented on #297
Hi Jessica,

Thank you for the support.

I changes the port as you suggested and it worked. Thanks a ton for
helping😀

Regards
AJ

On Mon, May 7, 2018 at 7:10 PM, Jessica Temporal <notifications@github.com>
wrote:

[2018-05-09 11:48] tgirod commented on #299
OK. I guess it doesn't work with `multipart/form-data` either ?

[2018-05-09 11:52] avelino commented on #299
`multi/form-data` not rest pattern (correct me if I'm wrong)

[2018-05-09 12:03] tgirod commented on #299
@avelino From my limited knowledge of the subject, I don't see why `multipart/form-data` wouldn't be a REST pattern - it is stateless and it transmits data through a POST request.

Someone asked the same question [here](https://stackoverflow.com/questions/30364642/does-using-multipart-form-data-content-type-for-a-restful-post-api-a-good-practi)

From the answers, it looks like `multipart/form-data

[2018-05-09 13:34] jtemporal commented on #297
Great @AJDSB :tada: glad to hear it worked!

I'm closing this one in favor of #301 :wink:

[2018-05-09 13:34] #297 closed

[2018-05-10 14:11] cassiobotaro commented on #295
Batch insertion was implemented using values and copy (best for many records) as can be seen in the PR's above.
The batch update, although it was [drafted](https://gist.github.com/cassiobotaro/0999e201825969129fcec12fc28a03b9), was not implemented because in discussion with the project maintainers, it was inefficient in terms of performance.
More discussion at prest chat on telegram.

[2018-05-10 14:11] #295 closed

[2018-05-14 01:11] felipeweb opened #302 "Add docs about batch insert"
related #295

[2018-05-14 19:39] romuloads commented on #289
Prest work on Google App Engine?

[2018-05-14 20:11] felipeweb commented on #289
@romuloads  I update the example code to the last pREST API. Let me know if you need any help

[2018-05-14 22:09] avelino commented on #289
@felipeweb It would be interesting to have a page in the documentation explaining **how to** do, so would be an official information of pREST.

We can use this issue to do (link in PR)

[2018-05-14 22:15] cassiobotaro commented on #302
Done! https://github.com/prest/prest.github.io/pull/20

[2018-05-14 22:15] #302 closed

[2018-06-04 20:19] NasseNase opened #303 "Running without config file"
I followed the instructions on the Website and now i have a prest.toml file and the prest-windows-4.0-amd64 file in a folder.

This is how my toml file looks.:

PREST_DEBUG=true
migrations = "./migrations"
[http]
port = 8080
[jwt]
key = "secret"
algo = "HS256"
default = false
[pg]
host = "127.0.0.1"
user = "postgres"
pass = ""
port = 5432
database = "posts"
[ssl]
mode = "disable"
sslcert = "./PATH

[2018-06-07 17:04] cassiobotaro commented on #303
Please remove line `PREST_DEBUG=true` and try again.

[2018-06-08 00:29] felipeweb commented on #303
@NasseNase could you share what is request and response headers?

[2018-06-08 05:16] felipeweb commented on #303
On master branch it works to me!
------------- my TOML ---------------------
[cors]
alloworigin = ["http://example.com"]

--------------------------------------------

[2018-06-08 09:26] NasseNase commented on #303
This is what i get...

![networkresponse](https://user-images.githubusercontent.com/7911925/41150372-209213ae-6b0e-11e8-89ac-14ddce88f441.png)

as you can see there is no Access-Control-Allow-Origin. I use the prest-windows-4.0-amd64 file from https://github.com/prest/prest/releases/tag/v0.3.0.

Strangely it seems i can see the right Response and no Error in the Network Tab BUT i get the error msg

[2018-06-08 13:31] NasseNase commented on #303
Thanks a lot, that fixed my problem!

[2018-06-08 13:48] #303 closed

[2018-06-13 21:25] felipeweb opened #304 "migrate commands should exit with non zero code if migrations fails"
migrate commands should exit with non zero code if some migrations fails

[2018-06-13 21:29] felipeweb opened #305 "pREST should exit with non zero code on startup if database is unavailable"
pREST should exit with non zero code on startup if database is unavailable

[2018-06-14 14:44] #305 closed

[2018-06-15 20:30] romuloads commented on #289
261/5000
Good afternoon. I struggled with https://github.com/felipeweb/blog-posts/tree/master/pREST-GAE. I discovered a new way to make prest work on App Engine with the original project repository and the vendor folder.
The following link: https://youtu.be/rHcgP0PCkX8

[2018-06-15 20:52] felipeweb commented on #289
@romuloads very nice your way is better than my because we don't need to use pREST as a package but we need to discuss how we will make with Dockerfile.

My idea is create Dockerfile.appengine

[2018-06-15 21:08] romuloads commented on #289
130/5000
Thank you very much. I have to see if the "gcloud app deploy" command allows me to pass the makefile name or it looks for the default name.

[2018-06-19 02:41] sylviefiat opened #306 "Regex in conf file table name ?"
- pREST version (or commit ref): docker image used is tagged "latest" build tag is "bqytgrmsvgssx5knetvabq8" but there is no commit ref sorry
- pREST endpoint: intern
- PostgreSQL version: 9.6.3
- Operating system: Centos 7
- Go version: none
- Log gist:

## Description

Hi, I would like to limit access to certain type of tables to READ only so I tried to pass a regex to table name in access confi

[2018-06-19 03:35] felipeweb commented on #306
Access table doesn’t support regex for now just * for all , but you can
open a feature request
On Mon, 18 Jun 2018 at 23:41 Fiat <notifications@github.com> wrote:

[2018-06-19 03:42] sylviefiat commented on #306
I tried using * for all with not luck either is it this syntax :
    [access]
    restrict = true  # can access only the tables listed below

       [[access.tables]]
        name = '*'
        permissions = ["read"]
        fields = ["id","name"]

Otherwise do you have guidelines to open a feature request ?

[2018-06-19 03:45] felipeweb commented on #306
Sorry, but * is just for table‘s fields
On Tue, 19 Jun 2018 at 00:42 Fiat <notifications@github.com> wrote:

[2018-06-21 17:15] felipeweb commented on #292
@ralski Sorry for the late response

go get github.com/prest/prest

[2018-06-23 16:14] AnatolyShirykalov commented on #282
It is possible to mount handler
[code]

[2018-06-25 03:19] cassiobotaro opened #307 "unexpected warning"
- pREST version (or commit ref): master
- pREST endpoint: -
- PostgreSQL version: 10
- Operating system: linux
- Go version: 1.10.3
- Log gist: -

## Description

When start a simple project using prest as library, even I reconfigure restrict mode, warning about public mode is showed.

`[warning] You are running pREST in public mode.`

[code]

[2018-06-25 08:47] avelino commented on #307
I think it's important to notify when you're in **unsafe mode**.
In your case this *forcing* to be insecure, thinking about who forgot a setting of the **development** environment in **production** environment it is important to be notified.

[2018-06-25 12:34] #307 closed

[2018-06-25 20:33] romuloads commented on #289
Good evening.
I was thinking of creating a folder called "deploys" and inside it an "app engine" and put the dockerfile and app.yaml inside. With this folder deploys we could according to which is creating other deploys go putting it and do not pollute the main folder.

[2018-06-25 20:44] romuloads opened #308 "Documentation Problem - Custom middlewares > Disable JWT"
Good evening.
I'm following the disable-jwt documentation at: https://postgres.rest/prest-as-web-framework/custom-middlewares/disable-jwt/
For token generation it works perfectly.
However other framework urls like "http://127.0.0.1:8000/databases" do not always work by returning an empty array.
If I take the code from Custom middlewares the url returns to normal operation.
The framework version is

[2018-06-26 18:54] cassiobotaro opened #309 "Prest mock don't respect configurations on tablepermissions"
- pREST version (or commit ref): master
- pREST endpoint: mock
- PostgreSQL version: 10
- Operating system: linux
- Go version: 1.10.3

## Description

Atual mock code doesn't respect prest config on table permissions, using an item to validate that.
[code]
Proposal is to respect configurations.

[2018-06-26 19:27] cassiobotaro opened #310 "Mark functions as test helper"
- pREST version (or commit ref): master
- pREST endpoint: mock
- PostgreSQL version: 10
- Operating system: linux
- Go version: 1.10.3

## Description

When using mock, and validate fails, go shows information about mock line number instead of correct line. We should mark function as [Helper](https://golang.org/pkg/testing/#T.Helper)

[2018-06-27 14:15] #309 closed

[2018-06-28 17:50] avelino commented on #23
more details in: https://github.com/prest/prest/issues/274

[2018-06-28 17:50] #23 closed

[2018-06-29 02:59] felipeweb commented on #308
@romuloads  the docs is a bit outdated... you can use `PREST_JWT_DEFAULT=false` to disable

[2018-06-29 03:15] felipeweb commented on #256
we can use git tag now because dep and vgo support tag

[2018-06-29 14:10] #279 closed

[2018-06-29 15:39] felipeweb opened #313 "prest version command shows wrong version"
![image](https://user-images.githubusercontent.com/4874009/42101450-7d6cc5ba-7b99-11e8-9030-6d229a782717.png)

[2018-06-29 17:58] cassiobotaro commented on #313
@felipeweb test again and if solved, pls close this issue.

[2018-06-29 18:14] #313 closed

[2018-06-30 08:50] avelino commented on #288
https://github.com/prest/prest/issues/258

[2018-06-30 08:50] #288 closed

[2018-07-01 09:32] avelino opened #315 "PREST_PG_URL config var now set automatically when provisioning Postgres"
Cloud application pattern usually connects to database via URI

*When declaring the URL should be ignored all other database configuration **PREST_PG_\****

refs:
- https://devcenter.heroku.com/changelog-items/438
- #258

[2018-07-03 13:19] felipeweb opened #316 "Introduce environment config"
we want to know if pREST is running in production or development mode to for example send logs to some log aggregator when is in production

[2018-07-08 17:44] cmnstmntmn opened #317 "CockroachDB support"
Does anyone managed to make it work with CockroachDB ?

from their docs, it seems that is PostgreSQL compatible at drivers level;

https://www.cockroachlabs.com/docs/stable/build-an-app-with-cockroachdb.html

[2018-07-09 12:05] fabriziomello commented on #317
Hi,

From the low level protocol seems we don't need to do anything to be compatible with CockroachDB, but I doubts we're compatible at SQL level perspective.

See more information on adapters repo (https://github.com/prest/adapters/blob/master/postgres/statements/queries.go).

Regards,

[2018-07-09 14:00] cmnstmntmn commented on #317
hmm, it doesn't seems to work

[2018-07-09 14:22] fabriziomello commented on #317
We'd love to see a PR from you... ;-)

[2018-07-09 22:55] felipeweb opened #318 "Driver Load doesn't respect flags"
I run `prest --url "postgres://auth:auth@postgres:5432/auth?sslmode=disable" --path ./migrations migrate up` and it fails

![image](https://user-images.githubusercontent.com/4874009/42480008-d5897b4c-83b1-11e8-80d8-12ae10472c66.png)

[2018-07-10 12:32] #318 closed

[2018-07-11 19:35] #310 closed

[2018-07-12 17:38] cassiobotaro opened #320 "Message causes confusion"
- pREST version (or commit ref): master
- pREST endpoint: -
- PostgreSQL version: 10
- Operating system: linux
- Go version: 1.10.3
- Log gist:
![image](https://user-images.githubusercontent.com/3127847/42649628-9447db5c-85e0-11e8-8f65-bb00a727ce4d.png)

## Description

Using this [prest.toml](https://github.com/cassiobotaro/demoprest/blob/master/prest.toml), but set PREST_PG_USER in environment w

[2018-07-12 18:44] avelino commented on #320
thanks @cassiobotaro

[2018-07-12 18:44] #320 closed

[2018-07-14 22:56] cmnstmntmn commented on #317
thank you @fabriziomello.

i'm going to close this issue

[2018-07-14 22:56] #317 closed

[2018-07-18 13:33] cassiobotaro opened #321 "wrong fields at select"
- pREST version (or commit ref): master
- pREST endpoint: `/<database>/<schema>/<table>`
- PostgreSQL version: 10
- Operating system: linux
- Go version: 1.10.3
- Log gist: -

## Description

Using prest as framework and setting some table permissions as [this gist](https://gist.github.com/cassiobotaro/18464a1729ace93fc44e0ade7ae0a4d2).

add a person and try to select all.

Expected a list with on

[2018-07-19 14:53] cassiobotaro commented on #321
Fixed with https://github.com/prest/adapters/pull/48

[2018-07-19 14:53] #321 closed

[2018-07-23 01:35] #315 closed

[2018-07-23 11:15] ppKrauss commented on #294
Hi @pixie79  and @avelino. A brainstorn. The *pREST prepared query* is like *RPC in PostgREST*... So, yes, need a separated namespace (_QUERIES) for it and, different from RPC, it is as a [black-box](https://en.wikipedia.org/wiki/Black_box), pREST can't introspect (can?)... So there are no control about the script:  <br/>you can use "SELECT FROM public.t WHERE x={{.x}}" or "FROM myschema.t"...  or

[2018-07-23 11:23] ppKrauss opened #322 "Compare with PostgREST at documentation"
Hi, is only a suggestion to express objectivally the main differences, in syntax and features of the last versions.

[2018-07-24 17:07] avelino opened #323 "query filter _select exclude field"
It is common to have a table with many fields and want to remove only one (or some) fields, example:

table fields:

- ID
- a
- b
- c
- d
- e
- f
- g
- h
- i
- j
- l
- m
- n
- o
- p
- q

I want all the fields minus the `ID`

[2018-07-24 20:22] avelino opened #324 "Pattern matching ilike"
The key word ILIKE can be used instead of LIKE to make the match case-insensitive according to the active locale. This is not in the SQL standard but is a PostgreSQL extension.

`$ilike`

refs: https://postgres.rest/query-statements/#filter-where

recommendation by @hersonls

[2018-07-24 20:38] felipeweb commented on #324
ref #283

[2018-07-24 20:39] #283 closed

[2018-07-24 20:46] #324 closed

[2018-07-26 16:31] cassiobotaro opened #325 "write permissions"
- pREST version (or commit ref): master
- pREST endpoint: `/<database>/<schema>/<table>`
- PostgreSQL version: 10
- Operating system: linux
- Go version: 1.10.3
- Log gist: -

## Description

Using prest as framework and setting some table permissions as [this gist](https://gist.github.com/cassiobotaro/18464a1729ace93fc44e0ade7ae0a4d2).

Try to add a person using name and age `curl -d '{"name": "j

[2018-07-26 16:36] cassiobotaro opened #326 "read permission in insert"
- pREST version (or commit ref): master
- pREST endpoint: `/<database>/<schema>/<table>`
- PostgreSQL version: 10
- Operating system: linux
- Go version: 1.10.3
- Log gist: -

## Description

Using prest as framework and setting some table permissions as [this gist](https://gist.github.com/cassiobotaro/18464a1729ace93fc44e0ade7ae0a4d2).

Try to add a person using name and age `curl -X POST localho

[2018-07-27 08:49] kafka-tamura opened #327 "Multi-server prest"
I am executing sql query scripts using prest.

The challenge I have is that I have to run the same query scripts across different databases.

Right now it requires me to spawn a separate server with the toml config pointing to a given database. I am wondering if we can build in the ability to specify the database I want to query in the GET request for executing sql scripts.

[2018-07-27 13:50] felipeweb commented on #327
cc @fabriziomello  and @sebastianwebber

[2018-07-27 13:51] felipeweb commented on #292
fixed on last image release

[2018-07-27 13:51] #292 closed

[2018-07-27 17:34] sebastianwebber commented on #327
Hi @kafka-tamura how are you?

Its possible to map your remote tables using `posgtres_fdw`<sup>1</sup>?

We can think a way to handle multiple connections in different databases, but the easy way to map the remote tables in the same database as pRest runs.

Please share more details about your environment.

References:

1. https://www.postgresql.org/docs/current/static/postgres-fdw.html

[2018-07-30 03:35] kafka-tamura commented on #327
@sebastianwebber I am good. How are you?

Thanks for the fdw tip. Let me see if I can make that work.

[2018-08-02 19:55] romuloads opened #329 "Convert Scanner to a list struct."
- pREST version last
- PostgreSQL version: 9.6
- Operating system: Windows 10
- Go version: go1.10.1 windows/amd64

Good afternoon. I'm in trouble, it must be noob.
I am using the query function of the postgres.go file to do a query in the database but I can only convert it to struct when it returns a line. How can I convert the Scanner that returns to a list struct.
Ex:
type Pessoa struct {
	Id

[2018-08-02 21:16] felipeweb commented on #329
@romuloads  suppose you have output from DB like bellow

[code]
you can do

[code]

[2018-08-02 21:56] romuloads commented on #329
When the db returns a line this mode works fine "sc.Scan (& p)" however when it is a list. It returns the following error message: "rows returned is not 1". In this case it returns 49 rows.
       quant, err := sc.Scan(&pessoas)
	if err != nil {
		http.Error(w, err.Error(), http.StatusBadRequest)
	}
	if quant >= 1{
		fmt.Println(pessoas)
	}

[2018-08-03 03:57] cassiobotaro commented on #329
@romuloads instead of create a struct Pessoas, just use []Pessoas.
[code]

[2018-08-03 14:30] romuloads commented on #329
Thank you Cassiobotaro. I help a lot. Worked perfectly.

[2018-08-03 14:31] #329 closed

[2018-08-04 15:12] kafka-tamura commented on #327
@sebastianwebber,

postgres_fdw could work but it is complicating my application logic because I need to handle schema changes - which is not trivial for my use-case. Plus it is not idiomatic to our application architecture and is going to make maintaining the application difficult. I am settling for multiple prest servers each pointing to the database.

[2018-08-09 13:32] xulien opened #331 "Returning sql clause on (at least) PATH/PUT query?"
hi and thanks for this project.

Is there any reason to not implement the "returning" sql clause that i would haven't thougth of?

I use redux with pRest and it's hard to do an Select after an Update and deal with asynchonous  action call,
it could be a nice improvement on PATH/PUT to have something like "?_returning=id&returning=field"

in case, i can deep into, and try to provide a PR?

[2018-08-09 13:47] felipeweb commented on #331
@xulien feel free to send a pull request it is very helpful, but please always return entire object, just to follow a pattern, because insert operation always return entire object

[2018-08-09 14:22] xulien commented on #331
@felipeweb thx, I'll work on it.
Concerning entire object, what about heavy object with base64 image field and a boolean field when you just change the boolean value ?! it may be a little excessive but what a waste of resources.

What do you think about a query without "_returning" flag => actual response, "_returning=" or "_returning=*" => entire object, "_returning=field" => only the field desir

[2018-08-11 17:18] #197 closed

[2018-08-13 09:45] avnermiz commented on #86
Hi @avelino - perhaps you can help me with something.  I'd like to use pREST to extract nested JSON values.  Here's the query I would do in postgres:

select FIELD1 -> 'jsonField' -> 'jsonNestedField' --> 'jsonDoubleNestedField' FROM TABLE where FIELD2 = VALUE

Is there some way to convert that into a pRest GET request?

From what I see, the json GET request does not support nested JSON and requir

[2018-08-13 21:39] felipeweb commented on #299
https://github.com/prest/template/pull/4

[2018-08-13 21:39] #299 closed

[2018-08-23 18:59] danielbprice commented on #287
I'd like this feature too.  I am using Google Cloud Postgres (their hosted offering) and the default way to do development against a DB is with their "Cloud SQL proxy", and the best way to use the proxy is to run a single instance, and let clients access it via unix domain socket.  I was surprised that this didn't work.

[2018-09-04 13:05] felipeweb commented on #331
https://github.com/prest/controllers/pull/20

[2018-09-04 13:05] #331 closed

[2018-09-15 12:23] avelino opened #333 "PORT var env to HTTP Port pattern in SaaS provider"
https://help.heroku.com/PPBPA231/how-do-i-use-the-port-environment-variable-in-container-based-apps

ref https://github.com/prest/prest/issues/258

[2018-09-15 21:58] #333 closed

[2018-09-16 10:33] avelino opened #334 "adapter: FindOne, return object not list"
Returns one result that satisfies the specified query criteria on the table or view.

## case
When I use to auth (login) in I have to put  `limit 1` in the query. Even then a list is returned with only one result (in case satisfying).

To treat the return I need to look at the first element of the list, example:
https://github.com/mining/mds/blob/ccd0142f79785771216a12bf1324831f99f078cd/auth/auth.

[2018-09-17 10:44] avelino opened #335 "prest/adapter: pREST documentation"
Creates page in the adapter's usage (detailed) documentation

The ideal would be to have **godoc.org** too

[2018-09-21 14:01] marioidival opened #336 "Expose LISTEN/NOTIFY on pREST"

[2018-09-23 13:27] marioidival commented on #336
Just a way to expose the interface [LISTEN](https://github.com/lib/pq/blob/master/notify.go#L402) from [lib/pq](https://github.com/lib/pq/).

As the first goal use the listen interface on pREST as a package, afterward expose a WebSocket channel to getting directly all notify.

[2018-10-15 21:32] DanielDanteDosSantosViana commented on #334
@avelino I'm taking this one if you don't mind

[2018-10-15 21:33] felipeweb commented on #334
Go for it

On Mon, 15 Oct 2018 at 18:32 Daniel <notifications@github.com> wrote:

--
Felipe Oliveira
Tel: 11 99930-9974
Caelum | Ensino & Inovação
www.caelum.com.br

[2018-10-15 21:42] DanielDanteDosSantosViana commented on #334
Thank @felipeweb!! There are many branches in this project, what  branch is correct to work?

[2018-10-15 21:43] felipeweb commented on #334
On adapter repository

On Mon, 15 Oct 2018 at 18:42 Daniel <notifications@github.com> wrote:

--
Felipe Oliveira
Tel: 11 99930-9974
Caelum | Ensino & Inovação
www.caelum.com.br

[2018-10-18 15:14] brhenrique opened #337 "Select filter is ignored by sql query builder"
- pREST version (or commit ref): v0.3.4
- pREST endpoint: /DATABASE/SCHEMA/TABLE/?_select
- PostgreSQL version: 9.4
- Operating system: linux (amd64)
- Go version: 1.11
- Log gist:

## Description

`_select` doesn't seem to be working on v0.3.4

"/testdb/test/user_id?_select=user_id" in v0.3.3 translates to:
[code]

while in v0.3.4 it seems like `_select` gets completely ignored
[code]

[2018-10-18 15:17] felipeweb commented on #337
@brhenrique do you want to send a pull request?

[2018-10-22 14:06] ccamel opened #338 "Crate support"
It would be great to have support for Crate Data Storage (https://crate.io/).

[2018-10-22 14:11] AlexIskander opened #339 "Update database"
Good day.

Is it possible to make it so that when executing a PATCH query, the field is not overwritten in the database, but added to the end?

...

[2018-10-22 17:05] felipeweb commented on #339
Can you give an example with what you trying to do so i can better
understand your question?

Em seg, 22 de out de 2018 às 11:11, Aleksandr <notifications@github.com>
escreveu:

--
Felipe Oliveira
https://www.felipeweb.net.br

[2018-10-23 09:18] AlexIskander commented on #339
For example, I have a table "test"

CREATE TABLE test (
    test_id bigserial primary key,
    test_name varchar(20) NOT NULL,
    test_desc text NOT NULL,
    date_added timestamp default NULL
);

Suppose in the field "test_desc" there is an entry "example", so here I want that when executing the query

curl -s -X PATCH -H "Content-type: application/json" -d '{"test_desc": "new text" }' 'http://1

[2018-10-23 12:14] felipeweb commented on #339
pREST does not support COUNT function yet

Em ter, 23 de out de 2018 às 06:18, Aleksandr <notifications@github.com>
escreveu:

--
Felipe Oliveira
https://www.felipeweb.net.br

[2018-10-23 13:03] AlexIskander commented on #339
not COUNT    bat  CONCAT

[2018-10-23 13:05] felipeweb commented on #339
sorry support COUNT, but not CONCAT

[2018-10-23 14:01] avelino commented on #339
@AlexIskander you propose some REST signature for CONCAT?
COUNT example:
https://postgres.rest/query-statements/#select-get

[2018-10-23 14:30] AlexIskander commented on #339
Are you understand difference between COUNT and CONCAT?

[2018-10-23 19:15] fabriziomello commented on #339
@AlexIskander unfortunately we don't have the behavior you want, but you can use sql scripts instead. Look at https://postgres.rest/executing-sql-scripts/

Thinking more about your doubt I don't know if it's feasible to implement it because in your example you're consjuder just string datatypes, but what if we need to "concat" numeric, date, time, interval, or others datatypes ?? If so we'll need

[2018-12-19 20:22] #196 closed

[2018-12-19 20:22] avelino commented on #196
Thanks @Norris1z

[2018-12-20 06:35] Norris1z commented on #301
@jtemporal @felipeweb @avelino I just sent a PR to the website repo but @IssuehuntBot wont let me add it because their regex doesn't match the PR 😕

[2018-12-20 11:27] baybal opened #340 "Operations on column and table names with white space cause "invalid identifier" error"
- pREST version (or commit ref): 3.4
- pREST endpoint: /DB0001/public/test?Auto%20ID=25
- PostgreSQL version: 10.6
- Operating system: Linux
- Go version: bundled in release
- Log gist: https://gist.github.com/baybal/c6059538121443aaad2dddf17108aead

## Description

Attempting to filter of select a field with a white space results in invalid identifier error

`{
	"error": "could not perform WhereB

[2018-12-20 22:46] Norris1z commented on #196
@avelino i still haven't received the bounty 😕

[2018-12-22 12:58] baybal commented on #340
It also happens whenever you do an UPDATE on a filed with whitespace

[2018-12-24 07:14] baybal commented on #340
I also have a not yet confirmed suspicion of the same thing happening with table names and schemas

[2018-12-24 08:45] baybal commented on #340
confirming

`GET http://localhost:8000/DB0001/%3CABSTRACT/GENERAL%3E:%3CNODES%3E

{
	"error": "pq: relation \"\u003cABSTRACT.GENERAL\u003e:\u003cNODES\u003e\" does not exist"
}`

`GET http://localhost:8000/DB0001/%22%3CABSTRACT/GENERAL%3E:%3CNODES%3E%22

{
	"error": "pq: zero-length delimited identifier at or near \"\"\"\""
}`

[2018-12-30 04:43] learningandworking opened #341 "could not execute template SQL"
## Description

While using Prest to working with an existing SQL script(under foo folder), it informs issues as below. I tried to double-check in document and somewhere else to clarify, but not sure what's wrong. Hope you can take a look at it and give ideas to solve

**URL to run**
```http://127.0.0.1:6000/_QUERIES/foo/some_get?field1=bar```

**Config file:**
```location = "./queries/"```

**SQL

[2019-01-01 01:15] felipeweb commented on #341
Remove ; in the end and it works

[2019-01-01 01:16] felipeweb commented on #341
Feel free to reopen if it don’t work

[2019-01-01 09:50] RaviShankarPandey opened #342 "Need example of $in filter. $in.value works but $in.[value1,value2] does not"
I am trying to use $in filter on a table column. My URI looks like this:
http://0.0.0.0:3000/DB/SCHEMA/TABLE?column=$in.[value1,value2]
Where DB, SCHEMA,TABLE,column,value1 and value2 are some values. It returns an empty array []. However when I run the query in my Postgres client for value1 and value2 filter it returns rows of data.
Can someone please give me an example on $in filter?

- pREST ve

[2019-02-10 08:46] shugydw opened #343 "Inconsistency while subsequent pREST calls"
Hi!

Calling pREST `POST` operation twice (inserting value in two different tables) throws an error on the second operation. It is totally random, as the operations succeed sometimes and fail sometimes.

The error is `pq: database "users" does not exist"`.
Note: It exists

Also setting `debug=true` does not output any error for pREST logs.

- pREST version (or commit ref): Docker:latest (v0.3.4)
-

[2019-02-16 02:25] arxdsilva opened #344 "Feature: bind body to struct"
As [this says example](https://postgres.rest/prest-as-web-framework/) shows extending prest as a web framework, one useful feature would be just like echo's [bind context](https://echo.labstack.com/guide/request#bind-data) to struct (body-struct).

[2019-02-16 15:01] felipeweb commented on #344
Arthur prest scanner to do it.

sc.scan(&obj)

On Sat, 16 Feb 2019 at 00:25 Arthur Silva <notifications@github.com> wrote:

--
Felipe Oliveira
https://www.felipeweb.net.br

[2019-02-17 21:23] #344 closed

[2019-02-20 17:47] #301 closed

[2019-02-21 11:26] gurungrahul2 commented on #284
@felipeweb @jtemporal I would like to do this, please, get me started.

[2019-02-21 13:51] avelino commented on #308
Documentation: https://postgres.rest/configurations/#authorization

[2019-02-21 13:51] #308 closed

[2019-02-22 09:09] ccamel opened #345 "Bad docker image"
- pREST version (or commit ref): v0.3.4
- pREST endpoint: -
- PostgreSQL version: PostgreSQL 11.1
- Operating system: x86_64-pc-linux-gnu
- Go version: 1.11.5
- Log gist: -

## Description

The container `prest/prest:v0.3.4` fails to start:
[code]

Same behaviour for tags `v0.3.3`, `v0.3.2` and `v0.3.1`. Only the tag `latest` (which is older than the previous ones) works.

[2019-03-20 10:56] joelmdesouza opened #346 "cmd.Execute always loading postgres adapter"
The fact that cmd.Execute () always loads the postgres adapter makes it impossible to load another adapter.
Because it always overrides the loaded adapter before cmd.Execute ()
Must handle to load only if config.PrestConf.Adapter == nil.

[2019-03-26 21:50] thecb4 opened #348 "Quotes in table name"
- pREST version (or commit ref): v0.3.4 (prest/prest docker image)
- pREST endpoint:
- PostgreSQL version:   repository: bitnami/postgresql, tag: 10.7.0
- Operating system: Kubernetes 1.13
- Go version: Kubernetes 1.13
- Log gist:

## Description
When attempting to access tables within the public Schema of my database, I am getting an empty response. However, when I use PGAdmin, I can see my table

[2019-04-08 12:46] arxdsilva opened #349 "config: tests failing when called individually"
- config version (080ab42):
- Operating system: linux ubuntu 19.04
- Go version: go version go1.12.2 linux/amd64
## Description
Hey guys, Im using the config package to load a `DATABASE_URL` to a env but while testing I noticed that It was not loading properly, so I dug into the code to find that many of the tests doesnt unset the env vars so the other tests doesnt fail because they are getting th

[2019-04-09 23:23] #349 closed

[2019-04-11 13:47] guadaran opened #350 "Error: could not execute sql missing \"=\" after \"ports\", in connection info strings."
Hi,

I have a prest instance running 24x7 on a server. I have a simple SQL script like that:

SELECT count(*) FROM table WHERE attribute = "{{.attr}}"

But sometimes this script returns this error:

{
  "error": "could not execute sql missing \"=\" after \"ports\", in connection info strings\",SELECT count(*)\nFROM table WHERE attribute = '\u003cno value\u003e'"
}

Environment:

CentOS Linux relea

[2019-04-15 21:05] ohtejera commented on #350
Hi,

I saw the same behavior, I think that you can replicate this if you just execute something like this:

`GET /dead ports,/blabla.bak`

Whit this request you will see that all subsequent requests will show the error that you mention:

[code]

[2019-04-18 15:04] darox opened #351 "Prest docker connects to 127.0.0.1 instead of envrionment var"
- pREST version (or commit ref): Latest docker image
- pREST endpoint: -
- PostgreSQL version: latest postgres docker image
- Operating system: Ubuntu 18.04
- Go version: -
- Log gist: -

I have deployed prest in docker with the following command:
`sudo docker run -d \
-e PREST_HTTP_PORT=8092 \
-e PREST_PG_HOST=172.19.0.106 \
-e PREST_PG_USER=postgres \
-e PREST_PG_PASS=pass \
--name prod-prest \

[2019-04-20 14:17] wshixjr opened #352 "PREST docker dial tcp 127.0.0.1:54320: connection refused"
I am following the document to install the prest, after running the command:
docker run -e PREST_HTTP_PORT=3000 -e PREST_PG_HOST=127.0.0.1 -e PREST_PG_PORT=5432 -e PREST_PG_USER=postgres -e PREST_PG_PASS=123456 prest/prest
there is the error
9/04/20 14:14:18 [error] dial tcp 127.0.0.1:54320: connect: connection refused

but i am using go get to install prest and run prest local can access the pres

[2019-04-24 01:48] leopku opened #353 "[Feature Request]Any plan graphql?"
Thanks for this awesome project.

I am now running prest with another software which provides graphql api.
If prest can support graphql directly, I can only run prest in my project.

Is there any plan for supporting graphql?

Thanks again.

[2019-04-30 13:54] avelino opened #354 "URI white list"
Matches the given url with a whitelist from config.core

example:
[code]

[2019-04-30 13:58] avelino commented on #353
I think it's important to support graphql, you will be very welcome to pREST the implementation.

[2019-04-30 17:19] crgimenes opened #355 "prevent pREST to overwrites the *MiddlewareStack*"
pREST always overwrites the *MiddlewareStack* preventing middleware from being replaced

## Example

[code]

Even though I have written my own *MiddlewareStack* the pREST will add its own, like JWT and Cors. The only way to get around the problem in the current version is to configure the pREST not to use that middleware.

[2019-04-30 19:23] sebastianwebber commented on #353
Hi @leopku ,

How do you think that GraphQL support should be implemented?

Show us some use cases if you can.

[2019-04-30 19:26] crgimenes opened #356 "bug in documentation template"
In the documentation the button *Edit this page* is not working, the GitHub has changed the path to the files and now it is returning 404.

Example:
[code]

Should be:

[code]

[2019-05-01 21:18] #355 closed

[2019-05-05 02:05] leopku commented on #353
Hi @sebastianwebber , sorry for reply so late.

A sample like a query with deep nested relationships.

[code]

[2019-06-05 21:56] #356 closed

[2019-06-18 19:10] marcboivin commented on #343
Get a similar problem on get.

[msg] pq: database "assets" does not exist

Completely random. I can serve 100s of requests without issue, or 2 and get the issue. Note that I'm not on the database asset.

[2019-07-04 08:02] azzuwan opened #357 "Using Let's Encrypt"
- pREST version: 0.3.0
- pREST endpoint: any
- PostgreSQL version: 11.2
- Operating system: Ubuntu 18.04
- Go version: 1.12.6
- Log gist:

## Description

I am using Let's Encrypt Certbot generated certificates. Here is my setting:

[code]
I am not sure what to put as sslrootcert. I have tried manu combinations using a couple of certs from Let's Encrypt website here https://letsencrypt.org/certifi

[2019-07-06 15:59] Pomazan-Bogdan commented on #353
https://hasura.io/ ?

[2019-07-12 08:44] tsmethurst commented on #345
You need to install glibc in the Docker container

[2019-07-12 12:23] ccamel commented on #345
@tsmethurst Oh, yes, that's right. thanks!

To fix that, I've just *symlinked* libraries `musl` to `glibc` (as they are [compatible](https://stackoverflow.com/questions/34729748/installed-go-binary-not-found-in-path-on-alpine-linux-docker/35613430#35613430)), and it worked!

[code]

[2019-07-24 21:33] crgimenes opened #358 "Connection loss or db name when extending pREST"
I'm extending pREST and using `config.PrestConf.Adapter.*` to directly manipulate the database.

 If someone happens to send an incorrect URL to the server, such as: `http://example.com/nondb/public/tablename` (*with a database that doesn't exist*) the server tries to open the db, fails and returns the error as expected but it loses the old connection or database name. Then no direct SQL statement

[2019-09-20 19:24] airjulio commented on #345
Is there any plan to make the Docker image with tag `latest` to be the latest version on the repo?

[2019-09-20 19:26] airjulio commented on #345
@tsmethurst Could you tell me how to do that using the current Dockerfile, please? Thank you for your help!

[2019-09-26 07:36] tsmethurst commented on #345
@airjulio

How I do it in my Dockerfiles:
[code]

[2019-10-28 01:22] KevinGConyers commented on #284
Any specific format you want the docs in? Do you want them generated with a tool like doxygen or similiar?

[2019-11-01 17:38] dfang opened #359 "[Proposal] Single database mode or Multi database mode"
- pREST version (or commit ref): 0.3.4
- pREST endpoint: localhost:8000/
- PostgreSQL version: 9.6
- Operating system: mac
- Go version:  1.13
- Log gist:

## Description

when in single mode, set single_db_mode = true, default_database = test and default_schema = public
in prest.toml,  for users table, just request this url http://127.0.0.1:8000/users

just ignore database name and schema name in

[2019-11-08 06:00] AbhinavGuleria commented on #342
Hey Ravi,

It worked for me if i gave filter as
column=$in.value1,value2,value3 so on

Thank you,
Abhinav

[2019-11-08 06:52] RaviShankarPandey commented on #342
Thank you, Abhinav . it helped .

[2019-11-08 06:52] #342 closed

[2019-12-01 14:57] joelmdesouza opened #360 "Implement csv renderer"
Nowadays pREST midlewares implements JSON and XML renderer.
Sometimes, CSV format is more appropriate.

[2019-12-06 23:38] avelino opened #361 "mistakes in the package architecture (fail), proposed to simplify evolution and project maintenance"
**Want to start talking sorry** 😭

In 2017 I opened this issue proposing architectural change: https://github.com/prest/prest/issues/190

In my view we miss the architecture split into many packages, generating many PR in any repositories. I would like to start planning a new architecture of internal pREST packages (one repository).

[code]

In this way it is possible to use as a framework (extend

[2019-12-07 00:01] joelmdesouza commented on #361
Uses vendor inside cmd folder, is it works well?

[2019-12-13 13:46] abnerdsilva opened #362 "Mysql adapter returns no value with Insert transaction"
Hi,
I am using pREST in a project, but when I make a transaction insert on mysql adapter it is not returning value.

[2019-12-13 15:11] avelino commented on #362
cc @joelmdesouza

[2019-12-19 22:37] tbmale opened #363 "JWT role claim"
Hello,

  I couldn't find any reference in the docs nor the issues about using the JWT claims.
Can I use the role claim from an JWT token as the pg role for the session ? (à la postgrest)

Thanks

[2020-01-22 09:57] vmaravind96 opened #364 "JOIN issue when using restrict access in toml file"
JOIN does not return the columns of the "Table2" when restrict access is set to "true" in TOML file. (eventhough the columns in "Table2" are given read access.)

- PostgreSQL version: 12.1
- Operating system: Windows 10
- Go version: go1.12.6

Tables:

create table EMPLOYEE(
id serial primary key not null,
name text
);

CREATE TABLE DEPARTMENT(
   D_ID SERIAL PRIMARY KEY      NOT NULL,
   DEPT

[2020-01-23 08:30] vmaravind96 commented on #341
@learningandworking did this solution work for you?

[2020-01-23 08:47] vmaravind96 commented on #341
I tried removing the ; but I get the same error.

[2020-02-03 22:02] ocomsoft commented on #353
I am not sure but I think Hasura's server is implemented in Haskell. https://github.com/hasura/graphql-engine/tree/master/server I maybe wrong.

[2020-04-15 22:03] codeyash commented on #41
I personally don't like the idea of using go lang.
Ruby, Python or PHP makes more sense to me. But hey it's me.

[2020-04-16 08:51] avelino commented on #41
@codeyash pREST is software distributed as binary, you do not need to program in Go lang to use

[2020-04-23 03:27] endersonmaia commented on #336
just for reference :

- https://github.com/diogob/postgres-websockets (Haskell)
- https://github.com/frafra/postgresql2websocket (Python)

[2020-05-03 13:26] nkolster opened #365 "Multiple sum are getting the same name 'sum'"
Maybe someone else has experienced and knows if there is a solution.

I query a table and want to calculate sum on two columns. In the returned json both have the value 'sum' so it becomes difficult to separate the two.
`
table?api_key=OHafhWJ4YXLuPqZ7fhKyS5R6zCKhiNjKfPf&_groupby=source,medium&_select=source,medium,sum:markov_value&_renderer=json&_select=sum:totalcost`

`  {
        "source": "ema

[2020-05-04 16:30] tdenizen commented on #351
I'm getting the same issue

[2020-05-12 09:26] syahnetwork opened #366 "Send JSON directly from Postman creates an error"
<a href="https://ibb.co/fqKkHJL"><img src="https://i.ibb.co/Bc7yBkF/Screenshot-from-2020-05-12-16-15-00.png" alt="Screenshot-from-2020-05-12-16-15-00" border="0"></a>

above is the output error. I search on stackoverflow , then found to use JSON.parse to already stringify data as one of the solution

[2020-05-20 02:06] pyramation commented on #363
this library looks awesome! I really want to use prest, however, I'm in the same boat as @tbmale .... just looking for some docs on how to use this.

Are there any examples out there for integrating a JWT system?

Here is how I've done it and would like to:

### issuing and storing tokens/sessions

The way I typically do it, is I've actually implemented a table with my own tokens, and a function f

[2020-05-20 02:13] pyramation commented on #363
@avelino @joelmdesouza

[2020-05-21 16:39] Rakurai opened #367 "Compose custom queries from multiple .sql files?"
## Description
I have multiple reasonably complex GET queries to send to a database where I cannot create custom functions or views.  It would be ideal if I could assemble a query out of frequently used chunks of SQL in the _QUERIES directory, like:

[code]

The {{include}} could be a simple text replacement from the file, no need to get complicated.  Includes would need to be parsed first and rec

[2020-06-15 09:22] leopku commented on #353
Yes, you are right. hasura was built with Haskell.

I wanna keep tech stack focusing on go.

[2020-06-15 12:37] herodem commented on #341
I have the same problem. Some solution?

[2020-06-15 16:46] avelino commented on #353
@leopku you could help pREST support GraphQL, feel invited to be part of the project

[2020-06-16 02:10] leopku commented on #353
@avelino Thanks for your inviting.

I'll read the codes and have a try.

[2020-06-17 20:43] zemian opened #368 "Add option to specify prest.toml file location"
It looks like currently you must place one single prest.toml in directory where you run prest. Would be nice to have an option to take any /path/to/prest.toml. This would also allow to run multiple instance of prest with different configuration file names.

[2020-06-26 10:39] tiaguinho commented on #368
You can use ```PREST_CONF``` for that.
If you set the environment on the terminal, the value will be valid only for that instance/window of the terminal.

[2020-06-27 15:11] zemian commented on #368
Oh, that's good to know. I didn't see this in the doc tough: https://postgres.rest/configurations/ It would be good to see that there.

BTW, it maybe just me, but passing config file as argument is much more clear and conventional to me than using system env.

[2020-06-29 14:25] tiaguinho commented on #368
Thanks for pointing that.
I just open a PR to add these to documentation.

About the argument, what do you guys think @crgimenes @avelino ?

[2020-06-29 17:55] avelino commented on #368
I think by default we have an argument option (provided by the library we use) - https://github.com/spf13/viper

if you don't have this option: we can exchange it for [goconfig](https://github.com/crgimenes/goconfig) (maintained by @crgimenes)

[2020-06-29 22:06] #351 closed

[2020-06-30 10:11] tiaguinho commented on #366
Hi @syahnetwork, can you share the request headers?

Thank you!

[2020-07-09 12:03] tiaguinho commented on #367
I think this is a good idea.
@avelino @crgimenes?

[2020-07-09 12:37] crgimenes commented on #367
interesting idea.

I'm wondering how big of a mess I can make something like that. haha.

[2020-07-14 12:42] sarath16933 opened #369 "POST request failure when connected with a database having hyphen in the db name"
{
	"error": "unable to find table name"
}
I'm getting this response when making POST request to a db having hyphen in the db name. eg db name: "my-db".
GET, PUT, PATCH and DELETE are working fine.

[2020-07-14 13:29] sarath16933 commented on #369
If  "insertTableNameQuotesRegex" is updated, it should work.
Currently its not accepting db name or table name with hyphen
`(?i)INTO\s+([\w|\.|"]*\.)*"(\w+)"\s*\(`

[2020-07-14 14:17] tiaguinho commented on #369
Hi @sarath16933 thanks for reporting this issue.
Since you have found how to fix the bug, you are very welcome to send a PR to fix this.
What do you think? Can you do that?

Thank you.

[2020-07-14 19:15] avelino commented on #367
I like the idea, but wouldn't that be `define` of the go template?
ex: https://play.golang.org/p/ozf4sUVYuj

[2020-07-15 03:48] sarath16933 commented on #369
Thanks @tiaguinho. I shall raise a PR for the fix.

[2020-07-21 10:52] avelino commented on #361
yep, check initial **WIP PR** here: https://github.com/prest/prest/pull/370

[2020-07-23 10:11] avelino commented on #366
You are using `x-www-from-urlencoded`, we support `JSON Data`, since this doubt came up I think it is important to put in the documentation how to use pREST on the postman client

[2020-07-23 10:16] avelino opened #371 "Geometric Types support"
Geometric data types represent two-dimensional spatial objects. [Table 8-16](https://www.postgresql.org/docs/8.3/datatype-geometric.html#DATATYPE-GEO-TABLE) shows the geometric types available in PostgreSQL. The most fundamental type, the point, forms the basis for all of the other types.

PostgreSQL documentation: https://www.postgresql.org/docs/8.3/datatype-geometric.html

[2020-07-23 10:18] avelino opened #372 "ST_AsKML support"
Return the geometry as a Keyhole Markup Language (KML) element. There are several variants of this function. maximum number of decimal places used in output (defaults to 15), version default to 2 and default namespace is no prefix.

documentation: https://postgis.net/docs/ST_AsKML.html
deps:
- #371

[2020-07-23 10:26] avelino opened #373 "GeoServer endpoints and outputs"
[GeoServer](http://geoserver.org/) is an open source server for sharing geospatial data.
Designed for interoperability, it publishes data from any major spatial data source using open standards.

---

GeoServer is a great server to work with geospatial data, but it is an old project with many resources, many projects (companies) do not use 20% of these resources.

The proposal of this issue would

[2020-07-24 02:38] syahnetwork commented on #366
thank you for the explanation, I'll try again adding data :)

[2020-07-24 02:40] syahnetwork commented on #366
application/x-www-form-urlencoded which is not supported I guess , thank you :+1:

[2020-07-28 05:34] syahnetwork commented on #366
The issue has been resolved, thank you :100: :+1:

[2020-07-28 05:34] #366 closed

[2020-07-28 21:33] syahnetwork opened #374 "why is request still blocked by CORS even though I have set alloworigin configuration?"
- pREST version (or commit ref): v0.3.4
OS/ PG : psql (PostgreSQL) 12.2 (Ubuntu 12.2-2

As the title says, I'm running svelte app and try to get data with below address. I already put them to allow origin on cors configuration in the .toml file

please help or direction, below is the screenshot , thank you :+1:

![Screenshot from 2020-07-28 12-29-57](https://user-images.githubusercontent.com/45051

[2020-07-28 21:35] syahnetwork commented on #374
@tiaguinho
@avelino

My apologies for tagging :)

[2020-07-29 08:37] tiaguinho commented on #374
@syahnetwork have you tried to do the request with postman? Did you receive the same error?

[2020-07-29 11:52] syahnetwork commented on #374
@tiaguinho yes I have succeeded add data using postman by sending JSON, without error sir

[2020-07-29 12:20] tiaguinho commented on #374
This may be happening because your svelte app doesn't send the header ```Access-Control-Allow-Origin```.
You can test this removing the ***cors*** configuration from your ***prest.toml***.

If it starts to work, probably the problem is on your svelte app.

Please, let us know what happens after this little test.

[2020-07-29 16:28] #361 closed

[2020-07-29 17:58] avelino commented on #374
@syahnetwork more about CROS: https://postgres.rest/cors-support/
see if it works, in case it doesn't work I'm willing to fix the bug

[2020-07-30 08:46] dependabot-preview[bot] opened #378 "Dependabot couldn't find a go.mod for this project"
Dependabot couldn't find a go.mod for this project.

Dependabot requires a go.mod to evaluate your project's current Go dependencies. It had expected to find one at the path: `/go.mod`.

If this isn't a Go project, or if it is a library, you may wish to disable updates for it from within [Dependabot](https://app.dependabot.com/accounts/prest).

[View the update logs](https://app.dependabot.com/acc

[2020-07-31 18:06] tiaguinho opened #380 "proposal: change coverage tool"
I recently change the coverage tool in one of my personal projects from codecov to coveralls.
Coveralls shows information about the coverage in a better way.
It also seems to be faster to navigate between the files.

Thoughts?

[2020-07-31 21:39] aidan-plenert-macdonald opened #381 "Support for AWS Lambda under API Gateway"
This would be valuable if run in a Lambda and could take requests coming from API Gateway.

I am interested in adding support for this. Has there been any thought about this use case? What would be the best way to begin?

[2020-08-02 20:55] avelino commented on #380
Can we trade, can you take over that trade?

[2020-08-03 08:24] tiaguinho commented on #380
Yes, I can do this.

[2020-08-03 10:03] #380 closed

[2020-08-03 10:35] tiaguinho opened #383 "Increase code coverage"
Increase code coverage to at least 90%.

[2020-08-04 13:17] felipeweb opened #386 "Proposal: change internal migration package"
This proposal is to change the migration package to https://github.com/gosidekick/migration because its use transaction to rollback when a migration with multiple statements fail

[2020-08-04 18:59] #383 closed

[2020-08-05 09:37] avelino commented on #381
I'm not sure I understand the need, can you give me an example of use?

At first it sounds interesting and promising 😃

[2020-08-05 09:42] #378 closed

[2020-08-05 21:43] aidan-plenert-macdonald commented on #381
In AWS, you can have a serverless API by using Lambda for code execution and API Gateway for receiving the API calls and passing them to the Lambda.

Typically, postgrest (and I assume prest now) was used behind a proxy that would manipulate the URL to something more user friendly. I'm suggesting supporting [AWS Lambda execution](https://docs.aws.amazon.com/lambda/latest/dg/golang-handler.html) of

[2020-08-08 09:59] avelino commented on #381
@aidan-plenert-macdonald so I understood it would be to create a page in the documentation of how to configure pREST on AWS using AWS Lambda, not necessarily an implementation on pREST core, correct?

If so (and being part of the aws team), can you contribute to this documentation?

[2020-08-08 10:20] avelino opened #387 "Project name (pREST) and support for other database types besides PostgreSQL"
_pREST_ was born with the need to open the _Postgres_ database as a remaining API (in this issue #41 I explain better), with the evolution of the project came the opportunity to support other databases (ex MariaDB/MySQL #239), we modeled the pREST core to accept other database adapters.

Segnified (initial) from the prefix **p** in the name **p**_REST_?

With support for other databases it no long

[2020-08-08 14:43] cassiobotaro commented on #387
Pure may not be a good value because it would lead you to think that it is a clean implementation of rest, perhaps restful.

And a reminder, maybe the logo should also be modified.

[2020-08-08 15:00] sebastianwebber commented on #387
we can replace `pure` by `powerful` or `Passionate`

other ideas here: https://chi-nese.com/list-of-positive-words-that-start-with-p/

[2020-08-08 21:17] tiaguinho commented on #387
I agree with @cassiobotaro and @sebastianwebber.

Since the project work with databases, I think will make more sense to use the `p` as `persistent`.

[2020-08-10 13:05] #346 closed

[2020-08-14 14:13] avelino opened #388 "Integration: TimescaleDB for Time-Series Data"
Write tutorial (documentation) how to use pREST with TimescaleDB

[2020-08-14 14:39] fabriziomello commented on #388
@avelino What about provide a `docker-compose.yml` as an example?

[2020-08-14 15:35] avelino opened #389 "docker auto build by goreleaser"
Implement docker image generation automatically after creating a tag, [goreleaser documentation](https://goreleaser.com/customization/docker/)

[2020-08-14 19:40] #389 closed

[2020-08-14 23:35] HorayNarea opened #391 "Current docker image broken"
The current docker image uses a binary that is linked against glibc on an alpine base image which provides only musl libc:
[code]

the binary will not start as the `/lib64/ld-linux-x86-64.so.2` loader is non-existent:
[code]

[2020-08-15 13:12] fabriziomello commented on #391
@HorayNarea not sure if is related but I also having issues trying to use the docker image.

[code]

/cc @avelino

[2020-08-15 13:25] avelino commented on #258
WIP in https://github.com/prest/heroku

[2020-08-15 13:31] avelino opened #392 "DigitalOcean Marketplace click install"
https://marketplace.digitalocean.com/

[2020-08-15 13:49] fabriziomello opened #393 "Error when trying to install pREST using `go get`"
I'm facing an error when trying install pREST using the `go get` method:

[code]

[2020-08-15 14:19] fabriziomello opened #394 "Proposal to incorporate documentation as part of the main project"
Currently we maintain the documentation as a [separated repository](https://github.com/prest/prest.github.io) because it's published as an Hugo website.

But this approach is weak because we can easily loose the track between the code and documentation. IMHO any code change should also be reflected on documentation if necessary, so integrating at least the [markdown docs](https://github.com/prest/

[2020-08-15 14:48] fabriziomello commented on #387
Hi folks,

For obvious reasons I'm totally skeptical about it and every time I see a `multi-database` tool sounds like a "one ring to rule them all", and in practice this kind of tool always lack of specific (and cool) database features because of the idea of standardization of API/UI/etc.

Although my skeptical opinion I'm not saying is a bad idea, because thinking from the user/developer perspec

[2020-08-15 18:02] arxdsilva commented on #394
I'm +1 on this proposal, It'll easy the contributor's life to upgrade the docs (add docs on same PR as change).

[2020-08-15 19:10] aidan-plenert-macdonald commented on #381
@avelino I created a Draft PR https://github.com/prest/prest/pull/395/files with roughly the work needed to make this work. Obviously needs tests and such. Just wanted to get a thumbs up before going much further.

And suggestions or comments?

[2020-08-15 20:15] HorayNarea commented on #391
https://github.com/prest/prest/commit/bd49ff905df5031721ba5c52d70a29dff649d7a9 and v1.0.3 which includes this commit does __not__ fix this problem… it is still linked against glibc and not working in the alpine-based image

[2020-08-15 21:38] avelino commented on #391
@HorayNarea I'm working on the correction

[2020-08-15 22:03] felipeweb commented on #393
the way to solve this is creating a go.md file in the repository root. Do we want to be able to get repo using go get?

today is possible to install prestd binary using go get `go get github.com/prest/prest/cmd/prestd@v1.0.0` is that enough? @fabriziomello @avelino?

[2020-08-15 23:27] lerrua commented on #394
+1

Nice! It makes sense to me that the documentation is together with the repo.

I think we could follow something as close as the Rails community does, which is, for example, keeping the folder in the repository as the "guides" and generating the documentation, but keep maintaining a static website like a hotsite.

Following this thought:
- main project repo with docs inside, ex: https://github.

[2020-08-16 14:19] chenrui333 opened #397 "release process question"
👋 I have some questions about the repo's release process:

- **latest tag**, I saw the most recent latest tag is `1.3.0-test`, which is kind of weird, do you mind explaining it a little bit?
- **tagging**, another thing is the tagging process, I kind of running into issue when trying to keep the homebrew formula up to date (certainly there is retagging for the latest release, `1.3.0` at some point

[2020-08-16 20:00] avelino commented on #397
We were having trouble generating an automated release and were generating some testing between yesterday and today, sorry for the inconvenience and confusion.

you can see more here https://github.com/prest/prest/pull/396

[2020-08-16 20:00] #397 closed

[2020-08-16 20:11] avelino commented on #391
I bring great news, problem solved 🚀

[code]

[2020-08-16 20:11] #391 closed

[2020-08-16 20:16] avelino commented on #258
good news 😄
one click deploy on @heroku **done** https://github.com/prest/heroku#1-deploy-to-heroku

[2020-08-16 20:16] #258 closed

[2020-08-16 20:23] chenrui333 commented on #397
I see, make sense. Thanks @avelino!

[2020-08-17 10:49] avelino opened #398 "Generate docker image using goreleaser"
To centralize the generation new releases in just one tool we need to centralize in goreleaser the generation and publication of the docker image.

docker tags:
- prest/prest:latest
- prest/prest:v1.0.3 `{{ .Tag }}`
- prest/ptest:v1 `v{{ .Major }}`

[2020-08-17 11:09] avelino opened #399 "create docker compose file"
Write docker file compose with all dependencies to upload pREST server - simplify and document use for new collaborators

- based on the code (development, can be via `go run` and _source mount volume_)
- based on the docker image (production)

related #388

[2020-08-17 11:25] avelino commented on #394
I like the idea of keeping the documentation files (markdown) inside the main repository and site generator in another repository (containing the css, js, html, etc... files), but the site generator reading the documentation folder from the main repository - aka proposed by @lerrua

other projects that I am inspired to follow this approach:
- https://github.com/tsuru/tsuru/tree/master/docs
- https

[2020-08-17 12:31] fabriziomello commented on #399
@avelino we have a [docker-compose.yml](https://github.com/prest/prest/blob/master/docker-compose.yml) already so what's the point here?

IMHO for a better user experience we should create a separate repository with a complete demo... something like a tutorial.

[2020-08-17 18:39] avelino commented on #399
@fabriziomello compose was not working (so I opened this issue), correction in the PR mentioned above

[2020-08-17 18:39] tiaguinho opened #401 "refactor log.Fatal and panic"
I'm working to increase the coverage of the package and I have found a few `log.Fatal` and two `panic` call's inside the packages.
This is a problem since if I test those conditions, the test breaks.

I'm thinking in refactor the code and handle the errors inside `cmd/prestd`.

What do you guys think about it?

[2020-08-17 18:44] avelino commented on #401
About `log.Fatal` aka `panic`: we should use fatal only where it is necessary to pass some information before the `prestd` server goes up, e.g. database connection invalidates.

After the server is online we can not drop the server, it must be a resilient service

[2020-08-17 18:45] #399 closed

[2020-08-17 19:11] felipeweb commented on #401
https://speakerdeck.com/felipeweb/testes-avancados-em-go?slide=27 we can test as a subprocess @tiaguinho

[2020-08-17 19:36] tiaguinho commented on #401
Thank you @felipeweb, I'll take a look.

[2020-08-26 10:14] tiaguinho commented on #401
@felipeweb subprocess works but doesn't change the coverage. Do you know if I need to do something more?

[2020-08-26 11:28] felipeweb commented on #401
I don't remember if needs something more

On Wed, Aug 26, 2020, 07:14 Tiago Temporin <notifications@github.com> wrote:

[2020-08-30 10:29] avelino opened #404 "platform.sh one-click deploy"
https://github.com/platformsh/template-builder/issues/315

deploy example: https://console.platform.sh/projects/create-project?template=https://raw.githubusercontent.com/platformsh/template-builder/master/templates/mattermost/.platform.template.yaml&utm_content=mattermost&utm_source=github&utm_medium=button&utm_campaign=deploy_on_platform

template refs:
- [golang](https://github.com/platformsh/te

[2020-08-30 20:19] palevi67 commented on #359
Or at least, allow a "_default" database that uses PREST_PG_DATABASE envvar or pg/database from configuration file

[2020-08-31 12:23] palevi67 commented on #341
Same problem here under W10, with or without trailing semicolon ... :-(

[2020-08-31 13:38] palevi67 commented on #341
@felipeweb please consider reopening this issue!

[2020-08-31 14:24] felipeweb commented on #341
Do you want to send a PR? @palevi67 or @vmaravind96

[2020-08-31 19:24] palevi67 commented on #353
Have a look at PostGraphile: https://www.graphile.org/

[2020-09-01 16:38] avelino opened #407 "Uncontrolled data used in path expression"
https://github.com/prest/prest/blob/033bf6469e1a4c3c54f6cdf0ea4c68f88276522d/adapters/postgres/queries.go#L39-L39

if `script` receive path back `/` to the root of the system, how was `os.Stat` behave?

----

Accessing files using paths constructed from user-controlled data can allow an attacker to access unexpected resources. This can result in sensitive information being revealed or deleted, or

[2020-09-04 10:34] tiaguinho opened #408 "Travis error on docker command"
Travis can't run tests because of an error on the docker command.

***Error:***
[code]

***Last test***
https://travis-ci.org/github/prest/prest/jobs/722834969

[2020-09-04 21:04] ccamel opened #409 "Make request headers accessible from SQL scripts templates"
**Is your feature request related to a problem? Please describe.**

I have successfully deployed `prest` to production for some time to run SQL scripts from query parameters. However, for some reason, I now need to access query headers to configure the SQL script, which is unfortunatly not currently possible.

**Describe the solution you'd like**

I'd like to have the query headers available in th

[2020-09-04 21:50] avelino opened #410 "table structure endpoint: /show/..."
Endpoint that lists the table structure, making it possible to have visibility of all the fields contained in the table

**Endpoint:** `/show/DATABASE/SCHEMA/TABLE`
**Query SQL to show:**
[code]

**Structure example:**
[code]

**Return:**
[code]

----
## Why is this resource interesting?
An administrative (web) interface for data management is under development, generating forms dynamically, [read

[2020-09-05 01:36] avelino commented on #409
@ccamel It will be important to count on your support doing this implementation, I am waiting for your PR

[2020-09-05 01:39] avelino commented on #345
Fixed

[2020-09-05 01:39] #345 closed

[2020-09-05 04:10] guidiego commented on #410
I believe that another good endpoint is only `/show/DATABASE` to list all resources to the main page. The query is something about it (if I'm not missing anything):

[code]

[2020-09-05 07:51] avelino commented on #410
@guidiego exist endpoints:
https://docs.postgres.rest/query-statements/

What are you proposing is this?
http://127.0.0.1:8000/databases (show all databases)

[2020-09-05 17:23] avelino opened #411 "Webhook event engine (trigger)"
Event trigger engine via webhook (HTTP POST) for another asynchronous API (in backgroud).

## Types of webhook

- **webhook atomic event:** shares all events for external API
- **webhook endpoint event:** configure which events the external API will receive

Both types of webhook can be configured as many external APIS as you want (it will be a list)

## Events

- Before: POST
- Before: DELETE
- B

[2020-09-05 18:31] chenrui333 opened #412 "release tag question"
👋  It looks like the release tagging process is not quite stable (as you can see in [here](https://github.com/Homebrew/homebrew-core/pull/59724) and [here](https://github.com/Homebrew/homebrew-core/pull/60701)), I wonder if that is intentional, thanks!

[2020-09-06 10:20] avelino commented on #408
It was some oscillation in the TravisCI or Docker Hub, problem solved

[2020-09-06 22:15] avelino commented on #374
@syahnetwork worked?

[2020-09-07 09:15] tiaguinho commented on #411
On the *Before* events, will be nice if the webhook returns an HTTP error status, pREST abort, and return the error received.

[2020-09-07 19:50] avelino commented on #411
@tiaguinho I like to follow with **baby steps**, would break the implementation in does

And if:
- error 500?
- error 404?
- we will make retry?
- ...

To implement error treatment, retry, and so on. requires control of this (aka database), we are not yet at the moment of dealing with this complexity - we will get there

we will make the first version without these conditions, then we will evolve

[2020-09-07 23:42] guidiego commented on #411
I believe that Webhooks could be the next step of a previous feature. My idea is to make pRest able to receive events before/after (code side). Something like:

[code]

So we can use something like:

[code]

The core idea is to be able to register multiple events for `before:X` this could be useful to extend PRest, and to create webhook feature, it will be able to user create more than one webhook

[2020-09-08 11:12] #408 closed

[2020-09-08 11:28] avelino commented on #412
We have a problem, I'm working to solve it, sorry. I'll send an update of the formula solving this problem.

[2020-09-08 14:37] guidiego opened #418 "EntityForm"
## Description
As a dashboard, we want to create generic forms based on table schema. We will use a pRest endpoint to get all table columns and create the form based on this output. Note that this component should be able to receive a property *id*, and when receiving it you should fetch this ID data and update in place to create a new entity.

### Related
https://github.com/prest/prest/issues/410

[2020-09-08 14:58] guidiego opened #416 "[component] EntityList"
## Description
As a generic dashboard, I want to have a component able to create a table and pagination for an entity list. This table should render columns based on entity columns and populate the data based on a pagination endpoint to maintain performance.

### Observation
We are using MaterialUI so have nice examples of the table to copy and adapt:
https://material-ui.com/components/tables/#sor

[2020-09-08 14:59] guidiego opened #417 "[components] Inputs"
## Description
We will need to create generic forms, it implies in create base Inputs to force some configurations and simplify customization in the future.

### Should have
- [ ] A component for checkbox/radiobox and switch
- [ ] A component for text
- [ ] An editor (could use DraftJS + MaterialUI)
- [ ] DatePicker
- [ ] A component for interval (Slider)
- [ ] A component for select

### Observat

[2020-09-08 15:01] guidiego opened #419 "[component] EntityDescriptor"
## Description
As a dashboard, we will have a detail page for an entity, also, maybe sometime we will want to plot this information in another place as modals, drawers, or PopUps. This component will receive a *schema name*, *id*, and an optional param *fields*, and will create UI to describe the entity. In the case of fields be a param, I want to display only the fields that are in this param.

#

[2020-09-08 15:02] guidiego opened #420 "[setup] RecoilJS"
## Description
Today, Redux is the most famous StateManager inside React Environment. Also, I believe that we don't need this complexity in the project once that we want to create the most generic and extendable stuff.

Usually, I will recommend using native hooks but Recoil uses it and simplifies some interactions as Async calls. Also, Recoil is created and maintained by Facebook.

### Related
ht

[2020-09-08 15:02] guidiego opened #421 "[setup] CI/CD"
## Description
I want to guarantee Pull Request safety and deploy consistency. So I want to set an Action that will check:
- Unit Tests
- Typescript check
- Lint

After it, I want to send the coverage to coveralls.

### Deploy
Once merged with the release branch, I want to build a docker image and commit it in DockerHub, also I want to create a Release version/code inside GitHub

[2020-09-08 15:03] guidiego opened #422 "[page] 404"
## Description
I want to create a custom page 404 for the project. It should maintain the top bar and in the content, I believe that a good approach is to write `404` with the pRest logo in 0 places, and add an arrow to search on the top bar saying "May you want to search for something".

[2020-09-08 15:09] guidiego opened #423 "[page] /"
A clear and concise description.

[2020-09-08 15:16] guidiego opened #424 "Add /[entity]/[id]"
## Description
As a dashboard, I want a page to see all entity data. This page will render #419.

[2020-09-08 15:18] guidiego opened #425 "Documentation for Admin"
## Description
As a new product, we need to create minimal documentation to made pRest.admin easy to be set on any user environment.

[2020-09-08 15:35] HigorSegobia commented on #422
If possible I would like to make this issue

[2020-09-08 15:51] guidiego opened #426 "add Swagger/OpenAPI to pRest"
**Is your feature request related to a problem? Please describe.**
We are creating *p***Rest**.admin, for it we will need to create a javascript client to consume _p_**Rest** server.

**Describe the solution you'd like**
We can develop the client manually, but a better approach it's created it based on an OpenAPI spec (https://github.com/swagger-api/swagger-js/blob/master/docs/usage/installation.m

[2020-09-08 17:33] avelino commented on #426
@guidiego I like **[API Blueprint](https://apiblueprint.org/)** description language, what's your opinion about it?

[2020-09-08 17:55] guidiego commented on #426
@avelino seems nice! I take a look and it's a good idea too! They have a parser for JS <3

https://github.com/apiaryio/protagonist

[2020-09-10 02:47] DiegoSantosWS opened #428 "Change version golang at Dockerfile"
Change the version from golang on Dockerfile

From:
[code]
TO:

[code]

[2020-09-10 07:10] dependabot-preview[bot] opened #429 "Dependabot can't resolve your Go dependency files"
Dependabot can't resolve your Go dependency files.

As a result, Dependabot couldn't update your dependencies.

The error Dependabot encountered was:

[code]

If you think the above is an error on Dependabot's side please don't hesitate to get in touch - we'll do whatever we can to fix it.

[View the update logs](https://app.dependabot.com/accounts/prest/update-logs/46892440).

[2020-09-11 06:55] #429 closed

[2020-09-11 08:26] #410 closed

[2020-09-11 08:26] avelino commented on #410
big thanks @DiegoSantosWS

[2020-09-11 20:56] felipeweb commented on #386
on it

[2020-09-11 21:43] DiegoSantosWS commented on #410
thanks so much

[2020-09-12 02:55] chenrui333 commented on #412
@avelino thanks for confirming the issue, I do have an open PR addressing it. All good!

[2020-09-12 23:43] avelino opened #431 "Use only an allowed registry in the FROM image"
## Problematic code:

[code]

## Correct code:

[code]

## Rationale:
Using the `FROM` instruction is a huge exercise in trust, you have to trust that a particular version or an image is safe for you to use, and that it will never be retagged maliciously. In order to prevent that, some companies copy trusted images into their own repositories, and reference them directly.

For example, this would

[2020-09-13 01:04] #431 closed

[2020-09-13 01:19] avelino opened #433 "Use COPY instead of ADD for files and folders"
## Problematic code:
[code]

## Correct code:

[code]
here: https://github.com/prest/prest/blob/d9d3ebc0d554e6fa8250630524c289303781bd90/Dockerfile#L11:L12

## Rationale:
https://docs.docker.com/develop/develop-images/dockerfile_best-practices/#add-or-copy

Rule also implemented in https://github.com/RedCoolBeans/dockerlint/blob/master/src/checks.coffee

## Exceptions:

[2020-09-14 18:49] #386 closed

[2020-09-15 14:58] fabriziomello opened #435 "[Draft] Proposal for API Redesign"
First of all I need to anticipate excuses because it will be a long text, but the idea here is open a discussion to decide WHAT will do and IF we'll do something about it.

The aim of this issue is to discuss a redesign of the current API that will able us to:

**1. Be more concise with [use of schemas in PostgreSQL](https://www.postgresql.org/docs/current/ddl-schemas.html)**

In PostgreSQL today

[2020-09-17 13:21] pastarace commented on #33
Hi any news on that with the 1.0.0 release? I know in PostgREST [OR and complex filtering is available](http://postgrest.org/en/v7.0.0/api.html#horizontal-filtering-rows)

Thanks

[2020-09-17 13:23] guidiego commented on #422
https://github.com/prest/prest.admin/pull/7

[2020-09-17 14:05] avelino commented on #33
@pastarace we still don't support `complex or` operations, can you open a new issue for us to feature?

It's a resource that pREST needs to learn how to handle

[2020-09-17 16:31] pastarace opened #436 "Enable OR and complex filtering"
Hi as pointed out on #33, an important feature that is still missing on the new stable version is the OR and complex filtering as [PostgREST does](http://postgrest.org/en/v7.0.0/api.html#horizontal-filtering-rows).

They implemented using the syntax below:

![image](https://user-images.githubusercontent.com/3236943/93499718-a4a20d80-f913-11ea-9309-643c7d51abde.png)

Thanks

[2020-09-18 14:58] avelino opened #438 "Migrate TravisCI to Gihub Actions"
Workflow:
1. Test Running
1. Coveralls - _if you pass the tests_
1. GoReleaser - _if you pass the tests_
1. Docker Image generate - _if you pass the tests_

[2020-09-18 15:15] #433 closed

[2020-09-18 15:53] avelino opened #439 "Endpoint to execute custom query"
Custom SQL query execution via **POST**, open text based on **SELECT**, will not be accepted ~INSERT, UPDATE and DELETE~.

This feature must be chosen enabled in the configuration file, by _default_ it comes **disabled**.

We should page of query result.

**ENDPOINT:** `/_SQL/`
**METHOD:** POST
**BODY:**
[code]

## example of use
_"text area"_
![postico-sql-query-view](https://user-images.githubus

[2020-09-21 13:37] saqwel commented on #369
When  will be this issue fixed?

[2020-09-21 21:16] avelino commented on #369
@saqwel unfortunately no, correction was sent, but be written test

[2020-09-26 20:33] guidiego opened #442 "Batch Delete / Update"
**Is your feature request related to a problem? Please describe.**
We are implementing PRest Admin. One of our future features is related to batch delete. So I need to make the `/batch/DATABASE/SCHEMA/TABLE` be able to receive `PUT` and `DELETE` method.

**Describe the solution you'd like**
First of all we need to add more 2 routes here (one for PUT and another for DELETE methods):
https://github.

[2020-09-28 10:05] avelino opened #443 "(CRT-P0001) `append`s can be clubbed into a single call"
## Description
Example: ```go xs = append(xs, 1) xs = append(xs, 2) ``` should be written as: ```go xs = append(xs, 1, 2) ```

## Occurrences
There are 4 occurrences of this issue in the repository.

See all occurrences on DeepSource &rarr; [deepsource.io/gh/prest/prest/issue/CRT-P0001/occurrences/](https://deepsource.io/gh/prest/prest/issue/CRT-P0001/occurrences/)

[2020-09-28 10:13] avelino opened #444 "(SCC-compile) Error compiling"
## Description
Failed compiling the code. Check occurence description for syntax errors.

cannot find package
- github.com/clbanning/mxj/j2x
- github.com/auth0/go-jwt-middleware
- github.com/dgrijalva/jwt-go
- github.com/urfave/negroni
- github.com/mitchellh/go-homedir
- ...

We are having trouble in **go mod**

## Occurrences
There are 12 occurrences of this issue in the repository.

See all occu

[2020-10-05 09:54] avelino opened #447 "Use distroless image in docker distribution"
ref: https://github.com/prest/prest/pull/445#pullrequestreview-501495958

[2020-10-05 10:54] avelino opened #449 "Tips depend on target shell and yours is unknown on shell script files"
Add a shebang or a 'shell' directive on:
- template/testdata/schema.sh
- controllers/testdata/schema.sh
- adapters/testdata/schema.sh
- config/testdata/schema.sh
- middlewares/testdata/schema.sh
- testdata/migrations_test.sh
- testdata/schema.sh

Set `#!/usr/bin/env bash`

Ref: https://app.codacy.com/gh/prest/prest/issues?categoryType=ErrorProne

[2020-10-05 14:45] avelino commented on #388
@fabriziomello `docker-compose` is a great way, you can put it inside the documentation folder.

[2020-10-05 14:52] avelino commented on #367
@Rakurai can you implement your feature suggestion?

[2020-10-05 14:54] avelino commented on #365
@nkolster can you implement your “bug” report?

[2020-10-05 16:18] #449 closed

[2020-10-05 17:03] crgimenes commented on #368
In the case of goconfig, it is not possible to load the path of the configuration file by a parameter on the command line. The reason is that the package flags of Go do not allow to be called more than once. There are ways around this but it is not very elegant.

[2020-10-05 19:02] #447 closed

[2020-10-06 12:40] felipeweb commented on #428
done in https://github.com/prest/prest/commit/ff677ba52be9738292d1a838e54c45f8f11043a9

[2020-10-06 12:40] #428 closed

[2020-10-09 10:21] oktayaa commented on #41
Maybe it's time to remove that blurb and actually provide info about the strengths of this project. (postgrest is distributed as a single binary now. Even if it weren't you could dockerize it. Since it sits in the middle its resource needs aren't extensive. It doesn't even need persistent storage)

FYI that blurb turned me off and I went and installed the docker for postgrest itself even though I

[2020-10-09 11:15] avelino commented on #41
Some strengths of pREST:
- **SQL script Execution** (endpoint based on predefined SQL) - resource was born by being software engineer not DBA, have no version control of functions (PostgreSQL resource) does not like me, we can version the script that creates the function, but when running it in PostgreSQL we have to `drop function`: https://docs.postgres.rest/executing-sql-scripts/
- Extending (us

[2020-10-09 11:19] avelino commented on #442
@guidiego exist batch operator to `POST` https://docs.postgres.rest/batch-operations/

https://github.com/prest/prest/blob/cfa0f1f80ff7c4fa68bdef716e351156286792ce/controllers/tables.go#L242:L276

needs to implement other http verbs as proposed in this issue, but we should follow the existing standard - it is important to remember to update the documentation

[2020-10-09 12:14] avelino opened #452 "websocket table endpoint support"
Receive new records in real time (insert, update and delete)

## example of use
When accessing the endpoint of the XYZ table (and keeping me connected with websocket), I must receive all new records after being inserted, deleted or updated.

[2020-10-10 18:57] avelino commented on #368
@crgimenes this feature interesting for **goconfig**? If so, do you have planning to do it (is there an open issue)?

[2020-10-10 22:17] crgimenes commented on #368
Hi @avelino,

Some people have requested this same feature for the goconfig, but I have no plans to implement it. I think the goconfig code is already too complicated.

I'm thinking of making a utility to essentially do the same as goconfig but instead of being a package, it will be a code generator to be called via go generate.

[2020-10-14 04:53] Sohaib03 commented on #443
Can I work on this issue?

[2020-10-14 13:35] guidiego opened #455 "EntityForm initial process"
## Motivation
We have this issue described: #418 but we need a simpler approach to could have the first version. So we need a component that will render everything as an Input field (string). That's only a simpler and faster approach.

[2020-10-14 13:56] avelino commented on #443
@Sohaib03 yes, we'll be waiting for your pull request - anxious 😄

[2020-10-14 15:28] guidiego opened #457 "New Entity Button"
## Motivation
Once that #416 and #423 was delivered. We will have a `/[entity]` and a `/[entity]/editor` pages. I want to add a button into the first-mentioned route that moves to the next one.

## Related
To be more mobile-friendly and easy to implement, I think of adding a floating actions button: https://material-ui.com/components/floating-action-button/ on bottom-right :)

[2020-10-15 00:44] guidiego commented on #438
I want to contribute to it! Could I take this one ?

[2020-10-15 00:54] avelino commented on #438
Must be runs when it was `git tag` (we use it for release)

[2020-10-15 20:21] avelino opened #459 "boundary auth support"
Our auth system (generate jwt token) should support the external authentication system.

more: https://www.boundaryproject.io/docs/common-workflows/manage-users-groups

[2020-10-16 11:14] matheusfrancisco commented on #438
@guidiego  are you working on it?

[2020-10-16 20:23] avelino commented on #412
@chenrui333 I looked at this issue and I couldn't understand what I need to do to solve, can you help me?

our release generation process is working via `git tag + goreleaser`

[2020-10-17 23:59] fabriziomello commented on #388
@avelino just an example below of what I have in mind. Of course I need to add more comments.

# pREST + TimescaleDB

Sample Dataset used: https://docs.timescale.com/latest/tutorials/other-sample-datasets#in-depth-devices

## 0) Setup

### 0.1) docker-compose.yml

[code]

### 0.2) Loading data

[code]

## 1) Simple Query

[code]

## 2) Joining tables

[code]

## 3) Using VIEWs

[code]

## 4) Batch

[2020-10-18 00:01] fabriziomello commented on #388
My first tough was create a new section on docs named `Integrations` and inside new chapter named `TimescaleDB` but I'm not sure if is the best way... perhaps a new section called `Examples`... what's your thoughts?

[2020-10-18 20:53] avelino commented on #388
I like `Integrations` topics page name, send PR pls 😄

[2020-10-19 10:22] avelino commented on #363
We are working on the implementation of standard authentication, can be followed here https://github.com/prest/prest/issues/276

[2020-10-19 10:23] avelino commented on #363
cc @tiaguinho

[2020-10-28 07:54] #409 closed

[2020-10-31 20:32] #276 closed

[2020-10-31 20:36] avelino commented on #363
implementation of authentication endpoint completed, we will be grateful for your feedback
view more: https://docs.postgres.rest/query-statements/#auth-auth---post

[2020-10-31 20:36] #363 closed

[2020-11-01 21:11] avelino commented on #277
Fixed on #451

[2020-11-01 21:11] #277 closed

[2020-11-02 18:30] DiegoSantosWS commented on #435
It would be interesting to put the schema inside the configuration, instead of going straight to the url.

You proporsal:

[code]

[code]

My Proporsal:

[code]
[code]

[2020-11-03 13:42] avelino commented on #281
fixed in #410

[2020-11-03 13:42] #281 closed

[2020-11-03 13:53] avelino commented on #256
this problem was solved in this issue #361

[2020-11-03 13:53] #256 closed

[2020-11-03 13:57] avelino commented on #435
I like the idea of putting the `schema` in configuration, so we don't need to put `schema` in the **endpoint** (url), _avoiding_ having to **"guess"** what is **scheme and object (table, view, function, etc)**.

@fabriziomello what is your opinion?

[2020-11-04 17:24] avelino commented on #435
cc @guidiego

[2020-11-04 17:50] fabriziomello commented on #435
@DiegoSantosWS thanks a lot for having a look into it.

I think there was some misunderstanding here or maybe I didn't explain myself very well... have a look what I mentioned before:

So my original idea is **NOT** restrict the user to a specific `SCHEMA` and instead provide to him the same experience they have at the SQL level, for example:

[code]

What if you want to JOIN a table from `schema

[2020-11-04 18:14] avelino commented on #435
The problem with this approach is to identify via URI what is scheme and table.

[code]

the solution I see would be to count the amount of parameters we have in URI, but I can't get a clear vision how to implement

@fabriziomello do you have a lot of experience with posgresql running on several clients, is it common for applications to have join scheme?

[2020-11-04 18:29] fabriziomello commented on #435
Welcome to my boat!! This is the `Postgres` way to deal with objects (tables, functions, etc).

Yeap. Is very common to group tables from the same domain using schemas. And even in multi-tenancy environments often the create a `common` schema (in Postgres can be used the `public`) to store some shared data between tenants that resides into other schemas. Ok, the multi-tenancy thing can be implemen

[2020-11-04 21:13] avelino commented on #426
I dipped deep into the subject *OpenAPI* at pREST and trying to understand which way to go, but I confess that this hole is deeper than I imagined.

The issue proposes to use swagger, but in my option the notes inside the code look awful 😯

Simple example (imagine a complex example):
[code]
Not counting the `structs` to exemplify the return of the endpoint.

It would be something in this line for

[2020-11-10 03:34] guidiego opened #468 "[Proposal] ACL for Authentication Feature"
**Is your feature request related to a problem? Please describe.**
Recently we add an auth system to pRest and this opens some new problems related to it. I will share on this issue some ACL ideas and crazy points that I figured out during a talk with @avelino.

The core problem is: once that we authenticate inside pRest We could lead with any entity because We are authorized. In a real situation,

[2020-11-10 14:36] guidiego commented on #435
I will break my comment in parts.

# Schema on Config an re-work on URLs
I prefer use something like:
[code]

And use a default API domain for solve this case:

My proposal is:

[code]

[2020-11-11 20:29] tiaguinho opened #469 "Create user with CLI"
Create a command to create users (like django) to be used on the auth endpoint.

[2020-11-13 06:00] aidan-plenert-macdonald opened #471 "Integration with casbin"
You support fields permissions, but from what I can tell, it is not on a per user basis.

https://github.com/prest/prest/blob/f646e763875ac77068e9bdc493735e7f3017530f/adapters/postgres/postgres.go#L1121-L1153

I would suggest using [casbin](https://github.com/casbin/casbin#get-started) which could support access roles on a per user basis. This would permit much more intricate policies for users.

[2020-11-16 01:25] aidan-plenert-macdonald commented on #471
The tests for TablePermission and FieldsPermission don't seem to run normally. Can you please explain how to run them?

[2020-11-21 22:49] aidan-plenert-macdonald commented on #471
Using Postgres roles is probably better like https://postgrest.org/en/v3.2/admin_security.html and https://stackoverflow.com/a/19602050

[2020-11-21 22:49] #471 closed

[2020-11-22 00:35] aidan-plenert-macdonald opened #472 "./adapters/test.sh - could not load $HOME/queries/fulltable/patch_all.update.sql"
**Describe the bug**

[code]

**To Reproduce**
Steps to reproduce the behavior:
[code]

**Expected behavior**

It looks like some files didn't get commited or something. Several tests fail because of this.

[2020-11-22 00:41] aidan-plenert-macdonald commented on #468
Hey, I have been looking at this too. I looked at supporting casbin as the authorization provider, but then I thought that the only safe way to do this is to use [Postgres Roles](https://www.postgresql.org/docs/13/database-roles.html)

The problem with any kind of ACL, RBAC, etc from your app is that if I create a VIEW, you might accidentally bipass the intended permissions.

Using Postgres roles,

[2020-11-22 00:48] aidan-plenert-macdonald commented on #439
Without using Postgres roles, I believe such an endpoint could easily bypass your current authorization scheme. See my comment in https://github.com/prest/prest/issues/468#issuecomment-731658923.

For example,

[code]

[code]

[2020-11-22 01:14] aidan-plenert-macdonald opened #473 "Insecure Password Hashing"
I'm not an expert, but I am pretty sure this is insecure.

https://github.com/prest/prest/blob/f646e763875ac77068e9bdc493735e7f3017530f/controllers/auth.go#L133-L142

See https://stackoverflow.com/a/18687445 for details, but first two points are,

* Don't use md5. Don't use a single cycle of sha-family quick hashes. Quick hashes help attackers, so you don't want that.
* Use a resource-intensive ha

[2020-11-22 10:30] avelino commented on #439
Good point, I had thought only of happy cumin (select friendly), to see your drop query left me worried about this feature. We need to evolve our permissions system to support this feature

[2020-11-25 06:45] dependabot-preview[bot] opened #476 "Dependabot couldn't find a go.mod for this project"
Dependabot couldn't find a go.mod for this project.

Dependabot requires a go.mod to evaluate your project's current Go dependencies. It had expected to find one at the path: `/cmd/prestd/go.mod`.

If this isn't a Go project, or if it is a library, you may wish to disable updates for it from within [Dependabot](https://app.dependabot.com/accounts/prest).

[View the update logs](https://app.dependa

[2020-11-27 14:36] geekdoagrest commented on #439
It could have an env-level flag that allows or does not allow writing query, EX:
`CUSTOM_QUERY=false|select|all`
But this is really quite dangerous :(
In the elastic we use auth_basic. it is an alternative for the most sensitive cases.

[2020-11-27 14:40] geekdoagrest commented on #425
If you need I can help.

[2020-11-27 15:41] avelino commented on #425
Very good @geekdoagrest, @guidiego updates the issue how you think about documenting and what he recommends to use to write the documentation.

I recommend staying inside the official documentation of the project, so we would use Hugo, [more here](https://github.com/prest/prest/tree/master/docs)

[2020-11-27 15:44] avelino commented on #439
the query execution can be turned on with JWT (it doesn't work if you have turned it off), but we need to generate the token with minimum expiration.

If the token has generated more than XX seconds it is not executed - forcing a low expiration time

[2020-11-27 15:54] aidan-plenert-macdonald commented on #439
Still seems very dangerous without using Postgres roles to control possible
actions. Basically anyone who can execute a query immediately has maximum
level permissions and they can create admin users so they continue to have
those permissions forever

On Fri, Nov 27, 2020, 07:44 Avelino <notifications@github.com> wrote:

[2020-11-27 16:13] geekdoagrest commented on #425
@avelino I already worked with Hugo in tabless website. it's very quiet...

[2020-11-27 21:00] guidiego commented on #425
Yeah! I agree, add the doc inside project will be the better approach!

About Technologie, I'd like to use Docusaurs, it's a Facebook documentation lib that use react to customize templates and this kind of things. Like Hugo, we use .md to populate our documentation. But I am open to discuss about it!

[2020-11-27 22:48] geekdoagrest commented on #425
@guidiego I looked at the docusaurus documentation and it seems easy, if it is not a problem to use something other than the official documentation, I agree.

[2020-11-27 22:54] guidiego commented on #425
@geekdoagrest I've used Hugo before and doesn't see any problems in use it! My point with Docusaurus is:

- We could add it on package.json and not install more deeps to run
- More family friendly to edit templates (talking about React develpers)
- I really like Docusaurus flexibility

At all, I 100% confident that if you prefer use Hugo you will make a good job! So feel free to take this decision

[2020-11-30 20:07] avelino commented on #439
I don't know how to use the permissions part of postgresql to manage this feature.

@aidan-plenert-macdonald could you help pREST with this part by creating an ACL model based on postgresql permissions? Do you think this is possible?

[2020-12-01 06:29] #476 closed

[2020-12-01 15:16] fabriziomello commented on #439
@avelino the concerns pointed out by @aidan-plenert-macdonald are valid because this feature will open the doors of the database to simply run SQL statements using and REST api. Do we really need it?? And I wonder because the doors we're open here also for SQL injection.

Anyway thinking more about it what if to execute SELECT statements we create a special schema maybe called `_prest` and encapsu

[2020-12-02 07:58] geekdoagrest commented on #425
@guidiego ok, I also think the Docusaurus is the best way. Commit this repo or https://github.com/prest/prest.admin?

[2020-12-02 10:39] avelino commented on #439
@fabriziomello in the issue description I explain the reason for the existence - pREST Admin will have a sql queries executor

@aidan-plenert-macdonald @fabriziomello thinking about security we can limit execution of select command (the query starts with select), what is your opinion about this form of "security" reason ❓

[2020-12-02 13:58] aidan-plenert-macdonald commented on #439
I really don't think there is any alternative to Postgres Roles

Just send this over in a single query.
[code]

You could try to filter 100's of ways, but ultimately with the exception of rewriting Postgres, only Postgres can truly limit access.

[2020-12-02 19:05] guidiego commented on #425
@geekdoagrest in prest.admin please! Here we will only tracking issues :)

[2020-12-03 18:32] tiaguinho opened #477 "Group right side of the JOIN in one field"
## Scenario

Imagine you have two tables, `posts` and `comments`, with the following structure:
[code]

To get the post and all comments in the same request, you have to do something like this:
[code]

## The problem

1) For each comment, we have the post data again.
2) The values of ID, likes, and dislikes of the post, are replaced by the comment data.

## Solution

Create on flag `_group_table_f

[2020-12-03 20:49] avelino commented on #439
I agree that view is the best solution (pREST already works with this kind of object), but as an engineer (developer) I don't like "things" inside the database, drop view, create view to change something bothers me, not to mention lack of version control for views, functions and etc.

In the SELECT and DROP example in the same query: we can limit the query in the first `;`, that would limit the ma

[2020-12-11 06:26] dependabot-preview[bot] opened #480 "Dependabot couldn't find a go.mod for this project"
Dependabot couldn't find a go.mod for this project.

Dependabot requires a go.mod to evaluate your project's current Go dependencies. It had expected to find one at the path: `/cmd/prestd/go.mod`.

If this isn't a Go project, or if it is a library, you may wish to disable updates for it from within [Dependabot](https://app.dependabot.com/accounts/prest).

[View the update logs](https://app.dependa

[2020-12-11 11:33] #480 closed

[2020-12-29 08:03] #388 closed

[2020-12-31 15:01] avelino opened #486 "PostgreSQL Full Text Search support"
## Is your feature request related to a problem? Please describe.
Postgres has [text search support](https://www.postgresql.org/docs/9.5/textsearch.html) _(I'm not talking about **like/ilike**)_ and some methods to tokenize the text.

It would be interesting to **pREST** to support full text search of Postgres

## Describe the solution you'd like

**Endpoint:**
`/DATABASE/SCHEMA/TABLE?{FIELD NAME}

[2020-12-31 19:47] #486 closed

[2021-01-19 14:07] rafaelsierra opened #495 "docs.postgres.rest is down"
Seems to be some issue with DNS changing from `postgres.rest` to `prestd.com`

[2021-01-19 14:49] avelino commented on #495
@rafaelsierra docs.postgres.rest is not redirecting (301) to docs.prestd.com?

[2021-01-19 16:10] rafaelsierra commented on #495
It is but, this is the error:

[code]

[2021-01-19 16:21] avelino commented on #495
[code]

[2021-01-19 16:42] rafaelsierra commented on #495
A bunch of places are having trouble resolving the DNS: https://www.whatsmydns.net/#A/docs.prestd.com (same for ipv6)

Most of the failures are reporting `rcode SERVFAIL` (same I get when calling `dig` locally)

[2021-01-20 21:49] avelino commented on #495
Problem solved, was the DNSSEC
https://dnsviz.net/d/prestd.com/dnssec/

[2021-01-20 21:49] #495 closed

[2021-01-24 13:31] inv2004 opened #497 "prest looses database context during concurrent calls"
**prest looses current database context if you make several requests to different database-names (on one instance)**

**To Reproduce**
To catch the datarace-condition it would be better to insert if database == "db1" { Sleep(3*time.Second) } before runQuery in controllers/tables.go:

1) Run query1 to db1/tbl1
2) Run query2 to db2/tbl2
3) query 1 returns data
3s sleep
4) query1 fails with error bec

[2021-01-24 14:40] inv2004 commented on #497
@nkolster is added to watch the issue

[2021-02-05 11:24] gibsonc opened #502 "Sample configuration file"
Just a suggestion.

It may be a good idea to package a sample toml file in the binary release to show all the options available. I wanted to run https and found that the [ssl] section in the documentation refers to the database connection to the database and not to the http connector itself.

Looking at the configuration code in config.go I found the (currently undocumented) [https] section with a

[2021-02-10 18:14] fabriziomello commented on #502
Great idea... would be nice to receive a PR with this config file example!

[2021-02-18 13:11] fabriziomello opened #510 "Improve local tests execution"
Nowadays to execute pREST tests we need to create and configure a PostgreSQL instance separately before the execution and sometimes it can be a completely pain if you don't have too much experience with setting up the database.

The idea here is to discuss and improve the current way of running tests locally, maybe creating a Makefile. Any ideas are very welcome!

[2021-02-18 13:36] avelino opened #511 "Documentation (integration) how to use FDW (Foreign Data Wrappers) + pREST"
**What is FDW?** read [here](https://wiki.postgresql.org/wiki/Foreign_data_wrappers)

FDW connects to an external database (MySQL, MSSQL, Oracle, MongoDB, Kafka, HBase/BigTable, Elasticsearch, ...) and via PostgreSQL connection it is possible to consume data from the external database.

This integration should be written using WordPress, creating a Rest API using _p_**REST**

refs:
- [docker hub](

[2021-02-18 14:25] felipeweb commented on #510
We can use https://github.com/zombiezen/postgrestest to avoid any pre configuration

[2021-02-22 11:05] Leocete commented on #352
any solutions to this problem?

[2021-02-22 15:07] avelino commented on #352
[code]

yep, this issue got lost from my vision, sorry for not closing it earlier

[2021-02-22 15:07] #352 closed

[2021-02-24 05:02] chihpoc opened #512 "Support row-level security"
It doesn't seem `prest` supports row-level security yet. Is it in the plan to utilize postgresql's row-level security to restrict visibility and access for the current user?

[2021-02-24 14:42] fabriziomello commented on #512
For now I can see a big win adding it to pREST level because IMHO the RLS (Row-Level Security) is a database engine feature and there are no problem to create your policies inside the PostgreSQL to reflect it on pREST.

The big problem I can see here is nowadays we connect to PostgreSQL using just one user and it cannot help to much if you want to create policies to restrict rows for different use

[2021-02-24 15:10] chihpoc commented on #512
@fabriziomello thanks a lot for your prompt response!

say we have a `todos` table

[code]

the following api call should return only the items "owned" by current_user except for public items.
[code]

any pointers on how to implement this feature would be greatly appreciated!

[2021-02-25 13:14] fabriziomello commented on #512
You should use `CREATE POLICY` statement to create your own policies. Have a look at the official documentation:

https://www.postgresql.org/docs/current/ddl-rowsecurity.html
https://www.postgresql.org/docs/current/sql-createpolicy.html

[2021-03-03 01:14] chihpoc commented on #512
very much appreciated!

[2021-03-03 01:14] #512 closed

[2021-03-24 09:21] ericdai opened #514 "in debug mode still say "authorization token is empty""
I run prest in debug mode .I think  auth is off ,but it still say "authorization token is empty"

[2021-03-29 20:02] rhenanbartels opened #515 "Cannot deploy on Heroku clicking on "Deploy to Heroku""
**Describe the bug**
Cannot deploy on Heroku clicking on "Deploy to Heroku"

**To Reproduce**
Steps to reproduce the behavior:
1. Click on the button "Deploy to Heroku"
2. Check app logs on Heroku

**Expected behavior**
Run pREST instance on Heroku

**Desktop (please complete the following information):**
 - pREST version (or commit ref): b754fe35477f37744
 - pREST endpoint: -
 - PostgreSQL versio

[2021-03-30 18:06] avelino opened #517 "entrypoint file does not support database_url"
ref #515

When the `DATABASE_URL` environment variable is declared we must parse it before the nc loop (network check)

https://github.com/prest/prest/blob/1dab14f27b2b096c31981e83cbd3c5bc0b5e5507/etc/entrypoint.sh#L3-L13

[2021-03-30 18:38] avelino commented on #517
I imagine something along these lines:

[code]

[2021-03-30 20:38] avelino commented on #515
@rhenanbartels click deploy problem solved, sorry for the inconvenience

example: https://prest-asjdkajsd999.herokuapp.com/databases

[2021-03-30 23:01] rhenanbartels commented on #515
Thank you very much @avelino.

I will make a deployment right now

[2021-03-31 15:04] turicas opened #520 "Serialize to array of arrays (row or column-oriented)"
## Is your feature request related to a problem?

In some use cases it's preferred to have data in an array of arrays instead of an array of objects (the current format API returns). This approach would help creating APIs for dashboards, since many frontend chart libraries accept a list of values directly (row or column oriented). Not supporting this would add extra traffic between frontend and ba

[2021-03-31 15:07] turicas opened #521 "Serialize to msgpack"
## Is your feature request related to a problem?

[msgpack](https://msgpack.org/) is smaller and faster than JSON, as can be seen on [this benchmark](https://gist.github.com/fabiuz7/40bf4247f4d762dd483a765c0c2cba41).

## Describe the solution you'd like

Adding a query string parameter `format`, having `json` as its default and `msgpack` as an option.

[2021-03-31 15:08] turicas commented on #520
Serializing to [msgpack](https://msgpack.org/) (#521) could also help saving serialization time and traffic.

[2021-04-15 11:48] avelino opened #523 "heroku: add environment variables on the installation page"
ref: https://devcenter.heroku.com/articles/app-json-schema#env

Declare all prest environment variables as defaults on the heroku installation page, giving the user the option of setting the configuration to an existing database.

[code]

here -> https://github.com/prest/prest-heroku/blob/main/app.json

[2021-04-17 11:01] t-hofmann opened #524 "docker-compose example not working because prest tries to connect with ssl and postgres-service is running without sslmode"
workaround:
add something like:
      PREST_PG_URL: "postgres://USER:PASSWORD@postgres:5432/DATABASE?sslmode=disable"
to the environment of the prest-service in the docker-compose.yml

Fix:
introduce a new environment-variable "PREST_PG_SSL" to be one of [enable, disable], default: disable
to the prest-service
which consequently is used to configure presumable the pq-driver

Kindly,
Thomas

[2021-04-22 14:16] alan-francis opened #527 "PREST: Transform the output"
Hi

I would like to transform my output from the postgrest API url, like below.

My API: http://localhost:3000/my_database/my_schema/my_view

Generated output:
[code]

Desired Output: (Here I want the output to be transformed to remove the column field "my_column_table_field" of the view from the result.)
[code]
Is there a way to achieve this in postgrest?

[2021-04-23 00:17] avelino commented on #527
@alan-francis I like the proposal,

We can have a configuration in TOML to call a template file (go template) to use as ETL.

Can you implement it?

[2021-04-27 19:01] fabriziomello commented on #527
@alan-francis @avelino seems it's somehow related to #520 no?

[2021-04-27 20:56] avelino commented on #527
@fabriziomello yep

[2021-04-28 03:32] fabriziomello commented on #524
@t-hofmann I'm looking at it... seems this [commit](https://github.com/prest/prest/commit/336d868ba3509b36caf51c8dc41faa86735f0e5d) broke our Docker examples because is [disabled by default on postgres configuration](https://postgresqlco.nf/doc/en/param/ssl/).

Fix is pretty simple, something like:

[code]

But I'm just thinking if we should expose the pREST SSL config into environment variables.

[2021-04-28 11:36] t-hofmann commented on #524
I like the environment variable, would be more coherent.
Without it and in case "sslmode=enabled", the only way would be to use "PREST_PG_URL", which as a sideeffect would kind of disable the other PREST_PG_-environment variables...

[2021-04-28 19:06] fabriziomello commented on #524
@t-hofmann it was more simple than I imagine... have a look on PR #529

[2021-04-28 20:26] #524 closed

[2021-04-30 16:47] rhenanbartels opened #533 "docker-compose depends_on doesn't wait DB to be ready for connections"
Hi,

running pRest locally with `docker-compose -f docker-compose.yml up` throws an exception saying that the `prest` service wasn't able o connect to the `postgres` service.

It seems that although there is a `depends_on` flag on docker-compose.yml it doesn't guarantee that the database is already accepting connections. The Postgres service runs a bootstrap to prepare the database and it takes a

[2021-05-02 19:37] #533 closed

[2021-05-02 19:53] #523 closed

[2021-05-12 16:43] pandrian75 opened #536 "CockroachDB support"
CockroachDB support will be great!
Pierre A.

[2021-05-12 20:18] avelino commented on #536
discussion related to this subject
https://github.com/prest/prest/discussions/387#discussioncomment-108952

[2021-05-12 20:19] avelino commented on #239
discussion related to this subject
https://github.com/prest/prest/discussions/387#discussioncomment-108952

[2021-05-26 09:29] avelino opened #542 "Documentation theme"
We need to improve the appearance of the prest documentation, I found this theme interesting
- https://themes.gohugo.io/hugo-geekdoc/
- https://github.com/onweru/compose

[2021-06-01 03:11] tiaguinho opened #545 "Implement build with bazel"
Add bazel as the build tool for prest

[2021-06-03 21:53] avelino opened #547 "Support for json style added - Postgres 14"
**In Postgres 13 and early if you wanted to find all medium shirts that are neon yellow you write some query:**
[code]

That use of `->` and `->>` while I'm familiar with it and recall, also felt painful. You essentially had two different operators, one to traverse the JSON document `->` and then you'd add an extra `>` to extract the value as text.

**In Postgres 14 though:**
[code]

Note the use

[2021-06-10 09:29] hjelmeland commented on #197
So would it be possible to implement sending `SET ROLE` based on some predefined JWT attributes? Any reason why it should not work? Any coding tips in case I want to try to code it my self?

We need it for the project I am working on now. The alternative is to throw out pREST and make our own API.

[2021-06-10 12:57] avelino opened #548 "So would it be possible to implement sending `SET ROLE` based on some predefined JWT attributes?"
So would it be possible to implement sending `SET ROLE` based on some predefined JWT attributes? Any reason why it should not work? Any coding tips in case I want to try to code it my self?

We need it for the project I am working on now. The alternative is to throw out pREST and make our own API.

_Originally posted by @hjelmeland in https://github.com/prest/prest/issues/197#issuecomment-85846678

[2021-06-10 12:57] #548 closed

[2021-06-15 23:58] avelino opened #550 "endpoint to file upload"
**Is your feature request related to a problem? Please describe.**
APIs are generally not designed for data transfer, it is common to need to work with file uploads.

Today it is not possible to deal with file uploads - unless you have a blob field in the database (not a good practice).

**Describe the solution you'd like**
Endpoint that receives file (base64 and file) and saves to object store (_

[2021-06-16 14:46] fabriziomello commented on #550
Not sure if we'll get too much benefit implementing it because the steps 1 and 2 can be done easily by external object store CLI from each cloud vendor.

Another thing that came in my mind is that nowadays pREST requests are atomic (cause the backend is a RDBMS ofc). So if we add the notion of "file upload" as described in this issue we'll break it completely, and there are no easy way to guarante

[2021-06-16 15:05] avelino commented on #550
@fabriziomello good point,

Usually, software in production will not use the CLI from the cloud provider, but have to implement a new endpoint for image upload. I will go further, usually real APIs do not have a single endpoint for image upload. If you have an image field, you send a request to the endpoint (`/xyz`) containing the data + file (base64) and it uploads it to the object store and with

[2021-06-16 18:41] fabriziomello commented on #550
Sure... what I really meant is use the related API (from cloud vendors) to interact with Object Store.

How we'll guarantee the request atomicity??? It's not simple ... What I already saw out there is implementations using the RDBMS as a staging storage and in background another service sending asynchronously to external Object Store and removing from RDBMS saving the corresponding URL

Plugin?

N

[2021-06-16 20:33] DiegoSantosWS commented on #550
I like the idea of this implementation being in plugin format.

That way we would be able to make implementations with other coulds, such as DO and GCP Storage.

Using the idea of enabling the `endpoint` the user (client) can inform the cloud and the access key/secret at format `base64`

[2021-06-17 00:21] #550 closed

[2021-06-17 00:30] avelino opened #554 "`ltree` field support"
I like the idea of supporting `ltree` field

To support this type of fields would be to implement the list of operators (`Table F.13. ltree Operators`), here https://github.com/prest/prest/blob/9b677c30fef3f06f62f8a22cafd55a075655bdbc/adapters/postgres/postgres.go#L1028:L1067

_Originally posted by @kalmarz in https://github.com/prest/prest/discussions/504_

[2021-06-17 09:03] avelino opened #555 "Change TravisCI to GitHub Actions"
[code]
Latest Travis run: https://travis-ci.com/github/prest/prest/builds/227424647

the pipeline took a total of ~9min and 2:30min to run, Travis does not have a friendly experience with the data because it is slow (it is possible to live with, but we can improve).

Related: #510